/* ============================================================================

  BOX SIZING

===============================================================================

  - Allows the use of the box mixin, no variables

============================================================================ */

@mixin box(){

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}