@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 1025px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 770px)  { @content; }
  }
  @else if $point == smallMobile {
    @media (max-width: 400px)  { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1026px)  { @content; }
  }
  @else if $point == smallDesktop {
    @media (max-width: 1365px) { @content; }
  }

}

//Min Width - Mobile First

@mixin bpmin($point) {
  @if $point == tablet {
    @media (min-width: 1025px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 770px)  { @content; }
  }
  @else if $point == smallMobile {
    @media (min-width: 400px)  { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1026px)  { @content; }
  }
  @else if $point == mobileUp {
    @media (min-width: 771px) { @content; }
  }
  @else if $point == tabletUp {
    @media (min-width: 1026px) { @content; }
  }
}