/* ============================================================================

  CLEARFIX

===============================================================================

  - Clears floated elements

============================================================================ */

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}