/* ============================================================================

  FONTS

===============================================================================

  - Easily decide which fonts to use.

============================================================================ */

@mixin font( $font: 'sans', $size: 16, $weight: 400, $style: normal )
{
  $set: false;

  $save_weight: $weight;

  @if ( $weight == '+' )
  {
    $set: 400;
  }


$sans: 'Nazanin W20', 'Avenir Next W00', 'Arial', 'sans-serif';
$sans-c: 'Nazanin W20', 'Avenir Next W01', 'Arial', 'sans-serif';
$body: 'Nazanin W20', 'adobe-garamond-pro', 'Times New Roman', 'serif';
$serif: 'Akhbar W23', 'ITC Caslon No. 224 W01', 'Times New Roman', 'serif';

  $weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

  $styles: 'normal','italic','oblique','initial','inherit';

  @if ( $font == 'sans' )
  {
    $font: $sans;

    @if ( $weight == '+' )
    {
      $weight: 400;
    }
    @else
    {
      $weight: 200;
    }

  }
  @elseif ( $font == 'sans-c' )
  {
    $font: $sans-c;
    @if ( $weight == 400 )
    {
      $weight: 500;
    }
    @else
    {
      $weight: $weight;
    }

  }
  @elseif ( $font == 'body' )
  {
    $font: $body;
  }
  @elseif ( $font == 'serif' )
  {
    $font: $serif;
  }
  @else
  {
    $font: $serif;

    @if ( $style == 'italic' )
    {
      $weight: 400;
    }
    @else
    {
      $weight: 300;
    }

  }

  @if ( index( $weight, $weights ) )
  {
    $weight: $weight;
  }

  @if ( index( $style, $styles ) )
  {
    $style: $style;
  }

  font-family: $font;
  font-size: $size + px;

  @if ( $weight != 400 && $set == false )
  {
    font-weight: $save_weight;
  }

  @if ( $style != 'normal' )
  {
    font-style: $style;
  }


}

// Self hosted fonts


@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=e5a32a08-5d89-4a59-add7-73320942c8bf");
    @font-face{
        font-family:"Avenir Next W00_n1";
        src:url("../fonts/c0188ad0-247f-477d-9526-50b274232352.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/c0188ad0-247f-477d-9526-50b274232352.eot?#iefix");
        src:url("../fonts/c0188ad0-247f-477d-9526-50b274232352.eot?#iefix") format("eot"),url("../fonts/e752a633-50ba-41e9-a13a-5ebf7e6042e4.woff2") format("woff2"),url("../fonts/cf48de9f-77b6-4dd5-acd2-2b8801621202.woff") format("woff"),url("../fonts/8a62c8f4-04dc-45ea-b84f-7dddcd27afad.ttf") format("truetype"),url("../fonts/a9b6db18-6b5d-4209-8eef-cf22422bc83e.svg#a9b6db18-6b5d-4209-8eef-cf22422bc83e") format("svg");
font-weight: 100;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W00_i1";
        src:url("../fonts/97a8c3a7-6ad9-4bfa-8d66-fa189155d194.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/97a8c3a7-6ad9-4bfa-8d66-fa189155d194.eot?#iefix");
        src:url("../fonts/97a8c3a7-6ad9-4bfa-8d66-fa189155d194.eot?#iefix") format("eot"),url("../fonts/92b18445-6b83-400f-ba60-387b0e0f3a6f.woff2") format("woff2"),url("../fonts/2b14f0a0-daea-4833-bf27-8af7874e7c7d.woff") format("woff"),url("../fonts/873f5dc2-2e3e-4caf-95d5-6006aae2f177.ttf") format("truetype"),url("../fonts/0491c9ef-b9bc-4528-8fc1-aaf0a0d8b992.svg#0491c9ef-b9bc-4528-8fc1-aaf0a0d8b992") format("svg");
font-weight: 100;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W00_n2";
        src:url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix");
        src:url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot"),url("../fonts/174d458a-81e0-4174-9473-35e3bf0a613c.woff2") format("woff2"),url("../fonts/57a79aa3-9b06-4ba7-a9a4-2b766d826ecf.woff") format("woff"),url("../fonts/733cb7bd-50e1-4dee-893a-0b40ef382b02.ttf") format("truetype"),url("../fonts/594135c6-6c4f-4880-a0d2-ba923b5ef38e.svg#594135c6-6c4f-4880-a0d2-ba923b5ef38e") format("svg");
font-weight: 200;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W00_i2";
        src:url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix");
        src:url("../fonts/9e4f77ac-2ea3-4f4e-b592-290f5c4af932.eot?#iefix") format("eot"),url("../fonts/69a545eb-cdd0-4c00-9035-0029d8cede28.woff2") format("woff2"),url("../fonts/642cb581-067a-4f15-9df9-55c49c6b5446.woff") format("woff"),url("../fonts/972d8132-0f21-4d94-b42d-8f4022e6aa17.ttf") format("truetype"),url("../fonts/670d40f3-affd-4e16-8ad8-055f11470e24.svg#670d40f3-affd-4e16-8ad8-055f11470e24") format("svg");
font-weight: 200;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W00_n4";
        src:url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix");
        src:url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot"),url("../fonts/7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"),url("../fonts/4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"),url("../fonts/276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"),url("../fonts/5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg#5d02f5f4-46e7-453a-aef9-3e7106d7bb68") format("svg");
font-weight: 400;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W00_i4";
        src:url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix");
        src:url("../fonts/78f55966-cc8e-4f4c-bf8b-8fe59be9fe96.eot?#iefix") format("eot"),url("../fonts/b17468ea-cf53-4635-984b-4d930a68ed4d.woff2") format("woff2"),url("../fonts/4d1d0d0d-9ea6-4117-901f-8b32ca1ab936.woff") format("woff"),url("../fonts/66b50093-e606-427c-a42a-a44b2f9ff219.ttf") format("truetype"),url("../fonts/78695677-7ebb-4ef8-8996-eff09dc64f26.svg#78695677-7ebb-4ef8-8996-eff09dc64f26") format("svg");
font-weight: 400;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W00_n5";
        src:url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix");
        src:url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot"),url("../fonts/b0b84e4d-2164-45c7-a674-1662f19f3ba6.woff2") format("woff2"),url("../fonts/e91d1bbf-3fea-45e2-b003-a22b12ce6e5f.woff") format("woff"),url("../fonts/ead8b64b-1abd-4d5b-a642-a21dfe2f463b.ttf") format("truetype"),url("../fonts/e536e1c2-92a4-4db4-8a41-1c55354d11b7.svg#e536e1c2-92a4-4db4-8a41-1c55354d11b7") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W00_i5";
        src:url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix");
        src:url("../fonts/1f022c78-180e-4c6b-b5ee-e1573f17e4b6.eot?#iefix") format("eot"),url("../fonts/349e5647-5161-46bb-a19f-8a609ae235e4.woff2") format("woff2"),url("../fonts/cc0a88c2-524b-4c90-b6f0-a80570222c30.woff") format("woff"),url("../fonts/03aefdc0-0198-4662-a9c7-640a4734063e.ttf") format("truetype"),url("../fonts/132a539d-37fa-48fb-92ec-1f4591f98ee1.svg#132a539d-37fa-48fb-92ec-1f4591f98ee1") format("svg");
font-weight: 500;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W00_n7";
        src:url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix");
        src:url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"),url("../fonts/4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"),url("../fonts/04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"),url("../fonts/bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"),url("../fonts/68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg#68f0375d-f66f-4f88-822a-5a0b61d2efc0") format("svg");
font-weight: 700;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W00_i7";
        src:url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix");
        src:url("../fonts/8316f326-afe6-49dc-a5d8-cd1d521182c2.eot?#iefix") format("eot"),url("../fonts/395aeb70-3407-45d6-91b3-3d9a114af9bd.woff2") format("woff2"),url("../fonts/5f0686cb-9605-4656-8b38-9b8ca092ca9b.woff") format("woff"),url("../fonts/5fafc2a7-1ec9-4ba2-8d0b-836dfae0023b.ttf") format("truetype"),url("../fonts/f2ab6bd3-14da-4c86-949e-eddf030a8147.svg#f2ab6bd3-14da-4c86-949e-eddf030a8147") format("svg");
font-weight: 700;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W00_n8";
        src:url("../fonts/ef4cad7e-cd09-4c64-ade9-5c99ffec032c.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/ef4cad7e-cd09-4c64-ade9-5c99ffec032c.eot?#iefix");
        src:url("../fonts/ef4cad7e-cd09-4c64-ade9-5c99ffec032c.eot?#iefix") format("eot"),url("../fonts/9590a83b-5072-43f4-b321-296d75e96d7d.woff2") format("woff2"),url("../fonts/fe3b4b6f-0633-4d79-8915-4fa24db0c0cc.woff") format("woff"),url("../fonts/2f549da8-c9f2-45e3-8fe0-8491cb395935.ttf") format("truetype"),url("../fonts/d7af93d6-04f7-48a4-88a5-6e1a5ba5754f.svg#d7af93d6-04f7-48a4-88a5-6e1a5ba5754f") format("svg");
font-weight: 800;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W00_i8";
        src:url("../fonts/33c1c43b-a128-4e32-ac7d-d69c15f06ceb.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W00";
        src:url("../fonts/33c1c43b-a128-4e32-ac7d-d69c15f06ceb.eot?#iefix");
        src:url("../fonts/33c1c43b-a128-4e32-ac7d-d69c15f06ceb.eot?#iefix") format("eot"),url("../fonts/36b39dbd-d105-4428-a201-87f710574b20.woff2") format("woff2"),url("../fonts/2c10ced5-1117-4e9d-9b19-69c72527ac7a.woff") format("woff"),url("../fonts/b01d2163-6813-48c3-b74f-641bfa1bd0ae.ttf") format("truetype"),url("../fonts/8fc17ee1-c73b-415b-b22a-825e0962f49b.svg#8fc17ee1-c73b-415b-b22a-825e0962f49b") format("svg");
font-weight: 800;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n1";
        src:url("../fonts/8ce12460-588e-4471-af8f-7d6d72435606.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/8ce12460-588e-4471-af8f-7d6d72435606.eot?#iefix");
        src:url("../fonts/8ce12460-588e-4471-af8f-7d6d72435606.eot?#iefix") format("eot"),url("../fonts/4e85b83c-23d4-44fb-9b42-b7d35d7fdbdc.woff2") format("woff2"),url("../fonts/a09b5aae-fed9-40e0-9990-20eeaece9255.woff") format("woff"),url("../fonts/0fd9370c-b031-4de3-a183-228b47c8ad56.ttf") format("truetype"),url("../fonts/a30a07b5-d5bc-4f00-a949-20f62723d116.svg#a30a07b5-d5bc-4f00-a949-20f62723d116") format("svg");
font-weight: 100;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i1";
        src:url("../fonts/a67ef414-c5d7-468b-b47e-d184186ab1af.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/a67ef414-c5d7-468b-b47e-d184186ab1af.eot?#iefix");
        src:url("../fonts/a67ef414-c5d7-468b-b47e-d184186ab1af.eot?#iefix") format("eot"),url("../fonts/0af7c703-9511-413c-b2b0-0028ee78523f.woff2") format("woff2"),url("../fonts/31e6842e-9840-4bbe-8a92-47e14d532a18.woff") format("woff"),url("../fonts/e681b22e-866c-4ee6-ab86-10a2ed50dbb3.ttf") format("truetype"),url("../fonts/025a5227-5321-4f52-9c20-85176659a709.svg#025a5227-5321-4f52-9c20-85176659a709") format("svg");
font-weight: 100;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n5";
        src:url("../fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix");
        src:url("../fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix") format("eot"),url("../fonts/7fb4cb78-601f-4bb2-995a-442252089573.woff2") format("woff2"),url("../fonts/19db35b6-b3e8-400b-ae62-a3d37cc9fa56.woff") format("woff"),url("../fonts/61860563-e9eb-40bd-844e-48e96af9d063.ttf") format("truetype"),url("../fonts/94f6e6be-004d-4b3a-8b0e-f07609dc1726.svg#94f6e6be-004d-4b3a-8b0e-f07609dc1726") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i5";
        src:url("../fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix");
        src:url("../fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix") format("eot"),url("../fonts/f31d487c-aab1-4ce0-8fb8-4bdfa26dd539.woff2") format("woff2"),url("../fonts/6b0725b6-26e5-4bcf-8174-4d4b4d4217b9.woff") format("woff"),url("../fonts/435f931d-7af1-4f3a-a084-3d7aed6cd568.ttf") format("truetype"),url("../fonts/962508db-d57e-4eb1-a483-28a105ee2b25.svg#962508db-d57e-4eb1-a483-28a105ee2b25") format("svg");
font-weight: 500;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n6";
        src:url("../fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix");
        src:url("../fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix") format("eot"),url("../fonts/c1ecdeb5-a61a-4207-ae23-0441885ba32d.woff2") format("woff2"),url("../fonts/4a75c3b0-f2ef-402c-b54b-ed543933e9c5.woff") format("woff"),url("../fonts/bb18d7e3-286e-4825-bf91-7fbeaf607d05.ttf") format("truetype"),url("../fonts/9c91e8bb-b452-4e4f-b00c-dad5dadb10c6.svg#9c91e8bb-b452-4e4f-b00c-dad5dadb10c6") format("svg");
font-weight: 600;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i6";
        src:url("../fonts/c705e79c-88bf-49cf-b054-d2cd2b700cb0.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/c705e79c-88bf-49cf-b054-d2cd2b700cb0.eot?#iefix");
        src:url("../fonts/c705e79c-88bf-49cf-b054-d2cd2b700cb0.eot?#iefix") format("eot"),url("../fonts/5d02d040-4b68-4c3d-bd11-ef4664ff33cf.woff2") format("woff2"),url("../fonts/d1710add-9d03-4bda-b16e-c46b21ccaa64.woff") format("woff"),url("../fonts/398bc882-7cc8-4fce-a487-abe01122ff34.ttf") format("truetype"),url("../fonts/d5cfa01e-526b-462e-8873-2bb24ebad1d3.svg#d5cfa01e-526b-462e-8873-2bb24ebad1d3") format("svg");
font-weight: 600;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n7";
        src:url("../fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");
        src:url("../fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"),url("../fonts/d268cd4d-987c-468a-a9bb-685df57a3892.woff2") format("woff2"),url("../fonts/add96dac-4679-4981-9390-74fd5a5bf61f.woff") format("woff"),url("../fonts/60f1dfd0-eea9-448c-84a0-e4e8d5ba7516.ttf") format("truetype"),url("../fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg");
font-weight: 700;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i7";
        src:url("../fonts/59849657-f79e-4c9c-807e-cf3bdaf6cd8c.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/59849657-f79e-4c9c-807e-cf3bdaf6cd8c.eot?#iefix");
        src:url("../fonts/59849657-f79e-4c9c-807e-cf3bdaf6cd8c.eot?#iefix") format("eot"),url("../fonts/e56d2786-8357-40f9-910f-27c0b9247d4b.woff2") format("woff2"),url("../fonts/0053d44b-70fb-4049-bb99-4e049090191f.woff") format("woff"),url("../fonts/e317c755-2435-4d10-8756-67a0179564a5.ttf") format("truetype"),url("../fonts/a4ba042b-90d1-4acd-baea-706dee7fa81b.svg#a4ba042b-90d1-4acd-baea-706dee7fa81b") format("svg");
font-weight: 700;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n8";
        src:url("../fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix");
        src:url("../fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix") format("eot"),url("../fonts/9f6106aa-36e0-4cfb-8cda-c3354eab2461.woff2") format("woff2"),url("../fonts/ff039068-be8b-415c-b1a9-24eedee1c3ab.woff") format("woff"),url("../fonts/cdd2cecb-bd0e-41e5-9ecd-ef60f52a35be.ttf") format("truetype"),url("../fonts/390c08bc-8d21-4af3-95a1-a73c21f189cd.svg#390c08bc-8d21-4af3-95a1-a73c21f189cd") format("svg");
font-weight: 800;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i8";
        src:url("../fonts/34b322c2-c1c5-40af-b8e1-fb7574cf68e4.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/34b322c2-c1c5-40af-b8e1-fb7574cf68e4.eot?#iefix");
        src:url("../fonts/34b322c2-c1c5-40af-b8e1-fb7574cf68e4.eot?#iefix") format("eot"),url("../fonts/741a7814-dce9-4eba-a17d-7a235d91ee46.woff2") format("woff2"),url("../fonts/8a911a4d-274f-4996-8857-e2c1d6b42d80.woff") format("woff"),url("../fonts/9b626f1d-8523-44d7-b47e-37ac358725b0.ttf") format("truetype"),url("../fonts/704e9f93-4543-421e-861d-7246e89734f7.svg#704e9f93-4543-421e-861d-7246e89734f7") format("svg");
font-weight: 800;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n9";
        src:url("../fonts/f65301e6-bde6-475a-9ec4-e717c9071ec0.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/f65301e6-bde6-475a-9ec4-e717c9071ec0.eot?#iefix");
        src:url("../fonts/f65301e6-bde6-475a-9ec4-e717c9071ec0.eot?#iefix") format("eot"),url("../fonts/8f88bcd5-8815-42e7-8ad4-500a79ee3896.woff2") format("woff2"),url("../fonts/8ed534f4-eeda-4572-abe3-72d0fdca7b2e.woff") format("woff"),url("../fonts/76586a32-27c7-46d6-9fd2-1be776727919.ttf") format("truetype"),url("../fonts/f5e460ec-29d2-437c-ace7-3dd23e7ae460.svg#f5e460ec-29d2-437c-ace7-3dd23e7ae460") format("svg");
font-weight: 900;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i9";
        src:url("../fonts/574f016f-df72-4bf4-8574-4a04160ad2df.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/574f016f-df72-4bf4-8574-4a04160ad2df.eot?#iefix");
        src:url("../fonts/574f016f-df72-4bf4-8574-4a04160ad2df.eot?#iefix") format("eot"),url("../fonts/026d994c-7246-43bf-892d-a3bd8e20d9fb.woff2") format("woff2"),url("../fonts/0416d7a9-ca05-4880-9820-100b1014b8e8.woff") format("woff"),url("../fonts/7bd1a09c-45cb-4bf8-bff2-015e69d58286.ttf") format("truetype"),url("../fonts/9b9e7f1d-5c52-42b0-bb41-dabe370775ef.svg#9b9e7f1d-5c52-42b0-bb41-dabe370775ef") format("svg");
font-weight: 900;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n2";
        src:url("../fonts/4998b3c8-f377-458d-9143-48ca2f5643bf.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/4998b3c8-f377-458d-9143-48ca2f5643bf.eot?#iefix");
        src:url("../fonts/4998b3c8-f377-458d-9143-48ca2f5643bf.eot?#iefix") format("eot"),url("../fonts/f93a7ba1-8ac9-422b-85ab-09c9138324de.woff2") format("woff2"),url("../fonts/98622b92-1cca-4c15-b19d-62b9c110cdb1.woff") format("woff"),url("../fonts/c20684a6-2733-4568-9708-8c4a7dfb4a5c.ttf") format("truetype"),url("../fonts/b126092f-08f5-4f0a-8f08-3e9fdbb5b21e.svg#b126092f-08f5-4f0a-8f08-3e9fdbb5b21e") format("svg");
font-weight: 200;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i2";
        src:url("../fonts/6c9b8b7e-5e1a-4813-9a08-bef545cc4a12.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/6c9b8b7e-5e1a-4813-9a08-bef545cc4a12.eot?#iefix");
        src:url("../fonts/6c9b8b7e-5e1a-4813-9a08-bef545cc4a12.eot?#iefix") format("eot"),url("../fonts/df8a8fcc-2f61-4eeb-82c6-a317c4ab1c89.woff2") format("woff2"),url("../fonts/4a25dc4d-e5c9-4fd1-8f90-c3558ecc4b93.woff") format("woff"),url("../fonts/e9842e10-9c7b-481c-a354-9dcd65ea4ef0.ttf") format("truetype"),url("../fonts/798dbe11-6b08-49bf-b9fb-686ae6189b51.svg#798dbe11-6b08-49bf-b9fb-686ae6189b51") format("svg");
font-weight: 200;
font-style: italic;
    }
    @font-face{
        font-family:"Avenir Next W01_n4";
        src:url("../fonts/7402f25d-4872-4227-90cf-66f66bc51b3d.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/7402f25d-4872-4227-90cf-66f66bc51b3d.eot?#iefix");
        src:url("../fonts/7402f25d-4872-4227-90cf-66f66bc51b3d.eot?#iefix") format("eot"),url("../fonts/cc0dbd66-bf64-4956-a5b8-66defe0680d4.woff2") format("woff2"),url("../fonts/1c842023-250d-448b-91ac-52441c066cb2.woff") format("woff"),url("../fonts/096bed6d-1686-43c6-894f-04c0f3bbf2f1.ttf") format("truetype"),url("../fonts/9ebde751-0201-4b52-a97b-03735fe6b845.svg#9ebde751-0201-4b52-a97b-03735fe6b845") format("svg");
font-weight: 400;
font-style: normal;
    }
    @font-face{
        font-family:"Avenir Next W01_i4";
        src:url("../fonts/a9f5d435-1343-4b1f-bd2f-15749f15e3fb.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Avenir Next W01";
        src:url("../fonts/a9f5d435-1343-4b1f-bd2f-15749f15e3fb.eot?#iefix");
        src:url("../fonts/a9f5d435-1343-4b1f-bd2f-15749f15e3fb.eot?#iefix") format("eot"),url("../fonts/536c7bb0-e31a-4d71-9e7c-3e46483a3465.woff2") format("woff2"),url("../fonts/fa081579-43f1-4d2c-b044-bf2591b9f90d.woff") format("woff"),url("../fonts/7a3678f7-0048-425a-821a-a51cfc18c7bb.ttf") format("truetype"),url("../fonts/4ac2b0ee-8cde-4460-a55a-bc8b93e9486f.svg#4ac2b0ee-8cde-4460-a55a-bc8b93e9486f") format("svg");
font-weight: 400;
font-style: italic;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_n3";
        src:url("../fonts/93ac235a-65ad-465f-9d63-0b0cfad056f5.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/93ac235a-65ad-465f-9d63-0b0cfad056f5.eot?#iefix");
        src:url("../fonts/93ac235a-65ad-465f-9d63-0b0cfad056f5.eot?#iefix") format("eot"),url("../fonts/7d1a7ee9-7c7a-4fba-bc8d-10b76db99411.woff2") format("woff2"),url("../fonts/26c98b73-8919-4b03-bd6e-6d5a01b98db5.woff") format("woff"),url("../fonts/3d754b3d-d1e0-4810-9a4b-85db59efb423.ttf") format("truetype"),url("../fonts/23bc91a5-1107-43a9-9f0c-de33253390ae.svg#23bc91a5-1107-43a9-9f0c-de33253390ae") format("svg");
font-weight: 300;
font-style: normal;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_i4";
        src:url("../fonts/9ad398bb-e953-4c74-9525-63927521ddf4.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/9ad398bb-e953-4c74-9525-63927521ddf4.eot?#iefix");
        src:url("../fonts/9ad398bb-e953-4c74-9525-63927521ddf4.eot?#iefix") format("eot"),url("../fonts/0e802b1f-f870-4f05-8ec8-9d480850162d.woff2") format("woff2"),url("../fonts/39ae4348-2717-4dc2-9ce1-56ad45cf9101.woff") format("woff"),url("../fonts/5eeec0a9-b178-4005-a89d-1ee560497d5e.ttf") format("truetype"),url("../fonts/77cf424b-494e-48df-9c6b-dbc91f1e9a3a.svg#77cf424b-494e-48df-9c6b-dbc91f1e9a3a") format("svg");
font-weight: 400;
font-style: italic;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_n5";
        src:url("../fonts/08cf5790-da91-4644-82c1-62fa87147f22.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/08cf5790-da91-4644-82c1-62fa87147f22.eot?#iefix");
        src:url("../fonts/08cf5790-da91-4644-82c1-62fa87147f22.eot?#iefix") format("eot"),url("../fonts/f907744b-74d5-403d-aca6-bebd57b6ab35.woff2") format("woff2"),url("../fonts/2d3f50f0-92c5-4531-8975-0d4cdc84cbde.woff") format("woff"),url("../fonts/7eae864d-1a05-4c7e-a33c-d98922f038a8.ttf") format("truetype"),url("../fonts/6e26784a-01a5-41c7-8970-b7e444752ab3.svg#6e26784a-01a5-41c7-8970-b7e444752ab3") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_i5";
        src:url("../fonts/1b512ca8-be07-4d64-8801-dfb3f747e64b.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/1b512ca8-be07-4d64-8801-dfb3f747e64b.eot?#iefix");
        src:url("../fonts/1b512ca8-be07-4d64-8801-dfb3f747e64b.eot?#iefix") format("eot"),url("../fonts/8809cc0a-7c8d-4c5a-b99c-7dd313d1128d.woff2") format("woff2"),url("../fonts/e2222274-d620-4d84-9e40-63cb44bad8ec.woff") format("woff"),url("../fonts/a0c93fbb-912f-4a82-b629-4381f1369e1b.ttf") format("truetype"),url("../fonts/89c9cfd3-1646-4216-87be-9cd8fdb523ec.svg#89c9cfd3-1646-4216-87be-9cd8fdb523ec") format("svg");
font-weight: 500;
font-style: italic;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_n7";
        src:url("../fonts/15f9d3de-abb0-4368-a866-84ed319109f0.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/15f9d3de-abb0-4368-a866-84ed319109f0.eot?#iefix");
        src:url("../fonts/15f9d3de-abb0-4368-a866-84ed319109f0.eot?#iefix") format("eot"),url("../fonts/7496e29e-671f-4f21-a827-6a663339922b.woff2") format("woff2"),url("../fonts/74c40577-6e6d-4934-a54f-914b0644d2a0.woff") format("woff"),url("../fonts/19ee8ef9-6f24-4d82-b340-b6c91422d075.ttf") format("truetype"),url("../fonts/9e03fcd3-9808-4002-bd6f-6e58891b3cf3.svg#9e03fcd3-9808-4002-bd6f-6e58891b3cf3") format("svg");
font-weight: 700;
font-style: normal;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_i7";
        src:url("../fonts/2d04cde3-11a7-4b8b-a3f5-1a2bc3329029.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/2d04cde3-11a7-4b8b-a3f5-1a2bc3329029.eot?#iefix");
        src:url("../fonts/2d04cde3-11a7-4b8b-a3f5-1a2bc3329029.eot?#iefix") format("eot"),url("../fonts/e06234c4-4b98-4180-842d-7a7101c8152d.woff2") format("woff2"),url("../fonts/4e3fa4f6-238b-4ed3-8ca5-c1810fc99441.woff") format("woff"),url("../fonts/55134a37-68e2-4a48-9f40-661c9a3ea8b2.ttf") format("truetype"),url("../fonts/3b372af5-491d-4fb5-99d5-8c59df5df4ff.svg#3b372af5-491d-4fb5-99d5-8c59df5df4ff") format("svg");
font-weight: 700;
font-style: italic;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_n8";
        src:url("../fonts/816ece7d-4a59-459e-bcf1-e0d7f57e68ef.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/816ece7d-4a59-459e-bcf1-e0d7f57e68ef.eot?#iefix");
        src:url("../fonts/816ece7d-4a59-459e-bcf1-e0d7f57e68ef.eot?#iefix") format("eot"),url("../fonts/f0cf5853-1bee-48c0-a83f-c89722329e20.woff2") format("woff2"),url("../fonts/f60a1caa-cf1e-4ddc-b3e4-9f88f7a2131c.woff") format("woff"),url("../fonts/fec81938-76e3-46c8-b003-5d1f6ccebc26.ttf") format("truetype"),url("../fonts/2809a008-24d5-4454-88b5-6bc181500b15.svg#2809a008-24d5-4454-88b5-6bc181500b15") format("svg");
font-weight: 800;
font-style: normal;
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01_i8";
        src:url("../fonts/177eaaf7-9a75-4860-9c11-851a916e9e9f.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"ITC Caslon No. 224 W01";
        src:url("../fonts/177eaaf7-9a75-4860-9c11-851a916e9e9f.eot?#iefix");
        src:url("../fonts/177eaaf7-9a75-4860-9c11-851a916e9e9f.eot?#iefix") format("eot"),url("../fonts/e4875902-5d22-4724-8869-5afed20d4a20.woff2") format("woff2"),url("../fonts/2f767121-ecba-4cc4-8f35-1054b12b0677.woff") format("woff"),url("../fonts/1e3c1eed-851f-4407-ac77-51ea6e781fd7.ttf") format("truetype"),url("../fonts/b0d4436c-2309-4e97-b65b-f9633edcd0d5.svg#b0d4436c-2309-4e97-b65b-f9633edcd0d5") format("svg");
font-weight: 800;
font-style: italic;
    }
