/* ============================================================================

  RANGE SLIDER STYLES

===============================================================================

  - Allows the use of the box mixin, no variables

============================================================================ */

@mixin slider_thumb()
{

  -webkit-appearance: none;

  height: 24px;
  width: 5px;
  @include box;

  background-color: #f00;

  cursor: pointer;

  transform: translateY( calc( -100% + 24px ) );

  @include transition;

  // opacity: 0.1;

}

@mixin slider_track()
{
  width: 100%;
  height: 24px;
  cursor: pointer;
  background-color: $grey_02;

  @include transition;
}

@mixin slider_thumb_focus()
{
  background-color: $grey_04;
}

@mixin slider_track_focus()
{
  background-color: $grey_04;
}

