/* ============================================================================

  TRANSITION

===============================================================================

  - Allows the use of the transition mixin, no variable required

============================================================================ */

@mixin transition( $element: all, $time: .2s, $ease: ease, $delay: 0 ) {

  @if ( $delay == 0 ) {

    -webkit-transition: $element $time $ease;
       -moz-transition: $element $time $ease;
         -o-transition: $element $time $ease;
            transition: $element $time $ease;

  }

  @else {

    -webkit-transition: $element $time $ease $delay;
       -moz-transition: $element $time $ease $delay;
         -o-transition: $element $time $ease $delay;
            transition: $element $time $ease $delay;

  }

}

@mixin transitions( $transitions... ) {
    $values: comma-list();

    @each $transition in $transitions {
      $values: append($values, $transition);
    }

    -webkit-transition: $values;
       -moz-transition: $values;
         -o-transition: $values;
            transition: $values;
}

@mixin transition-delay( $delay: 0 ) {

  -webkit-transition-delay: $delay;
     -moz-transition-delay: $delay;
       -o-transition-delay: $delay;
          transition-delay: $delay;

}

