/* ============================================================================

  BLOCK POST LIST

===============================================================================

  - Video player styles
  - Article, section break and video archive & articles.
  - uses moodules/mixins/_slider_styles.scss

============================================================================ */

.video--container
{
  position: relative;

  width: calc( 100% + 100px );
  margin-bottom: 80px;

  background-color: $black;

  overflow: hidden;

  .video--player
  {
    width: 100%;

    height: auto;

    opacity: 0.4;

    @include transition(opacity,.2s,ease);

    object-fit: fill;


/* But it is not enough now, below dont hide play button parent div */

    &::-webkit-media-controls-panel {
      display: none!important;
      -webkit-appearance: none;
    }

    /* Old shadow dom for play button */

    &::--webkit-media-controls-play-button {
      display: none!important;
      -webkit-appearance: none;
    }

    /* New shadow dom for play button */

    /* This one works */

    &::-webkit-media-controls-start-playback-button {
      display: none!important;
      -webkit-appearance: none;
    }
  }

  .video--play
  {
    display: block;
    border-radius: 0;
    border: none;

    background-color: transparent;

    -webkit-appearance: none;

    cursor: pointer;

    &.video--play__large
    {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 70px;
      height: 70px;

      border: 3px solid $white;

      // background-image: url( '../images/va-play-large.svg' );
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: 20px;

      -sand-transform: translateX( -50% ) translateY( -50% );

      -webkit-transform: translateX( -50% ) translateY( -50% );
         -moz-transform: translateX( -50% ) translateY( -50% );
          -ms-transform: translateX( -50% ) translateY( -50% );
              transform: translateX( -50% ) translateY( -50% );

      @include transition(border, 0.2s, ease);

      .svg {
        margin: -13px 0 0 -10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 26px;

        fill: $white;
        @include transitions(fill 0.15s ease, transform 0.15s ease);
      }

      &:hover {
        border-color: $brand;

        .svg {
          fill: $brand;
          // @include scale(0.9)
        }
      }
    }

    &.video--play__small
    {
      width: 24px;
      height: 24px;

      background-image: url( '../images/va-play-small-white.svg' );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px;
    }

  }

  .video--controls
  {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;

    display: none;

    color: $white;
    background-color: $black;

    @include transition;

    -sand-transform: translate3d( 0, 150%, 0 );

    -webkit-transform: translate3d( 0, 150%, 0 );
       -moz-transform: translate3d( 0, 150%, 0 );
        -ms-transform: translate3d( 0, 150%, 0 );
            transform: translate3d( 0, 150%, 0 );

    .video--time
    {
      margin-left: 35px;

      @include font( 'sans', 12, '+' );
      line-height: 24px;
    }

    .video--volume
    {
      width: 100%;

      opacity: 0;
    }

    .video--volume--container,
    .video--play__small,
    .video--volume,
    .video--time
    {
      @include display_inline( middle );
    }

    .video--volume--container
    {
      position: relative;

      width: 30px;
      height: 24px;
      margin-left: 35px;

      background-color: $grey_04;

      img
      {
        z-index: 2;
      }

      img,
      .video--volume__progress
      {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;

        pointer-events: none !important;
      }

      .video--volume__progress
      {
        background-color: $white;
      }

    }

    .video--fullscreen
    {
      position: absolute;
      top: 50%;
      right: 25px;

      display: block;
      width: 39px;
      height: 24px;
      border: none;
      border-radius: 0;

      background-color: transparent;
      background-image: url( '../images/va-fullscreen.svg' );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;

      font-size: 0;

      -sand-transform: translateY( -50% );

      -webkit-transform: translateY( -50% );
         -moz-transform: translateY( -50% );
          -ms-transform: translateY( -50% );
              transform: translateY( -50% );

      -webkit-appearance: none;
      cursor: pointer;
    }

    .video--seek{
      position: absolute;
      top: -5px;

      width: 100%;
      height: 5px;

      background-color: $grey_03;

      .video--progress
      {
        position: absolute;
        left: 0;
        width: 0;
        height: 100%;

        background-color: $brand;
      }

    }

  }

  .video--controls__inner
  {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    @include box;
    padding-left: 25px;

    text-align: left;
    direction: ltr;

    -sand-transform: translateY( -50% );

    -webkit-transform: translateY( -50% );
       -moz-transform: translateY( -50% );
        -ms-transform: translateY( -50% );
            transform: translateY( -50% );
  }

  &.currently--playing,
  &.currently--paused
  {
    .video--controls
    {
      -sand-transform: translate3d( 0, 50px, 0 );

      -webkit-transform: translate3d( 0, 50px, 0 );
         -moz-transform: translate3d( 0, 50px, 0 );
          -ms-transform: translate3d( 0, 50px, 0 );
              transform: translate3d( 0, 50px, 0 );
    }

    &:hover
    {
      .video--controls
      {
        -sand-transform: translate3d( 0, 0, 0 );

        -webkit-transform: translate3d( 0, 0, 0 );
           -moz-transform: translate3d( 0, 0, 0 );
            -ms-transform: translate3d( 0, 0, 0 );
                transform: translate3d( 0, 0, 0 );
      }

    }

  }

  &.currently--playing
  {
    .video--player
    {
      opacity: 1;
    }
    .video--play__large
    {
      display: none;
    }

    .video--play__small
    {
      background-image: url( '../images/va-pause-small.png' );
    }

  }

}

div.video--container--wrapper > div.video--container
{
  width: 100%;
  margin-top: 80px;
}


div.video--container--wrapper > div > div > div.video--controls__inner > div.video--volume--container > div.post-share-image > ul.post-share-image__links
{
    display: none;
}

@media( min-width: 1024px)
{
  body
  {
    &:not(.browser-safari)
    {
      .video--container
      {
        .video--controls
        {
          display: block !important;
        }
      }

    }
  }

}

video
{
  // height: auto;
}

body
{

  .featured--video
  {
    max-height: calc( 100vh - 100px );

    .video--container
    {
      max-height: calc( 100vh - 100px );

      .video--controls
      {
        display: none !important;
      }

    }

  }

  @media ( max-width: 680px )
  {
    .post--full
    {
      &.featured
      {
        //width: 100vw;
        //margin-left: -15px;

        &.post--item
        {

            .post--image
            {
              

          &.has-mobile
          {
              height: auto;

              a
              {
                position: static !important;
              }

            }

          }

        }

        .featured--image
        {
          width: 100%;
          img
          {
            width: 100%;
          }
          &:not(.with--video)
          {
            div
            {
              display: none;
            }
          }

          & + .featured--video
          {
            display: none;
          }
        }
      }
    }
  }

  @media ( min-width: 681px )
  {
    .featured--image
    {
      &.with--video
      {
        display: none;
      }
      &:not(.with--video)
      {
        img
        {
          display: none;
        }
      }
    }

  }

  @media (min-width: 1024px )
  {
    .featured--video
    {
      max-height: calc(100vh - 300px );
      .video--container
      {
        max-height: calc(100vh - 300px);
      }
    }
    @media ( max-height: 680px )
    {
      .featured--video
      {
        max-height: calc(100vh - 150px );
        .video--container
        {
          max-height: calc(100vh - 150px);
        }
      }
    }

  }

  @media ( max-width: 1024px )
  {

    video
    {
      height: auto;
    }

  }
  
}


.single--video
{

  .video--container
  {
    width: 100% !important;
  }

}

.post--full
{
  .video--container
  {
    width: 100%;
    margin-bottom: 0;



    & + .post--snippet
    {
      @include transition;

      .post--title
      {
        width: 85%;
        font-size: 30px;

        @include bp('mobile') {
          font-size: 22px;
          width: 100%;
        }
      }

      .post--meta {

        @include bp('mobile') {
          margin-bottom: 0;
        }
      }
    }

    &.playing
    {

      & + .post--snippet
      {
        margin-top: 120px;

        @include bp('mobile') {
          margin-top: 55px;
        }

        .post--title
        {

          a
          {
            &:before
            {
              background-color: transparent;
            }

          }

        }

      }

    }

  }

}







/* ============================================================================

  RANGE INPUTS

============================================================================ */

input[ type = range ]
{
  width: 100%; /* Specific width is required for Firefox. */

  background: transparent; /* Otherwise white in Chrome */

  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

input[ type = range ]::-webkit-slider-thumb
{
  -webkit-appearance: none;
}

input[ type = range ]:focus
{
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[ type = range ]::-ms-track
{
  width: 100%;
  border-color: transparent;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  color: transparent;

  cursor: pointer;
}

/* ============================================================================

  RANGE INPUTS THUMB

============================================================================ */

input[ type = range ]::-webkit-slider-thumb
{
  @include slider_thumb;
}

/* All the same stuff for Firefox */
input[ type = range ]::-moz-range-thumb
{
  @include slider_thumb;
}

/* All the same stuff for IE */
input[ type = range ]::-ms-thumb
{
  @include slider_thumb;
}

/* ============================================================================

  RANGE INPUTS TRACK

===============================================================================

  WEBKIT INACTIVE

============================================================================ */

input[ type = range ]::-webkit-slider-runnable-track
{
  @include slider_track;
}

/* ============================================================================

  MOZ INACTIVE

============================================================================ */

input[ type = range ]::-moz-range-track
{
  @include slider_track;
}

/* ============================================================================

  MS INACTIVE

============================================================================ */

input[ type = range ]::-ms-track
{
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[ type = range ]::-ms-fill-lower
{
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[ type = range ]::-ms-fill-upper
{
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* ============================================================================

  WEBKIT ACTIVE/FOCUS

============================================================================ */

input[ type = range ]:active::-webkit-slider-runnable-track
{
  @include slider_track_focus;
}

/* ============================================================================

  MOZ ACTIVE/FOCUS

============================================================================ */

input[ type = range ]:active::-ms-fill-lower
{
  @include slider_track_focus;
}

/* ============================================================================

  MS ACTIVE/FOCUS

============================================================================ */

input[ type = range ]:active::-ms-fill-upper
{
  @include slider_track_focus;
}


