/* ============================================================================

  BLOCK MISC MENU

============================================================================ */

$side_menu_header: 180px;
$side_menu_footer: 170px;

.side--menu
{
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;

  display: block;
  width: 100vw;
  max-width: 380px;
  height: 100%;

  // overflow: hidden;
  overflow: auto;

  background-color: $white;

  @include transition(all,.3s,$easeInOutCirc,0);

  -sand-transform: translateX( -100% );

  -webkit-transform: translateX( -100% );
     -moz-transform: translateX( -100% );
      -ms-transform: translateX( -100% );
          transform: translateX( -100% );

  &.is-active
  {
    -sand-transform: none;

    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
            transform: none;
  }

}

.side--menu--header,
.side--menu--footer
{
  position: relative;

  @include box;
}

.side--menu--header
{
  height: $side_menu_header;
  padding-top: 75px;
  border-bottom: 1px solid $grey_01;
}

.side--menu--footer
{
  // position: absolute;
  // bottom: 0;
  // left: 0;

  width: 100%;
  height: $side_menu_footer;
  border-top: 1px solid $grey_03;

  @include transition(all,.3s,$easeInOutCirc,0);

  .social
  {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    li
    {
      @include display_inline;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-left: 10px;
    }

    a
    {
      display: block;
      width: 100%;
      height: 100%;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;

      @include transitions(opacity 0.2s ease, transform 0.2s ease);

      &:hover
      {
        opacity: 0.4;
        @include translateY(-3px);
      }

    }

  }

}

.s-facebook,
.story__sharing-facebook
{
  background-size: 10px !important;
  background-image: url( '../images/va-facebook.svg' );
}

.s-instagram
{
  background-image: url( '../images/va-instagram.png' );
}

.s-twitter,
.story__sharing-twitter
{
  background-image: url( '../images/va-twitter.svg' );
}

.s-google
{
  background-image: url( '../images/va-google.png' );
}

.s-vimeo
{
  background-image: url( '../images/va-vimeo.png' );
}

.story__sharing-pinterest
{
  background-image: url( '../images/va-pinterest.svg' );
}

.side--menu--navigation
{
  // height: calc( 100vh - ( #{$side_menu_header} + #{$side_menu_footer} ) );

  overflow: auto;

  &.is-open
  {
    overflow: hidden;

    .sub-menu
    {
      overflow: auto;
    }

    & + .side--menu--footer
    {
      border-top-color: transparent;
    }

  }

  li
  {
    -webkit-transition: height .3s cubic-bezier( .88,.14,.81,.46 ), background-color .3s ease-in-out;
       -moz-transition: height .3s cubic-bezier( .88,.14,.81,.46 ), background-color .3s ease-in-out;
            transition: height .3s cubic-bezier( .88,.14,.81,.46 ), background-color .3s ease-in-out;

    height: 60px;

    overflow: hidden;

    &.has--children
    {
      position: relative;

      & > a
      {
        max-width: calc( 100% - 50px );
      }

    }

    &:hover
    {

      &:not(.is-active)
      {
        background-color: $grey_01;
      }

    }

    &.is-active
    {
      background-color: $grey_03;

      .has--sub--menu
      {
        background-position: 0 -40px;
      }

    }

    .has--sub--menu
    {
      position: absolute;
      top: 10px;
      right: 0;

      display: block;
      width: 60px;
      height: 40px;

      background-image: url( '../images/vg-navigation-arrows.png' );
      background-repeat: no-repeat;

      cursor: pointer;
    }

    &:not(:last-of-type)
    {
      box-shadow: inset 0 -1px 0 $grey_01;
    }

    a
    {
      display: block;
      width: 100%;
      @include box;
      padding-left: 35px;

      color: $black;

      @include font( 'serif', 18 );
      line-height: 60px;
      text-decoration: none;
    }

  }

  &.sub--menu
  {
    height: 0;

    background-color: $white;

    overflow: auto;
    a
    {
      position: relative;

      padding-left: 55px;

      @include font( 'sans', 11 );
      letter-spacing: 0.05em;
      text-transform: uppercase;

      &:before
      {
        position: absolute;
        top: 50%;
        left: 30px;

        display: block;
        width: 12px;
        height: 12px;
        @include box;
        border-radius: 100%;
        box-shadow: inset 0 0 1px $grey_03;

        -sand-transform: translateY( -50% );

        -webkit-transform: translateY( -50% );
           -moz-transform: translateY( -50% );
            -ms-transform: translateY( -50% );
                transform: translateY( -50% );

        @include transition( all, .5s );

        content: '';
      }

    }

    li
    {
      &:hover
      {

        a
        {

          &:before
          {
            box-shadow: inset 0 0 30px $brand;
          }

        }

      }

    }

  }

}

.copyright
{
  display: block;
  @include box;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 40px;

  @include font( 'sans', 9 );
  line-height: 10px;
}

