/* ============================================================================

  GLOBAL GENERAL

============================================================================ */

// .story__sharing
// {
//   position: absolute;

//   left: -100px;

//   width: 48px;
//   @include box;
//   border: 1px solid $grey_02;
//   border-bottom: none;

//   display: none !important;

//   &.is-fixed
//   {
//     position: fixed;
//     top: 80px;
//     left: 80px;
//   }

//   a
//   {
//     display: block;
//     width: 100%;
//     height: 46px;
//     @include box;
//     border-bottom: 1px solid $grey_02;

//     background-position: center;
//     background-size: 20px;
//     background-repeat: no-repeat;
//   }

//   canvas
//   {
//     display: none;
//   }

// }

// .vogueshare
// {

//   .story__sharing--share-text,
//   .story__sharing-whatsapp,
//   .story__sharing-linkedin,
//   .story__sharing-googleplus
//   {
//     display: none;
//   }

//   .story__sharing--share-icon
//   {
//     display: block;
//     width: 100% !important;
//     height: 100% !important;

//     // background-color: transparent !important;
//   }

// }


@media screen and (min-width: 1024px) {
  .Vogue-whatsapp {
  display: none !important;
  }
}

.social-share-email span {
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  //margin-top: 2px;

}

.social-share-email {

  &:hover {
    .mst0 {
      fill: $gold;
    }

    svg {
      fill: #ffffff;
    }

    polyline.mst1 {
      stroke: #ffffff;
    }
  }
}