/* ============================================================================

  BLOCK POST LIST

===============================================================================

  - Main post list styles

============================================================================ */

.post--list
{
  @include display_inline;
  padding-bottom: 80px;
  width: calc(100% - 360px);
  max-width: 870px;


// VOGUE RECOMMENDS
  &.vogue--recommends
  {
    max-width: 870px;
    padding-bottom: 40px;

    &.no--padding
    {
      padding-bottom: 0;
    }

    &:not(:last-of-type)
    {
      padding-bottom: 0 !important;
    }

    .post--item
    {
      display: block;
      float: left;
      width: 50%;

      .post--image{
        a{
          &:before{
            display: none;
          }
        }
      }

      @media all and (max-width: 660px){
        width: 100%;
        border-bottom: 1px solid $grey_02;
        margin-bottom: 30px;
        padding-bottom: 30px;
        &:last-child{
          border-bottom: 0;
          margin-bottom: 0;
        }
      }

      @media all and (min-width: 660px){
        &:nth-child(3n+1)
        {
          padding-right: 35px;
          border-right: 1px solid $grey_02;
        }

        &:nth-child(3n+2)
        {
          padding-left: 35px;
        }

        &:not(:nth-child(3))
        {
          padding-bottom: 35px;

          .snippet--inner
          {
            position: relative;
            top: 0;

            -sand-transform: none;

            -webkit-transform: none;
               -moz-transform: none;
                -ms-transform: none;
                    transform: none;
          }

          .post--title
          {

            font-size: 24px;
            line-height: 30px;

            @include bp(mobile){
              font-size: 21px;
              line-height: 26px;
            }

          }

        }

        &:nth-child(3)
        {
            width: 100%;
            margin-top: 40px;

            &:not(:last-of-type)
            {
              margin-bottom: 40px;
            }

            .post--image
            {
              margin-bottom: 0;
              overflow: hidden;
              a
              {
                img {
                  @include transition(transform, 3s, ease);
                }

                &:after
                {
                  display: none;
                  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
                  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
                  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
                }

                &:hover {
                  img {
                    @include scale(1.05);

                  }
                  &:after {
                    @include opacity(0.5);
                  }
                }
              }
            }

            .post--snippet
            {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 100%;

              background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0.9) 100%);
              background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 33%, rgba(0,0,0,0.9) 100%);
              background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0.9) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

              padding-right: 0;

            }

            .snippet--inner
            {
              position: absolute;
              bottom: 30px;
              top: auto;
              left: 50%;
              margin: auto;
              width: 85%;
              text-align: center;

              -sand-transform: translateX(-50%);

              -webkit-transform: translateX(-50%);
                 -moz-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%);

              a,
              .post--time
              {
                color: $white;
              }

              .post--time
              {
                &:before
                {
                  background-image: url('../images/va-clock-white.svg');
                }
              }

              a
              {

                &:hover
                {
                  color: $brand;
                }

              }

              .post--time {

                &:not(.no--time)
                {
                &:before {
                  background-image: url( '../images/va-clock-white.svg' );
                }

                }
              }

            }

        }

      }

    }

    .post--image
    {
      width: 100%;
      max-width: 100% !important;
    }

    .post--snippet
    {
      max-width: 100% !important;
      padding-left: 0 !important;

      pointer-events: none;

      .snippet--inner {
        pointer-events: auto;
      }

    }

    @include bp(tablet){
      max-width: 100%;
      padding-bottom: 30px;
    }

  }
// END VOGUE RECOMMENDS

// LATEST POSTS
  &.post--latest
  {
    li
    {
      .post--title
      {
        // TEMP FONT CHANGE
        // font-size: 32px;
      }

      &:not(:first-child)
      {
        padding-top: 30px;
      }

      &:not(:last-child)
      {
        padding-bottom: 30px;

        border-bottom: 1px solid $grey_03;
      }

      @media all and (min-width: 680px){
        &:last-child:not(.post--full){
          .snippet--inner{
            -sand-transform: translateY(-50%) translateY(18px);

            -webkit-transform: translateY(-50%) translateY(18px);
               -moz-transform: translateY(-50%) translateY(18px);
                -ms-transform: translateY(-50%) translateY(18px);
                    transform: translateY(-50%) translateY(18px);
          }
        }
        &:first-child:not(.post--full){
          .snippet--inner{
            -sand-transform: translateY(-50%) translateY(-18px);

            -webkit-transform: translateY(-50%) translateY(-18px);
               -moz-transform: translateY(-50%) translateY(-18px);
                -ms-transform: translateY(-50%) translateY(-18px);
                    transform: translateY(-50%) translateY(-18px);
          }
        }
      }

      @include bpmin(mobile){
        .post--image{
          margin-bottom: 0;
        }
      }

    }

  }
// END LATEST POSTS

  &.post--list--centered
  {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

// VOGUE EXPLORE
  &.post--explore
  {
    width: calc(100% + 60px);
    max-width: calc(100% + 60px);
    margin: 0 -30px;
    padding-bottom: 0;

    text-align: center;

    @include bp(tablet){
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      margin: 0 -15px;
    }

    @include bp(mobile){
      width: 100%;
      max-width: 100%;
      margin: 0;
      text-align: left;
    }

    .post--item
    {
      position: relative;
      display: block;
      float: left;
      width: calc(25% - 60px);
      margin: 0 30px;

      @include bp(tablet){
        width: calc(25% - 30px);
        margin: 0 15px;
      }

      @include bp(mobile){
        width: 100%;
        margin: 0;
        border-bottom: 1px solid $grey_03;
        padding: 25px 0;
        &:last-child{
          border-bottom: 0;
        }
      }

    }

    .post--snippet{
      position: relative;
      padding-top: 25px;

      &:before{
          position: absolute;
          top: -15px;
          left: 50%;
          margin-left: -1px;
          width: 2px;
          height: 30px;
          background-color: $gold;
          content: '';       
      }

      @include bp(mobile){
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        padding-top: 0;

        &:before{
          top: calc(50% - 1px);
          left: -20px;
          width: 40px;
          height: 2px;
        }
      }

    }

      .snippet--inner{

        @include bp(mobile){
          position: absolute;
          top: 50%;
          left: 30px;
          right: 15px;
          -sand-transform: translateY(-50%);

          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
        }

        @include bp(smallMobile){
          right: 0;
        }

      }

        .post--meta{
          margin-bottom: 8px;
        }

          .post--tag{
            color: $grey_06;

            @include bp(mobile){
              color: $gold;
              font-size: 12px;
            }
          }

          .post--title
          {
            position: relative;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;

            @include bp(mobile){
               text-align: left;
               font-size: 16px;
              line-height: 18px;
              a{
                text-align: left;
              }
            }
            @include bp(smallMobile){
              font-size: 16px;
              line-height: 18px;
            }
          }

    .post--image
    {
      position: relative;
      overflow: visible;

      a
      {
        display: block;
        width: 100%;
        background-color: $grey_02;
      }

      @include bp(mobile){
        width: 50%;
        float: left;
        margin-bottom: 0;
      }
    }

  }
// END VOGUE EXPLORE

// VIDEO POSTS
  &.post--videos
  {

    &.trending--videos
    {
      width: 100%;
      display: block;
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;

      .post--item
      {
        width: 33.333333%;

        .post--snippet
        {
          background-color: $black;

          .post--title
          {

            a
            {
              color: $white;

              &:hover
              {
                color: $brand;
              }

            }

          }

        }

      // TEMP
        &:nth-child(1n + 4 )
        {
          display: none;
        }

      }

    }

    &:not(.trending--videos)
    {
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      padding-bottom: 0;
      margin: 25px -15px 20px -15px;

      &.post--list--centered{
        position: relative;
        left: 50%;
        -sand-transform: translateX(-50%);

        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
      }

      @include bp(tablet){
        max-width: 100%;
        width: 100%;
      }

      .post--item
      {
        display: block;
        float: left;
        width: 25%;
        padding: 0 15px;

        a
        {

          &:before
          {
            display: none;
          }

        }
        .post--image
        {
          margin-bottom: 10px;
        }

        .post--title
        {
          margin-bottom: 14px;

          @include font( 'body' );
          font-size: 18px;
          line-height: 21px;
        }

      }

      @include bp(mobile){
        display: none;
      }

    }

    @include bp(tablet){
      max-width: 100%;
      width: 100%;
    }

    @media all and (max-width: 680px){
      padding-bottom: 0;
    }

  }
  @include bp(tablet){
    max-width: 100%;
    width: 100%;
    padding-bottom: 30px;
  }

}

.post--meta
{
  position: relative;
  display: inline-block;
  min-height: 14px;
  margin-bottom: 5px;

  @include font( 'sans-c', 14, 600 );
  text-transform: uppercase;

  a
  {
    color: $black;

    text-decoration: none;

    &:hover
    {
      color: $brand;
    }

  }

  .post--tag,
  .post--time,
  .post--seperator
  {
    @include display_inline;
  }

  .post--time
  {
    &:not(.no--time)
    {
      &:before
      {
        margin: -1px 6px 0 0;
        position: relative;

        @include display_inline;
        height: 14px;
        width: 14px;

        background-image: url( '../images/va-clock.svg' );
        background-repeat: no-repeat;
        background-size: 14px 14px;
        background-position: center;

        content: '';
      }
      
    }

  }

  .post--seperator
  {
    width: 50px;
    height: 1px;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;

    background-color: $grey_03;
  }

  @include bp(mobile){
    margin-bottom: 10px;
  }

}

.post--title
{
  @include font( 'serif', $size: 36, $weight: 100 );
  line-height: 1.1;

  & + .post--meta
  {
    @include display_inline(middle);
    margin-top: 30px;

    color: $brand;

    @include font( 'serif', 13 );
    line-height: 11px;
    font-style: italic;
    text-transform: none;

    a
    {
      color: $brand;

      &:not(.fa)
      {
        @include font( 'sans-c', 12, 600 );
      }
      font-style: normal !important;
      text-transform: uppercase;

      &:hover
      {
        color: $black;
      }

    }
    @include bp(mobile){
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  a
  {
    display: inline-block;
    position: relative;

    color: $black;

    text-decoration: none;

    /*&:before
    {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 0;

      display: block;
      width: 70px;
      height: 2px;

      background-color: $brand;

      content: '';

      pointer-events: none;

      -webkit-transform: translateY( -50% ) translateX( -90px );
         -moz-transform: translateY( -50% ) translateX( -90px );
          -ms-transform: translateY( -50% ) translateX( -90px );
              transform: translateY( -50% ) translateX( -90px );

      @include transition( width, .5s, ease-in-out );
    }*/

    &:hover
    {
      color: $brand;
    }

  }

  @include bp(tablet){
    font-size: 27px;
  }

  @include bp(mobile){
    font-size: 24px;
    line-height: 28px;
  }

  @media all and (max-width: 680px){
    text-align: center;
  }

}

.post--item
{
  position: relative;
	min-height: 330px;

  &.featured
  {
    @media ( max-width: 1024px )
    {
      margin-top: 46px;
    }

  }

  &.post--standard
  {

    .post--snippet
    {
      max-width: calc( 100% - 400px );
      padding-right: 20px;
      padding-left: 50px;

      @include bp(mobile){
        max-width: calc(100% - 300px);
      }

      @media all and (max-width: 680px){
        display: block;
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: auto;
      }

    }

    .snippet--inner
    {

      @media all and (max-width: 680px){
        text-align: center;
      }

      @media all and (min-width: 681px){
        position: absolute;
        top: 50%;

        line-height: 14px;

        -sand-transform: translateY( -50% );

        -webkit-transform: translateY( -50% );
           -moz-transform: translateY( -50% );
            -ms-transform: translateY( -50% );
                transform: translateY( -50% );
      }

    }

    .post--image
    {
      overflow: visible;
      max-width: 400px;
      margin-bottom: 10px;
      a{
        display: block;
        position: relative;
        &:before{
          position: absolute;
          top: 50%;
          right: -30px;
          width: 60px;
          height: 2px;
          background-color: $gold;

          -sand-transform: translateY( -50% );

          -webkit-transform: translateY( -50% );
             -moz-transform: translateY( -50% );
              -ms-transform: translateY( -50% );
                  transform: translateY( -50% );

          content: '';
          z-index: 2;
        }
      }

      @include bp(mobile){
        max-width: 300px;
      }

      @media all and (max-width: 680px){
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
        a{
          &:before{
            display: none;
          }
        }
      }

      &:hover
      {
        & + .post--snippet
        {
          .post--title
          {
            a
            {
              color: $brand;
            }

          }

        }

      }

    }

  }

  &.post--full
  {

    .post--seperator
    {
      display: none;
    }

    &:not(.featured)
    {

    }

    .post--snippet
    {
      padding-bottom: 10px;
      position: relative;

      max-width: 100%;

      background-color: $white;

      text-align: center;
      &:before{
        position: absolute;
        top: -30px;
        left: calc(50% - 1px);
        height: 60px;
        width: 2px;
        background-color: $gold;
        content: '';
        z-index: 2;

        @include bp('mobile') {
          top: -15px;
          height: 30px;
        }
      }
    }

    .post--meta
    {
      height: 8px;
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      display: block;
    }

    .post--tag,
    .post--time
    {
      position: absolute;
      @include bp(mobile){
        display: none;
      }
    }

    .post--tag
    {
      left: 0;
    }

    .post--time
    {
      right: 0;
    }

    .post--title
    {
      // width: 85%;
      // display: block;
      // margin: auto;

    // CHANGE REQUESTED BY BOBBY
      display: block;
      margin: auto;
      width: 100%;


      a
      {
        @include display_inline;

        &:before
        {
          top: -85px;
          left: 50%;

          width: 2px;
          height: 70px;

          -sand-transform: translateX(-50%);

          -webkit-transform: translateX(-50%);
             -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
        }

      }

      @include bp(mobile){
        width: 100%;
      }

    }

    &.featured
    {
      margin: 0 -15px;
      margin: 0 -15px;
      width: calc(100% + 30px);
      .post--image
      {
          &:not(.no_scale)
          {

          @media ( min-width: 1260px )
          {
            height: 60vh;

            a
            {
              position: absolute;
              top: 0;
              left: 0;
            }

            img
            {
              display: none;
            }
            div
            {
              display: block !important;
            }
          }
        }
        &:hover
        {
          & + .post--snippet
          {
            .snippet--inner
            {
              a
              {
                color: $brand;
              }
            }
          }
        }

        picture.featured--image--home
        {
          width: 100%;
          overflow: hidden;
          display: block;
          height: calc(100vh - 400px);
          background-size: cover;
          background-position: center center;

          @media all and (max-width: 1680px){
            height: calc(100vh - 220px);
          }

          @media all and (max-width: 1024px){
            height: calc(100vh - 300px);
          }

          @media all and (max-height: 500px){
            height: calc(100vh - 200px);
          }

          @media all and (max-width: 680px){
            display: none;
          }

          /*img
          {
            width: 100%;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            max-width: initial!important;
            position: relative;
          }*/
        }

        picture.featured--image--home-mobile
        {
          height: auto!important;
          display: none;

          @media all and (max-width: 680px){
            display: block;
          }

        }


        


        &.no_scale
        {
          a
          {
            img
            {
              max-width: 1600px;
              margin-right: auto;
              margin-left: auto;
            }
            div
            {
              max-width: 1600px;
              left: 50%;
              -sand-transform: translateX(-50%);

              -webkit-transform: translateX(-50%);
                 -moz-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%);
            }
          }
        }
        &.no_scale--medium
        {
          a
          {
            img,
            div
            {
              max-width: 1400px;
            }
          }
        }
        &.no_scale--small
        {
          a
          {
            img,
            div
            {
              max-width: 1260px;
            }
          }
        }

        &.post--image--bg{
          position: relative;
          a
          {
            width: 100%;
            height: 100%;
            background-color: $grey_01;

            div{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              @media ( max-width: 1600px )
              {
                display: none;
              }
            }
            &:after
            {
              display: none !important;
            }
          }
        }
      }
      picture.featured--image--home-mobile
      {
        width: 100%;
        img 
        {
          width: 100%;
          height: auto;
        }
      }

      .post--snippet
      {
        // display: block;
        // width: 85%;
        // max-width: 925px;
        // padding-top: 50px;
        // padding-bottom: 50px;
        // margin: auto;

      // CHANGE REQUESTED BY BOBBY
        display: block;
        margin: auto;
        //max-width: 670px;
        padding-bottom: 50px;
        padding-top: 50px;
        width: 95%;

      }

      .post--meta
      {
        display: none;
      }

    }

  }

}


.post--snippet,
.post--image
{
  @include display_inline;
  width: 100%;

  img
  {
    display: block;
    width: 100%;
    height: auto;
  }
}

.post--image
{
  overflow: hidden;

  a
  {
    display: block;
    position: relative;

    &:after
    {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: $white;
      content: '';
      @include opacity(0);
      @include transitions(opacity 0.5s ease);
    }

    &:hover
    {
      &:after
      {
        @include opacity(0.25);
      }

      img
      {
        // @include scale(1.05);
      }
    }
  }
}

.vogue--recommends,
.post--latest
{
  .post--image
  {
    a
    {
      background-color: $grey_01;
    }

    img
    {

      @media ( min-width: 660px )
      {
       // min-height: 319px;
      }

      .post--snippet
      {
        @include box;

        &.post--introduction
        {
          padding-top: 120px;
          padding-bottom: 60px;

          .post--title
          {
            max-width: 850px;
            margin-top: 8px;
          }

        }

      }

    }

  }

}

.the--article
{

  .post--introduction
  {
    max-width: 700px;
    padding-bottom: 45px;
    @include bp(tablet){
      padding-bottom: 40px;
    }
    @include bp(mobile){
      padding-bottom: 0px;
    }
  }

  .post--title{
    text-align: left;
  }

  .post--meta{
    font-size: 14px;
    a{
      font-size: 14px !important;
    }
  }

}

.post--videos.post--small,
.video-posts
{

  .post--image,
  .video-post__thumb
  {
    a
    {
      background-color: $grey_02;
    }

    img
    {
      @media ( min-width: 660px )
      {
        min-height: 145px;
      }

    }

  }

}


.post--after
{
  width: 100%;
  max-width: 750px;
  @include box;
  padding-top: 30px;
  padding-bottom: 30px;

  @media ( max-width: 770px)
  {
    padding-bottom: 0px;
  }
}

$meta_size: 14;

.post--author
{
  position: relative;

  @include display_inline;
  width: 50%;

  .author--image
  {
    position: relative;

    width: 48px;
    height: 48px; // fix weird height issue on some page loads
    border-radius: 100%;
    @include box;

    &.default
    {
      border: 1px solid $grey_11;

      img
      {
        width:26px;
        height: 26px;
        margin-top:11px;
        margin-right: auto;
        margin-left:auto;
        border-radius:0;
      }
    }

    img
    {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }

    &:before
    {
      position: absolute;
      top: 50%;
      right: 100%;

      display: block;
      width: 100vw;
      height: 1px;

      background-color: $grey_02;

      content: '';
    }

  }

  .post--meta
  {
    width: calc( 100% - 48px );
    @include box;
    padding-top: 5px;
    // padding-left: 20px;

    color: $brand;

    @include font( 'serif', $meta_size );
    font-style: italic;
    text-transform: none;

    &.no--social
    {
      margin-bottom: 0;
      padding-top: 0;
    }

    .pc-social {
      margin-top: 8px;

      li {
        margin-right: 7px;
      }
    }

    a
    {
      color: $brand;

      &:not(.fa)
      {
        @include font( 'sans-c', $meta_size );
      }
      font-style: normal;
      text-transform: uppercase;

      &:hover
      {
        color: $black;
      }

      &.fa {
        color: $grey_03;
        font-size: 18px;
      }

    }

  }

  .author--image,
  .post--meta
  {
    @include display_inline(middle);
  }

  .author--image
  {
    & + .post--meta
    {
      padding-left: 20px;
    }

  }

  @include bp(mobile){
    width: 50%;
  }

}

.related--tags
{
  position: relative;
  width: 25%;

  text-align: right;

  float: right;

  &.related--people

  {

    img
    {
      @include display_inline;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin-left: 10px;
    }

  }

  li
  {
    position: relative;

    height: 30px;
    @include box;
    padding-left: 30px;

    line-height: 30px;

    overflow: hidden;

    &:not(.related--heading)
    {
      margin-bottom: 10px;

      @include font( 'serif', $meta_size - 2 );
    }

    &.related--heading
    {
      margin-bottom: 5px;

      @include font( 'sans-c', $meta_size, 600 );
      text-transform: uppercase;
    }

    a
    {
      color: $grey_06;

      text-decoration: none;

      &:hover
      {
        color: $brand;
      }

    }

  }

  &.related--minimise
  {

    li
    {

      &:nth-child(1n+5)
      {

        &:not(:last-child)
        {
          height: 0;
          margin-bottom: 0;

          overflow: hidden;
        }

      }

    }

  }

  .toggle--all
  {
    .related--more
    {
      @include display_inline;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      border-radius: 100%;

      color: $white;
      background-color: $brand;

      @include font( 'serif', 11, 700 );
      text-align: center;

      @include transition;
    }

    &:hover
    {
      .related--more
      {
        background-color: $black;
      }

    }

  }

}


// FEATURED AREA

.featured--area
{

  &.left--anchor
  {
    width: 58vw;
    max-width: none;
    min-width: 100%;
    // margin-bottom: 80px;

    float: right;

    @include bp(smallDesktop) {
      width: 100% !important;
    }
    // @media ( max-width: 1025px )
    // {
    //   width: 100vw !important;
    //   margin-left: 15px;
    // }

    .video--container
    {
      width: 100%;
      margin-bottom: 0;
    }
  }

  // .featured--image
  // {
  //   max-width: calc( 100% + 100px );
  // }

}


p,
img
{
  & + .article--gallery
  {
    margin-top: 30px;
  }

}

p
{

  & + .wp-caption
  {
    margin-top: 55px;
  }

}

.wp-caption
{
  max-width: 100%;

  .wp-caption-text
  {
    margin-bottom: 30px;
    @include box;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey_02;

    color: $grey_06;
    @include font( 'sans', 13 );
  }

  &.aligncenter,
  &.alignnone {
    margin-right: auto;
    margin-left: auto;
  }
  &.alignright {
    margin-left: auto;
  }
}
img {
  &.aligncenter,
  &.alignnone,
  &.alignleft,
  &.alignright {
    display: block;
  }
  &.aligncenter,
  &.alignnone {
    margin-right: auto;
    margin-left: auto;
  }
  &.alignright {
    margin-left: auto;
  }
}
.post-share-image {
  max-width: 770px;
  width: 100%;
  &.aligncenter,
  &.alignnone {
    margin-right: auto;
    margin-left: auto;
  }
  &.alignright {
    margin-left: auto;
  }
}


.child--filter--list
{
  margin-bottom: 40px;

  .cat-item
  {
    @include display_inline;
    margin-right: 40px;

    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;

    a
    {
      color: $black;

      text-decoration: none;

      &:hover
      {
        color: $brand;
      }

    }

    &.current-cat
    {

      a
      {
        font-weight: 500;
      }

    }

  }

  @include bp(mobile){
    display: none;
  }

}


.archive-sort {
  margin: 0 0 20px;

  @include font( 'sans', 11, '200' );
  line-height: 26px;
  text-transform: uppercase;

  li {
    display: inline-block;

    vertical-align: middle;

    &:first-child a {
      padding-left: 0;
    }

    & + li {
      border-left: 1px solid $grey_02;
    }
  }

  a {
    padding: 0 20px;

    &:after {
      display: inline-block;
      margin: 9px 0 0 12px;
      width: 6px;
      height: 6px;

      border: 1px solid $black;
      border-radius: 50%;
      content: '';
      vertical-align: top;
      @include transitions(background 0.1s ease, border 0.1s ease);
    }

    &.is-active {
      font-weight: 500;

      &:after {
        background: $black;
      }
    }

    &:hover {
      &:after {
        background: $brand;
        border-color: $brand;
      }
    }
  }
}



[dir=rtl]
{
  .post--list{
    &.post--explore
    {
        .post--tag{
          font-size: 16px;
          color: darken($grey_06, 10%);
        }

        .post--title
        {
          font-size: 18px;
        }
    }
  }
}


.no-js-paganation
{
  width: 100%;
  max-width: 870px;
  margin-bottom: 65px;
}

.post--latest
{
  .post--standard
  {
    .post-sponsored
    {
      margin-top: 20px;
    @media ( min-width: 681px)
    {
      position: absolute;
      bottom: -35px;
    }
      .post-sponsored__name
      {
        display: none;
      }

    }

  }

}


  .post--full
  {
    .post-sponsored
    {
      margin-top: 25px;

      .post-sponsored__name
      {
        display: none;
      }

    }

  }

.break--explore
{
  .post-sponsored
  {
    margin-top: 15px;

    img
    {
      display: none;
    }

  }

}

.vogue--recommends
{

  .post--item
  {
    &:not(:nth-child(3n))
    {
      .post-sponsored
      {
        margin-top: 25px;
        @media ( min-width: 681px )
        {
          position: absolute;
          bottom: -30px;
          margin-top: 0;
        }

      }
    }
  }
  .post-sponsored
  {
    .post-sponsored__name
    {
      display: none;
    }
  }

}

.post--introduction
{
  .post-sponsored
  {
    position: relative;
    @include display_inline( top );
    font-style: normal;
    line-height: 12px;
    margin-left: 55px;
    margin-top: -1px;

    &:before
    {
      position:absolute;
      top:50%;
      display: block;
      width: 30px;
      height: 1px;
      margin-top: -1px;
      margin-left: -43px;

      background-color: $grey_10;

      content: '';
    }

    .post-sponsored__name
    {
      display: none;
    }

    img
    {
      vertical-align: middle;
    }

    .wide
    {
      max-height: 10px !important;
      margin: 0;
      display: block;
    }

    @media ( max-width: 500px )
    {
      display: block;
      margin-left: 0;
      margin-top: 15px;

      a
      {
        margin-left: 5px;
      }

      &:before
      {
        display: none;
      }

    }

  }

}

.post-sponsored
{
  @include font('sans-c',12,600);
  text-transform: uppercase;
  color: $grey_09;
  line-height: 11px;

  .presented-by
  {
    @include display_inline(middle);
  }

  a
  {
    position: relative;
    @include display_inline(middle);
    margin-left: 10px;
    color: $grey_09;
  }

  .post-sponsored__name
  {
    @include display_inline( middle );
  }

  img
  {
    // @include display_inline( top );
    width: auto !important;

    max-height: 30px;
    margin-top: -1px;
  }

}


.promoted--series
{
  li
  {
    @include display_inline;

    width: calc( 50% - 15px );

    background-color: $grey_02;

    &:hover
    {
      img
      {
        @include opacity(0.9);
      }
      .series--inner
      {
        color: $brand;

        .series--count
        {
          color: $black;
        }
      }
    }

    &:not(:last-child)
    {
      margin-bottom: 35px;
    }

    a
    {
      display: block;
      width: 100%;
    }

    .series--image
    {
      position: relative;
      width: 100%;
      img
      {
        display: block;
        width: 100%;
        @include transition(all,.3s,ease);
      }

    }

    &:nth-child(2)
    {
      margin-right: 15px;
    }

    &:nth-child(3)
    {
      margin-left: 15px;
    }

    &:first-child
    {
      img
      {
        float: left;
      }

    }

    &:last-child
    {
      img
      {
        float: right;
      }
    }

    &:first-child
    {
      .series--content
      {
        float: right;
      }
    }

    .series--count
    {
      display: block;
      @include font( 'sans-c', 13 );
      text-transform: uppercase;
      margin-bottom: 4px;
      color: $black !important;
    }

    .series--inner
    {
      width: 100%;
      @include font( 'serif', 24 );
      text-align: center;
      @include transition(color,.3s,ease);
    }

    .series--content{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &:first-child,
    &:last-child
    {
      width: 100%;

      .series--content
      {
        width: calc( 100% - 480px );
      }

      img
      {
        width: 100%;
        max-width: 480px;
      }

    }

    &:first-child{
      .series--content{
        right: 0;
      }
    }

    &:last-child{
      .series--content{
        left: 0;
      }
    }

    &:nth-child(2),
    &:nth-child(3)
    {

      .series--content{
        left: 35px;
        right: 35px;
        background-color: $grey_02;
        padding: 25px 0;
      }

    }

    @media ( max-width: 800px )
    {
      width: 100%;
      margin: 0 auto 60px auto;

      .series--image
      {
        width: 100%;
        float: none;

        img
        {
          float: none;
          width: 100%;
          max-width: 100%;
        }

        .series--content{
          top: 100%;
          left: 35px;
          right: 35px;
          width: auto;
          background-color: $grey_02;
          padding: 15px 0;
        }

      }

    }

  }

}


