/* ============================================================================

  BLOCK SECTION BREAKS

===============================================================================

  - Includes styles for section breaks, including video, instagram, etc.

============================================================================ */

.section--break
{
  padding-top: 55px;
  padding-bottom: 55px;


  &:not(.break--instagram),
  &:not(.break--series)
  {
    background-color: $grey_01;
  }
  &.break--series
  {
    background-color: $white;
    margin-bottom: 0;
  }

  &:not(.break--video)
  {
    & + .container.container--mid
    {
      margin-top: 80px;
      @include bp(mobile){
        margin-top: 40px;
      }
    }

  }

  @include bp(mobile){
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

.break--video
{
  margin-bottom: 60px;

  .post--tag,
  .post--time
  {

    @include bp(mobile){
      display: none;
    }
  }

  .post--full
  {

    .post--image{
      width: calc(100% + 30px);
      margin: 0 -15px;
    }

    .post--title
    {
      // TEMP FONT CHANGE
      // font-size: 32px;
      @include bp(mobile){
        padding: 0 20px;
      }
    }

    .post--snippet
    {
      width: 85%;
      max-width: 925px;
      margin: 0 auto;

      background-color: $grey_01;

      left: 50%;
      -sand-transform: translateX(-50%) translateY(-50%);

      -webkit-transform: translateX(-50%) translateY(-50%);
         -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      padding-top: 6px;
      padding-right: 15px;
      padding-left: 15px;

      @include bp(mobile){
        width: 90%;
        -sand-transform: translateX(-50%);

        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        max-width: 100%;
        padding: 0;
        top: -20px;
      }
    }

    @include bp(mobile){
      margin: 0 -15px 15px -15px;
      width: calc(100% + 30px);
    }

    .video--container {

      &.playing {

        & + .post--snippet {

          @include bp('mobile') {
            margin-top: 48px;
          }
        }
      }
    }

  }

  &.promoted--video
  {
    margin-bottom: 0;
    padding-top: 0;

    background-color: $white;

    .post--snippet
    {
      background-color: $white;
    }

    .post--item
    {
      padding-bottom: 35px;
    }

  }

  @include bp(mobile){
    margin-bottom: 40px;
  }

}

.break--explore
{
  .section--header{
    @include bp(mobile){
      margin-bottom: 5px;
    }
  }

  & + .special--container
  {
    margin-top: 15px;
  }

}

.break--instagram,
.break--social
{
  margin-top: 40px;
  margin-bottom: 20px;

  @media all and (max-width: 680px){
    padding-top: 30px;
    padding-bottom: 20px;
  }

}

.break--social,
.archive--header
{
  z-index: 1;
  position: relative;

  min-height: 300px;
  margin-bottom: 30px;
  @include box;
  padding-top: 85px;
  padding-bottom: 85px;

  .bg
  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url( '../images/sb-social-media.jpg' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  text-align: center;

  &.no--margin
  {
    margin-bottom: 0;
  }

  .section--heading
  {
    position: relative;
    z-index: 2;
    color: $white;

    @include font( 'serif', 32 );
    line-height: 1.2;
  }

  .archive--heading
  {
    color: $white;

    @include font( 'serif', 42 );
    line-height: 1.2;

    position: absolute;

    top: 50%;

    display: block;
    width: 100%;

    -sand-transform: translateY( -50% );

    -webkit-transform: translateY( -50% );
       -moz-transform: translateY( -50% );
        -ms-transform: translateY( -50% );
            transform: translateY( -50% );

    @include bp(mobile){
      font-size: 32px;
    }
  }

  .section--heading{
    @include bp(smallMobile){
      font-size: 26px;
    }
  }

  .section--social--list
  {
    position: relative;
    z-index: 2;
    padding-top: 30px;

    li
    {
      @include display_inline;
      margin-right: 15px;
      margin-left: 15px;

      a
      {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;

        background-color: $white;
        @include transitions(transform 0.2s ease, color 0.2s ease);

        font-size: 16px;
        line-height: 50px;
        text-align: center;
        color: $black;

        &:hover
        {
          color: $brand;
          // @include scale(1.1);
        }
      }

    }

  }

}

.archive--header
{
  min-height: 260px;
  margin-bottom: 40px;

  background-position: center top;
  background-size: cover;

  /*@media ( max-width: 630px )
  {
    .archive--heading
    {
      top: 100%;
      background-color: $white;

      width:calc(100% - 30px);
      margin-right: 15px;
      margin-left: 15px;
      padding-top: 15px;
      padding-bottom: 15px;

      color: $black;

      font-weight: 300;
    }
  }*/
}

.instagram--feed
{
  position: relative;

  width: 100%;
  max-width: 1440px;
  height: auto;
  margin-right: auto;
  margin-left: auto;

  -webkit-clip-path: inset( 0 0 0 );
}

.instagram--label
{
  position: absolute;
  z-index: 4;
  left: 50%;

  display: inline-block;
  width: 100%;
  max-width: 450px;
  @include box;
  padding: 20px 35px;

  color: $white;
  background-color: $brand;

  @include font( 'sans', 13, '+' );
  letter-spacing: 0.15em;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;

  -sand-transform: translateX( -50% ) translateY( -50% );

  -webkit-transform: translateX( -50% ) translateY( -50% );
     -moz-transform: translateX( -50% ) translateY( -50% );
      -ms-transform: translateX( -50% ) translateY( -50% );
          transform: translateX( -50% ) translateY( -50% );

  a
  {
    color: $white;

    text-decoration: none;

    &:hover
    {
      color: $black;
    }

  }

}

.instagram--items
{
  width: 100%;
  height: auto;
  // background-color: $black;

  &:before
  {
    display: block;
    padding-top: 20%;
    content: '';
  }

  @media ( max-width: 960px )
  {
    &:before {
      padding-top: 25%;
    }
  }

  @media ( max-width: 860px )
  {
    &:before {
      padding-top: 33.333333%;
    }
  }

  @media ( max-width: 700px )
  {
    &:before {
      padding-top: 50%;
    }
  }

  @media ( max-width: 460px )
  {
    &:before {
      padding-top: 100%;
    }
  }
}

.instagram--item
{
  position: absolute;
  top: 0;

  @include display_inline;
  width: 20%;
  height: auto;

  &.in-active
  {
    left: -9999px;
  }

  &:not(.is-active)
  {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.is-active
  {
    z-index: 2;
  }

  a,
  img
  {
    display: block;
    width: 100%;
    height: 100%;
  }
  a
  {
    &:after
    {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: $white;
      content: '';
      @include opacity(0);
      @include transitions(opacity 0.5s ease);
    }

    &:hover
    {
      &:after
      {
        @include opacity(0.25);
      }
    }
  }
  img
  {
    backface-visibility: hidden;
  }

  &.instagram--00
  {
    left: 0;
  }

  &.instagram--01
  {
    left: 20%;
  }

  &.instagram--02
  {
    left: 40%;
  }

  &.instagram--03
  {
    left: 60%;
  }

  &.instagram--04
  {
    left: 80%;
  }

  @media ( max-width: 960px )
  {
    width: 25%;

    &.instagram--01
    {
      left: 25%;
    }

    &.instagram--02
    {
      left: 50%;
    }

    &.instagram--03
    {
      left: 75%;
    }

    &.instagram--04
    {
      left: auto;
    }
  }

  @media ( max-width: 860px )
  {
    width: 33.333333%;

    &.instagram--01
    {
      left: 33.333333%;
    }

    &.instagram--02
    {
      left: 66.666666%;
    }

    &.instagram--03,
    &.instagram--04
    {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  @media ( max-width: 700px )
  {
    width: 50%;

    &.instagram--01
    {
      left: 50%;
    }

    &.instagram--02,
    &.instagram--03,
    &.instagram--04
    {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  @media ( max-width: 460px )
  {
    width: 100%;

    &.instagram--01,
    &.instagram--02,
    &.instagram--03,
    &.instagram--04
    {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

// NEWSLETTER

.break--newsletter
{
  text-align: center;
  // direction: ltr;
}

.newsletter--form
{
  position: relative;

  @include display_inline;
  margin-top: 0;
  margin-bottom: 0;

  width: 100%;
  max-width: 790px;
  @include box;
  padding: 0 50px;

  .message
  {
      padding: 23px 0 20px;
      box-sizing: content-box;
      min-height: 20px;
      @include font('sans', 16, 500);
      color: transparent;
      cursor: default;

      &.info    { color: $grey_04; }
      &.error   { color: $grey_04; }
      &.glamour { color: $brand; }

      &.mobile
      {
          display: none;
      }

      @media ( max-width: 600px )
      {
          padding: 8px 0 9px;
          min-height: 18px;
          @include font('sans', 14, 500);

          &:not(.mobile)
          {
              display: none;
          }

          &.mobile
          {
              display: block;
          }
      }
  }

  small
  {
    display: block;
    margin-top: 20px;

    color: lighten( $black, 53 );

    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;

    @media ( max-width: 600px )
    {
      display: none;
    }

  }

  img
  {
    position: absolute;
    bottom: -55px;
    right: calc( 100% + 55px );

    @media ( max-width: 1370px )
    {
      right: 100%;
    }

    @media ( max-width: 1240px )
    {
      display: none;
    }

  }

  @include bp(mobile){
    padding: 0 25px;
  }

}

.newsletter--fields
{
  position: relative;

  margin-top: 50px;

  @media ( max-width: 600px )
  {
    margin-top: 35px;
  }

}

.newsletter--field,
.newsletter--submit
{
  @include display_inline;
  @include box;
}

.newsletter--field
{
  width: 34%;
  margin-right: 1%;
  max-width: 550px;
  height: 50px;
  border: none;
  padding-right: 30px;
  padding-left: 30px;

  @include font( 'sans', 12, 500 );
  @include transition;

  &::-webkit-input-placeholder
  {
    color: $black;

    text-transform: uppercase;

    @include transition;
  }

  &::-moz-placeholder
  {
    color: $black;

    text-transform: uppercase;

    @include transition;
  }

  &::-ms-input-placeholder
  {
    color: $black;

    text-transform: uppercase;

    @include transition;
  }

  &:active,
  &:focus
  {
    &::-webkit-input-placeholder
    {
      color: $grey_02;
    }

    &::-moz-placeholder
    {
      color: $grey_02;
    }

    &::-ms-input-placeholder
    {
      color: $grey_02;
    }

  }

  @media ( max-width: 600px )
  {
    width: calc( 100% - 60px );
    height: 60px;
    margin-bottom: 6px;

    text-align: center;
  }

}

.newsletter--submit
{
  @include font('sans', 12);
  width: 30%;
  max-width: 240px;

  -webkit-transition: color .3s, background-color .3s;
     -moz-transition: color .3s, background-color .3s;
          transition: color .3s, background-color .3s;

  @media ( max-width: 600px )
  {
    width: calc( 100% - 60px );
  }

}

.newsletter--heading
{
  margin-bottom: 10px;

  color: $brand;

  @include font( 'serif', 34 );
  line-height: 1.2;

  @include bp(mobile){
    font-size: 30px;
  }

}

.newsletter--heading__sub
{
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-transform: uppercase;

  @media ( max-width: 600px )
  {
    padding-right: 35px;
    padding-left: 35px;

    font-size: 12px;
    line-height: 20px;
  }

}



.break--selection
{

  a
  {
    color: $black;

    text-decoration: none;
  }

}

.selection--gallery
{
  position: relative;
  @include transition;

  &:not(.init)
  {
    opacity: 0;
  }

}

.selection--inner
{
   padding-bottom: 29px;

  .gallery--navigation--button
  {
    position: absolute;
    top: 126px;
    margin-top: -13px;

    width: 26px;
    height: 26px;

    cursor: pointer;

    &.gallery--next
    {
      left: calc( 100% + 20px );

      &:hover {
        img {
          @include translateX(5px);
        }
      }
    }

    &.gallery--previous
    {
      right: calc( 100% + 20px );

      &:hover {
        img {
          @include translateX(-5px);
        }
      }
    }

    img
    {
      display: block;
      width: 100%;
      height: auto;

      @include transition(transform, 0.2s, ease);
    }

  }

  .slick-dots
  {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 100%;

    text-align: center;

    -sand-transform: translateX( -50% );

    -webkit-transform: translateX( -50% );
       -moz-transform: translateX( -50% );
        -ms-transform: translateX( -50% );
            transform: translateX( -50% );

    li
    {
      @include display_inline;
      position: relative;

      width: 9px;
      height: 9px;
      border-radius: 100%;
      margin-right: 4px;
      margin-left: 4px;

      background-color: $grey_03;
      cursor: pointer;

      // @include transition;
      @include transitions(background 0.15s ease);

      &.slick-active
      {
        background-color: $black;
      }

      button
      {
        display: none;
      }

      &:hover
      {
        background: $brand;
      }

    }

  }

}

.selection--item
{
  padding: 0 8px;

  a
  {
    display: block;
  }

  img
  {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
  }

  &:hover
  {

    .selection--image
    {

      &:before,
      &:after
      {
        opacity: 1;
      }

      &:after
      {
        -sand-transform: translateY( -50% );

        -webkit-transform: translateY( -50% );
           -moz-transform: translateY( -50% );
            -ms-transform: translateY( -50% );
                transform: translateY( -50% );
      }

    }

    .selection--title
    {
      color: $brand;
    }

  }

}

.selection--image
{
  position: relative;

  display: block;

  &:before,
  &:after
  {
    opacity: 0;

    @include transition;
  }

  &:before
  {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba( $black, .6 );

    content: '';
  }

  &:after
  {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 100%;

    color: $white;

    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    content: attr(data-title);

    -sand-transform: translateY( calc( -50% + 10px ) );

    -webkit-transform: translateY( calc( -50% + 10px ) );
       -moz-transform: translateY( calc( -50% + 10px ) );
        -ms-transform: translateY( calc( -50% + 10px ) );
            transform: translateY( calc( -50% + 10px ) );
  }

}

.selection--title
{
  @include font( 'serif', 17 );
  line-height: 1.2;
  text-align: center;

  @include transition(color, 0.2s, ease);
}

.archive--colour__white
{
  color: $white;
}

.archive--colour__black
{
  color: $black;
}


.selection--gallery
{

  &.no-js-initiate
  {
    opacity: 1;
    padding-bottom: 0;

    .selection--inner 
    {
      padding-bottom: 20px;
      &:after
      {
        display: block;
        clear: both;
        content: '';
      }

      .selection--item
      {
        width: 16.6%;
        float: left;
        min-height: 360px;
        margin-bottom: 15px;

        @media ( max-width: 1130px )
        {
          width: 20%;
          min-height: 390px;
        }

        @media ( max-width: 890px )
        {
          width: 25%;
        }

        @media ( max-width: 690px )
        {
          width: 33.333333%;
        }

        @media ( max-width: 545px )
        {
          width: 50%;
          min-height: 430px;
        }

        @media ( max-width: 480px )
        {
          min-height: 400px;
        }

        @media ( max-width: 375px )
        {
          width: calc(100vw - 30px);
          min-height: auto;
          padding: 0;

          &:not(:last-of-type)
          {
            margin-bottom: 35px;
          }

        }

      }

    }

  }

}

