/* ============================================================================

  BLOCK NAVIGATION

===============================================================================

  - Main navigation container

============================================================================ */

.navigation
{
  position: absolute;
  bottom: 0;

  width: 100%;
  // padding-top: 8px;
  // padding-bottom: 8px;

  // background-color: $white;

  text-align: center;

  // &.is-fixed
  // {
  //   position: fixed;
  //   top: 45px;
  //   bottom: auto;
  // }

}

.navigation--list
{
  -webkit-transition: opacity .3s, transform .5s ease-in-out .2s;
}

.navigation--list,
.navigation--item,
.page_item,
.menu-item
{
  @include display_inline;
}

.navigation--item,
.page_item,
.site-head__nav .menu-item
{
  height: 46px;
  margin-right: 30px;
  margin-left: 30px;

  line-height: 50px;

  a
  {
    color: $black;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover
    {
      color: $brand;
    }

  }

}

.navigation--toggle
{
  position: absolute;
  z-index: 10;
  top: 0;

  display: block;
  width: 96px;
  height: 100%;
  @include box;

  @include transition( opacity, .2s, ease );

  &:hover
  {
    @include opacity(0.5);
  }

  &.navigation--menu
  {
    background-image: url( '../images/va-menu.svg' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
  }

  &.navigation--search
  {
    right: 0;

    background-image: url( '../images/va-search.svg' );
    background-position: center 53%;
    background-repeat: no-repeat;
    background-size: 23px;
  }

  &.toggle--close
  {
    background-image: url( '../images/vg-close.png' ) !important;
    background-size: 34px !important;
  }

}

.side--menu
{
  .navigation--toggle
  {
    width: 66px;
    height: 54px;
  }

}

.navigation
{
  .navigation--toggle
  {
    height: 28px;
    margin-top: 10px;

    &.navigation--menu
    {
      border-right: 1px solid $grey_02;
    }

    &.navigation--search
    {
      border-left: 1px solid $grey_02;
    }

  }

}

