.filter-block{
  background-color: $primaryBlack;
  padding: 25px 7px;
  text-align: center;
  &.filter-block--light{
    background: transparent;
    padding: 0;
    margin-bottom: 40px;
    .filter-block__item{
      width: calc(75% - 14px);
    }
  }
  &.filter-block--mobile{
    @include bpmin(mobile){
      display: none;
    }
  }
}

  .filter-block__item{
    display: inline-block;
    position: relative;
    margin: 0 7px;
    width: calc(50% - 14px);
    max-width: 260px;
    z-index: 10;
  }

    .toggle-filter-dropdown{
      display: block;
      width: 100%;
      height: 50px;
      @include font('sans', 12, bold);
      text-align: center;
      text-transform: uppercase;
      background-color: $grey_01;
      cursor: pointer;
      span{
        line-height: 50px;
        @include transition();
        &:after{
          line-height: 50px;
          margin-left: 20px;
          font-size: 16px;
          font-family: "FontAwesome";
          content: '\f107';         
        }
      }
      @include bp(mobile){
        height: 40px;
        span{
          line-height: 40px;
          &:after{
            line-height: 40px;
          }
        }
      }
      &:hover{
        span{
          color: $brand;
        }
      }
    }

.filter-dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $grey_01;
  height: 0;
  overflow: hidden;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $grey_02;
    content: '';
  }
}

  .filter-dropdown__list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
    &::-webkit-scrollbar{
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $grey_03;
    }
    li{
      display: block;
    }
    a{
      display: block;
      padding: 10px;
      @include font('sans', 12, bold);
      text-transform: uppercase;
      text-align: center;
      @include transition();
      @include bp(smallMobile){
        font-size: 10px;
        padding: 7px 0;
      }
      &:hover{
        color: $brand;
      }
    }
    @include bp(smallMobile){
      padding: 7px 0;
    }
  }

.no-touchevents{
  .filter-block__item{
    &:hover{
      .filter-dropdown{
        height: 260px;
      }
    }
  }
  .filter-dropdown{
    @include transition();
  }
}