/* ============================================================================

  BLOCK ARTICLE GALLERY

===============================================================================

  - Styles for galleries within articles

============================================================================ */


.article--gallery
{
  position: relative;

  width: 100%;

  overflow-x: hidden;

  opacity: 0;

  @include transition( opacity, .5s );

  &.init
  {
    opacity: 1;
  }

  &.list--view
  {
    overflow-x: visible;

    // .article--gallery--meta
    // {
    //   opacity: 0;
    //   visibility: hidden;
    //   pointer-events: none;
    // }

    .slick-list,
    .slick-track
    {
      @include transform(none);
    }

    .slick-list
    {
      overflow: visible;
      height: auto !important;
    }

    .gallery--navigation {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    .gallery--item
    {
      position: static !important;
      top: auto !important;
      left: auto !important;

      padding-bottom: 30px;

      float: none !important;
      clear: both !important;

      opacity: 1 !important;

      // .item--image {
      //   margin-right: 0;
      // }

      &:not(:first-of-type)
      {

        .item--image
        {
          float: right;
          margin-right: 0;
          width: 100%;
          max-width: 750px;

          @include bp(tablet) {
            float: none;
            max-width: none;
          }
        }

      }

      &:first-of-type {
        .item--image {
          margin-right: 0;
        }
      }

    }

    .article--gallery--meta {
      padding: 0;
      width: 0;
      @include opacity(0);
    }

    .article--gallery--meta__sticky {
      display: block;
    }

  }

}

body
{
  &:not(.browser-msie)
  {
    .gallery--item
    {
      img
      {
        width: auto;
      }
    }
  }

}

.gallery--item
{
  position: relative;

  img
  {
    @include display_inline;
    
    /*
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    */

    position: absolute;
    display: block;
    width: auto;
    max-width: none;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
  }

  .item--image
  {
    display: flex;
    margin-right: 90px;
    width: auto;
    max-width: none;
    height: 550px;

    background-color: $grey_01;
    flex-direction: column;
    justify-content: center;
    @include transitions(margin 0.3s ease);

    text-align: center;
  }

  .item--content
  {
    position: relative;
    width: 100%;
    // max-width: 870px;
    max-width: 750px;

    float: right;
    clear: both;

    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;

    @include bp(tablet) {
      float: none;
      max-width: none;
    }
  }

  .item--content__header
  {
    overflow: hidden;
    padding: 30px 180px 30px 0;
    min-height: 98px;
		position: relative;
    border-bottom: 1px solid $grey_02;
  }


  .item--content__copy
  {
    margin-top: 22px;

    h2
    {
      margin-bottom: 4px;
      @include font( 'serif', 18, 500 );
      line-height: 22px;
    }
  }

  .item--content__buy
  {
    position: absolute;
    right: 40px;
    bottom: 30px;
    left: 40px;

    width: calc( 100% - 80px );
    height: 36px;

    pointer-events: auto;

    .button
    {
      position: absolute;
      bottom: 0;
      right: 0;

      @include display_inline;
      width: auto;
      padding-right: 26px;
      padding-left: 26px;

      font-size: 12px;
      font-weight: 600;
      line-height: 36px;
    }

  }

  .item--content__pricing
  {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);

    p
    {
      @include font( 'sans', 14 );
      line-height: 18px;
      color: $primaryBlack;
    }

  }

  .item--caption
  {
    @include box;
    color: $grey_06;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;

    & + .item--credit {
      margin-top: 20px;
    }
  }

  .item--credit
  {
    color: $black;
    font-size: 9px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }

}

.article--gallery--inner,
.article--gallery--meta
{
  display: inline-block !important;
  vertical-align: top;
}

.article--gallery--inner
{
  width: 100%;
}

@media ( min-width: 401px )
{
  .shoppable
  {
    .article--gallery--meta
    {
      min-height: 100%;
    }
  }  
}

.article--gallery--meta
{
  overflow: hidden;
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 550px;

  @include box;

  background-color: $white;
  border: 1px solid $grey_02;

  @include transitions( opacity 0.3s ease, width 0.3s ease, padding 0.3s ease );

  pointer-events: none;
}

.gallery--view--thumbs
{
  margin: 0 0 0 -24px;
  position: absolute;
  top: 30px;
  left: 50%;
  width: 48px;
  height: 48px;
  @include box;

  background-image: url( '../images/va-gallery-grid-view.svg' );
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  border: 1px solid $grey_02;
  cursor: pointer;
  z-index: 2;

  @include transition(border, 0.15s, ease);

  pointer-events: auto;

  &.is-active
  {
    // z-index: 2;
    background-image: url( '../images/va-gallery-grid-close.svg' );
  }

  &:hover {
    border-color: $black;
  }

}

.article--gallery--meta__sticky .gallery--view--thumbs {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;

  z-index: 3;
}

.gallery--change
{
  padding: 0 10px;
  position: absolute;
  top: 50%;
  right: 0;
  min-width: 90px;
  @include display_inline;
  @include box;

  border: 1px solid $grey_02;
  pointer-events: auto;

  @include font( 'sans-c', 12, 600 );
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;

  @include transitions(background 0.2s ease, border 0.2s ease);

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  &:before
  {
    @include transitions(color 0.2s ease);
  }

  &:hover
  {
    border-color: $black;
    background-color: $black;

    &:before
    {
      color: $white;
    }

  }

  &.to--list
  {

    &:before
    {
      content: attr(data-to-list);
    }

  }

  &.to--slider
  {

    &:before
    {
      content: attr(data-to-slider);
    }

  }
}

.article--gallery--meta__sticky {
  display: none;
  position: absolute;
  top: 0;
  margin-left: -48px;

  background-color: $white;
  z-index: 3;

  @media (max-width: 1439px) {
    margin-left: 0;
  }

  &:before {
    display: block;
    position: absolute;
    left: 48px;
    top: -100vh;
    bottom: -100vh;
    width: calc( 100vw - ( ( 100vw - 1260px ) / 2 ) - 60px );

    background: $white;
    content: '';
    pointer-events: none;
    @include opacity(0);
    // @include transition(opacity, 0.2s, ease);


    @include bp(smallDesktop) {
      left: 0;
      width: calc(100vw - 90px);
    }

    @include bp(tablet) {
      width: calc(100vw - 30px);
    }
  }

  &.has-mask {
    &:before {
      pointer-events: auto;
      @include opacity(1);
    }
  }
}

.gallery--navigation
{
  margin: 0 0 0 -24px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 48px;
  height: 95px;

  pointer-events: auto;

  .gallery--navigation--button
  {
    position: relative;

    display: block;
    width: 48px;
    height: 48px;
    @include box;
    padding: 19px;
    border: 1px solid $grey_02;
    border-radius: 0;

    background-color: transparent;

    font-size: 0;

    &:not(.slick-disabled)
    {
      cursor: pointer;

      @include transition(border, 0.15s, ease);

      &:hover {
        border-color: $black;

        z-index: 2;
      }
    }

    &.slick-disabled
    {

      img
      {
        opacity: 0.4;
      }

    }

    -webkit-appearance: none;

    &:first-of-type
    {
      margin-bottom: -1px;
    }

    img
    {
      margin: -9px 0 0 -9px;
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 19px;
      height: 19px;
    }

  }

}

.gallery--position
{
  position: absolute;
  top: 43%;
  left: 50%;

  display: block;
  width: 60px;
  height: 60px;

  @include font( 'serif' );

  -sand-transform: translateX( -50% ) translateY( -50% );

  -webkit-transform: translateX( -50% ) translateY( -50% );
     -moz-transform: translateX( -50% ) translateY( -50% );
      -ms-transform: translateX( -50% ) translateY( -50% );
          transform: translateX( -50% ) translateY( -50% );

  .current--slide,
  .total--slides,
  .position--seperator
  {
    position: absolute;
  }

  .current--slide
  {
    top: 1px;
    right: 31px;

    color: $black;

    font-size: 28px;
    text-align: right;
    @include bp(smallMobile){
      &:after{
        font-size: 28px;
        margin-left: 7px;
        content: '/';
      }
    }
  }

  .total--slides
  {
    top: 36px;
    left: 40px;

    color: $grey_06;

    font-size: 18px;
    @include bp(smallMobile){
      top: 0;
      font-size: 28px;
    }
  }

  .position--seperator
  {
    top: 8px;
    left: 26px;

    display: block;
    width: 110%;
    height: 2px;

    background-color: $grey_01;

    -sand-transform: rotate( -45deg ) translateX( -50% ) translateY( -50% );

    -webkit-transform: rotate( -45deg ) translateX( -50% ) translateY( -50% );
       -moz-transform: rotate( -45deg ) translateX( -50% ) translateY( -50% );
        -ms-transform: rotate( -45deg ) translateX( -50% ) translateY( -50% );
            transform: rotate( -45deg ) translateX( -50% ) translateY( -50% );

    @include bp(smallMobile){
      display: none;
    }
  }

}

.gallery--position__small {
  margin-top: -1px;
  position: relative;
  width: 48px;
  height: 48px;
  @include box;

  background-color: $white;
  border: 1px solid $grey_02;
  cursor: pointer;
  z-index: 2;

  color: $grey_06;
  line-height: 46px;
  text-align: center;
  @include font( 'sans', 14, 400 );

  b {
    color: $black;
    @include font( 'sans-c', 14, 600 );
  }
}

.article--gallery--grid--view
{
  position: absolute;
  top: 0;
  left: 0;

  width: calc( 100% - 1px );
  height: 550px;

  @include box;
  padding-top: 20px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-left: 50px;
  border: 1px solid $grey_02;
  border-right: none;

  background-color: $white;

  overflow-x: hidden;

  // -webkit-transform: translateX( -100% );
  //    -moz-transform: translateX( -100% );
  //         transform: translateX( -100% );

  &:not(.is-active)
  {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @include transition( all, .3s );

  &.loaded
  {
    .grid--item
    {
      opacity: 1;

      &.is-active
      {
        opacity: 0.4;
      }

    }

  }

  &.is-active
  {
    // -webkit-transform: none;
    //    -moz-transform: none;
    //         transform: none;
  }

  &::-webkit-scrollbar {
    width: 5px; /* Sets width of scrollbar */
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment  {
      display: none; /* Hides top and bottom click progression controls */
  }

  &::-webkit-scrollbar-track-piece  {
      background-color: $grey_02; /* Background colour of the scrollbar track */
  }

  &::-webkit-scrollbar-thumb:vertical {
      background-color: $black; /* Background colour of the scrollbar dragger */
  }

  .grid--item
  {
    float: left;
    margin: 20px 10px 0;
    position: relative;
    width: 150px;
    @include box;

    @include transition;

    overflow: hidden;

    opacity: 0;

    &:before {
      display: block;
      padding-top: 100%;
      content: '';
    }

    a
    {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      text-align: center;

      &:hover
      {

        &:before,
        &:after
        {
          opacity: 1;
        }

        &:after
        {
          -sand-transform: translateY( -50% );

          -webkit-transform: translateY( -50% );
             -moz-transform: translateY( -50% );
              -ms-transform: translateY( -50% );
                  transform: translateY( -50% );
        }

      }

      &:before,
      &:after
      {
        z-index: 2;

        opacity: 0;

        @include transition;
      }

      &:before
      {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba( $black, .7 );

        content: '';
      }

      &:after
      {
        position: absolute;
        top: 50%;
        left: 0;

        display: block;
        width: 100%;

        color: $white;

        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.04em;
        text-align: center;
        text-transform: uppercase;

        -sand-transform: translateY( calc( -50% + 10px ) );

        -webkit-transform: translateY( calc( -50% + 10px ) );
           -moz-transform: translateY( calc( -50% + 10px ) );
            -ms-transform: translateY( calc( -50% + 10px ) );
                transform: translateY( calc( -50% + 10px ) );

        content: attr(data-title);
      }

    }

    img
    {
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      max-width: none;
    }

  }

  @include bp(mobile) {
    padding: 30px 60px 20px 20px;

    .grid--item
    {
      width: 100px;

      &:nth-child(1n) {
        margin-top: 20px;
      }
      &:nth-child(-n+3) {
        margin-top: 0;
      }
    }
  }

}

.article--gallery--meta__sticky .article--gallery--grid--view {
  left: 48px;
  width: calc( 100vw - ( ( 100vw - 1260px ) / 2 ) - 60px );

  border-right: 1px solid $grey_02;

  @include bp(smallDesktop) {
    left: 0;
    width: calc(100vw - 90px)
  }

  @include bp(tablet) {
    width: calc(100vw - 60px);
  }
}

.article--gallery
{

  & + .article--gallery
  {
    margin-top: 80px;
  }

  &.shoppable
  {

    .slick-list
    {
      overflow: visible !important;
    }

    .article--gallery--meta
    {
      width: 300px;
      background-color: transparent;
    }

    .article--gallery--inner
    {
      width: calc( 100% - 300px );
      border-top: 1px solid $grey_02;
      border-bottom: 1px solid $grey_02;
      border-left: 1px solid $grey_02;
    }

    .item--image
    {
      margin-right: 0;
      background-color: $white;
    }

    .item--content
    {
      position: absolute;
      z-index: 92;
      left: 100%;
      top: 0;

      width: 300px;
      height: 100%;
      @include box;
      padding-top: 128px;
      padding-right: 40px;
      padding-left: 40px;

      .item--content__header
      {
        padding: 0;
        border-bottom: none;

        min-height: auto;
        color: $primaryBlack;


        @include font( 'body', 30 );
        line-height: 32px;

        @media all and (max-width: 400px){
          margin-bottom: 20px;
        }
      }

      .item--content__copy
      {
        max-height: 53%;
        overflow: auto;

        p
        {
          @include font( 'sans', 14 );
          line-height: 18px;
          color: $primaryBlack;
					background-color: #FFF;
					padding: 0 6px;
        }

      }

    }

    .gallery--position
    {
      top: 25px;
      left: 28px;

      -sand-transform: none;

      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
              transform: none;
    }

    .gallery--navigation
    {
      top: 30px;
      right: 40px;
      bottom: auto;
      left: auto;

      width: auto;
      height: auto;

      -sand-transform: none;

      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
              transform: none;

      .gallery--navigation--button
      {
        display: inline-block !important;
        vertical-align: top;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;

        &:first-of-type
        {
          margin-bottom: 0;
          margin-right: -1px;

          // border-right: none;
          // border-bottom: 1px solid $grey_02;
        }

      }

    }


    @include bp(mobile) {
      .article--gallery--inner {
        width: 100%;
      }

      .slick-dots
      {
        display: block !important;
      }

      .article--gallery--meta {
        width: 100%;
        height: 100%;
      }

      .gallery--position {
        top: 15px;
        right: 15px;
        left: auto;

        @include scale(0.75);
        @include transform-origin(100%, 0);
      }

      .gallery--navigation {
        margin: 0;
        top: auto;
        right: auto;
        bottom: 13px;
        left: 0;
        width: 100%;

        .gallery--navigation--button {
          margin: 0;
          position: absolute;
          bottom: 0;

          border: 0;

          &:nth-child(1) {
            left: 15px;
          }

          &:nth-child(2) {
            right: 15px;
          }
        }
      }

      .gallery--item {
        padding: 15px 15px 230px;

        .item--image {
          height: 290px;
        }
      }

      .item--content {
        padding: 40px 15px 48px;
        left: 0;
        top: 320px;
        width: 100%;
        height: auto;

        text-align: center;

        .item--content__header {
          min-height: 0;

          line-height: 1.33;
          @include font('sans', 18, 500)
        }
      }

      .item--content__buy {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        width: 100%;
        height: auto;

        .button {
          position: absolute;
          top: -22px;
          right: auto;
          bottom: auto;
          left: 50%;

          -sand-transform: translateX( -50% );

          -webkit-transform: translateX( -50% );
             -moz-transform: translateX( -50% );
              -ms-transform: translateX( -50% );
                  transform: translateX( -50% );

        }
      }

      .item--content__pricing {
        position: relative;
        bottom: auto;
        display: inline;
      }
    }
  }

  .slick-dots
  {
    display: none !important;
    position: absolute;
    bottom: 30px;
    left: 50%;

    display: block;
    width: 100%;

    text-align: center;

    -sand-transform: translateX( -50% );

    -webkit-transform: translateX( -50% );
       -moz-transform: translateX( -50% );
        -ms-transform: translateX( -50% );
            transform: translateX( -50% );

    li
    {
      @include display_inline;
      position: relative;

      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin-right: 4px;
      margin-left: 4px;

      background-color: $grey_03;
      cursor: pointer;

      // @include transition;
      @include transitions(background 0.15s ease);

      &.slick-active
      {
        background-color: $black;
      }

      button
      {
        display: none;
      }

      &:hover
      {
        background: $brand;
      }

    }

  }

  &:not(.shoppable) {
    @include bp(smallMobile) {
      .article--gallery--meta,
      .gallery--change,
      .article--gallery--meta__sticky {
        display: none !important;
      }

      .gallery--item {
        .item--image {
          display: block;
          margin: 0;
          height: 300px;
        }

        .item--content__header {
          padding: 20px 0;
          min-height: 0;
        }
      }

      .slick-track {
        width: auto !important;
      }

      .slick-slide {
        float: none;
        padding-bottom: 55px;
        top:  auto !important;
        left: auto !important;
        width: auto !important;
        @include opacity(1, 1);
      }
    }
  }

  &.no-js-initiate
  {
    .article--gallery--meta__sticky,
    .gallery--view--thumbs,
    .gallery--position,
    .gallery--navigation,
    .gallery--change,
    .article--gallery--meta
    {
      display: none !important;
    }

    .gallery--item
    {
      padding-bottom: 30px;

      .item--image
      {
        margin-right: 0;
      }

    }

  }

}
