/* ============================================================================

  BLOCK SEARCH

===============================================================================

  - Main search styles

============================================================================ */

/*.search-area{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

  .search-area__form-wrapper{
    width: 100%;
    background-color: $grey_01;
  }

    .search-area__form{
      width: 100%;
      max-width: 1140px;
      padding: 0 15px;
      margin: auto;
      input[type="text"]{
        @include font('serif');
        display: block;
        font-size: 50px;
        height: 120px;
        line-height: 120px;
        border: 0;
        background-color: transparent;
        margin: 0;
        padding: 0;
      }
    }

*/

.search--area
{
  position: fixed;
  z-index: 950;
  top: $header_strip_height + px;
  left: 0;

  width: 100%;
  height: 0;
  @include box;

  background-color: $grey_01;

  @include transition( all, .3s, ease, .2s );

  overflow: hidden;
}

.search--key--words,
.search--post--list,
.search--sidebar
{
  position: relative;

  @include display_inline;

  text-align: left;

  #search_style_base
  {
    display: none;
  }

}

.ui-autocomplete
{
  top: 0 !important;
  left: 0 !important;

  display: block !important;
  width: 100% !important;
  height: 0;

  // background-color: rgba( $white, .1 );

  opacity: 0;

  @include transition( opacity, .4s, ease );

  &.is-active
  {
    opacity: 1;

    @include transition( opacity, .4s, ease, .4s );
  }

  .ui-menu-item
  {
    // background-color: rgba( $white, .03);
    // border-bottom: 1px solid $primaryBlack;
  }

}

.search--area--results
{
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 0;
  @include box;

  background-color: $primaryBlack;

  overflow: hidden;

  @include transition( all, .4s, ease );

  &.is-active
  {
    height: calc( 100vh - 165px );
    // max-height: 640px;

    @include transition( all, .4s, ease );

    .button
    {
      opacity: 0;

      transition: opacity .1s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out !important;

    }

  }

  @media ( max-width: 1300px ) and ( min-width: 981px )
  {
    padding-left: 50px;
  }

}

.search--heading
{
  margin-top: 45px;
  margin-bottom: 25px;

  color: $white;

  @include font( 'sans-c' );
  text-transform: uppercase;
}

.search--key--words
{
  width: 100%;
  max-width: 340px;

  .ui-autocomplete
  {
    white-space: nowrap;

    &.is-active
    {
      // height: 470px;
    }

    .ui-menu-item
    {
      color: rgba( $white, .60 );

      @include font( 'serif', 28 );
      line-height: 46px;

      @include transition( color, .3s, ease-in-out );

      &:hover
      {
        color: $white;

        cursor: pointer;
      }

    }

  }

  @media ( max-width: 1300px )
  {
    max-width: 280px;

    .ui-autocomplete
    {

      .ui-menu-item
      {
        font-size: 24px;
        line-height: 32px;
      }

    }

  }

}

.search--post--list
{
  width: 100%;
  min-height: 140px;
  max-width: 520px;
  height: calc( 100vh - 195px );
  max-height: 576px;
  margin-right: 80px;
  margin-left: 80px;

  @media ( min-height: 600px ) and ( max-height: 649px ) and ( min-width: 700px )
  {
    height: calc(100vh - 125px );
  }

  @media ( min-height: 650px ) and ( max-height: 750px )
  {
    height: calc(100vh - 95px );
  }

  background-image: url('../images/V-loading.gif');
  background-position:center;
  background-repeat: no-repeat;
  background-size: 50%;

  .post--slider
  {
    height: calc(100% - 76px);

    &.stop-load
    {
      background-color: $primaryBlack;
    }
    .results-wrap
    {
      background-color: $primaryBlack;

      &.no-results
      {
        .search--post--item
        {
          border-bottom: none !important;

          span
          {
            display: block;
            color: white;
            font-size: 28px;
            position: relative;
            background-color: $primaryBlack;
            text-align: center;
            height: 100%;
            line-height: 100%;
            margin-top: 170px;
          }
        }
      }
    }

    
  }

  @media ( max-height: 700px ),
         ( max-width: 1250px ) and ( min-width: 1170px )
  {
    max-width: 400px;
  }

  ul
  {
    &.ui-autocomplete
    {
      display: none !important;
    }
  }

  .ui-autocomplete
  {

    .search--post--thumbnail
    {
      @include display_inline(middle);
      height: 108px;
      width: 180px;
      position: relative;

      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;


      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: -21px;
        width: 0px;
        height: 2px;
        height: 2px;
        background-color: #ba954e;
        
        -sand-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        @include transition( width, .2s, ease-in-out );
        
        z-index: 2;
      }

      // img
      // {
      //   display: block;
      //   width: 100%;
      //   height: auto;
      // }

    }

    .search--post--item
    {
        min-height: 120px;
        height: auto !important;

        & > a
        {
            display: block;

            &:hover
            {
                .search--post--thumbnail
                {
                  &:before {
                    width: 48px;
                  }
                }

                .item--title
                {
                    color: $brand;
                }

                .search--post--item--content
                {
                    .item--title
                    {
                      color: rgba( $white, 1 );
                    }
                }
            }
        }
    }

    .search--post--item--content
    {
      @include display_inline(middle);
      width: calc( 100% - 180px );
      @include box;
      // padding-top: 12px;
      padding-left: 30px;
    }

  }

  .ui-menu-item
  {
    padding-bottom: 10px;

    &:not(:first-of-type)
    {
      padding-top: 10px;
    }

    &:not( :nth-child( 3n ) )
    {
      border-bottom: 1px solid $grey_04;
    }

  }

  .item--topic
  {
    color: $brand;

    @include font( 'sans-c', 12, 600 );
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .item--title
  {
    position: relative;

    display: block;

    color: rgba( $white, .60 );

    @include font( 'serif', 18 );
    line-height: 22px;
    text-decoration: none;

    @include transition( color, .3s, ease-in-out );

    // &:before
    // {
    //   position: absolute;
    //   top: 50%;
    //   right: calc( 100% + 10px );

    //   display: block;
    //   width: 50px;
    //   height: 2px;

    //   background-color: $brand;

    //   content: '';

    //   @include transition( width, .3s, ease-in-out );
    // }

    &:hover
    {
      // color: $grey_02;

      // &:before
      // {
      //   width: 50px;

      //   @include transition( width, .5s, cubic-bezier(.08,2,.94,.7) );
      // }

    }

  }

}

.search--sidebar
{
  width: 100%;
  max-width: 240px;
}

.search--topics
{
  li
  {
    @include display_inline;
    margin-right: 5px;

    &:not( :last-of-type )
    {
      &:after
      {
        color: $grey_03;

        @include font( $size: 12 );

        content: ',';
      }

    }

  }

  a
  {
    color: $grey_03;

    @include font( $size: 12, $style: italic );
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover
    {
      color: $white;
    }

  }

}


// TEMP
.search--area
{
  form
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input[type="text"]
  {
    display: block;
    width: 100vw;
    max-width: 1600px;
    height: 80px;
    @include box;
    padding-top: 0;
    padding-right: 170px;
    padding-bottom: 0;
    padding-left: 170px;
    border: none;
    border-radius: 0;

    background-color: transparent;

    @include font( 'serif', 55 );
    line-height: 80px;
    text-transform: capitalize;

    -webkit-appearance: none;

    opacity: 0;

    @include transition( opacity, .3s, ease, 0 );

    @media( max-width: 800px ),
          ( max-height: 750px )
    {
      padding-right: 65px;
      padding-left: 65px;

      font-size: 28px;
      font-weight: 300;
    }
  }

  &.is-active
  {
    height: 120px;

    overflow: visible;

    @include transition( all, .3s, ease );

    input[type="text"]
    {
      opacity: 1;

      @include transition( opacity, .3s, ease, .2s );
    }

  }

}


.search--suggestions
{
  &.search--style-base
  {
    ul
    {
      height: auto !important;
    }

  }
}

.search--style-base ul,
.stylebase--temp
{

  li
  {
    &:not(:last-child)
    {
      margin-bottom: 12px;
    }

  }

  img,
  a
  {
    @include display_inline;
  }

  img
  {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 100%;
  }

  a
  {
    color: $brand;

    @include font( $size: 12 );
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover
    {
      color: $white;
    }

  }

}

.post--slider
{
  height:100%;

  @media ( max-height: 720px ),
         ( max-width: 1250px )
  {
    max-height: 256px;
  }

  .slick-list,
  .slick-track,
  .slick-slide
  {
    height: auto;
  }
  .slick-dots
  {
    position: relative;
    z-index: 999;
    width: 90%;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    li
    {
      @include display_inline;
      width: 9px;
      height: 9px;
      margin-right: 2px;
      margin-left: 2px;
      border-radius: 100%;

      button
      {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 100%;
        border: 1px solid $white;

        font-size: 0;

        background-color: transparent;

        -webkit-appearance: none;
        @include transition;

        cursor: pointer;
      }

      &.slick-active,
      &:hover
      {
        button
        {
          background-color: $white;
        }
      }
    }
  }

    .gallery--navigation--button
    {
      position: absolute;
      display: block;
      width: 48px;
      height: 48px;
      @include box;
      padding: 19px;
      border: 0;
      border-radius: 0;

      background-color: transparent;

      font-size: 0;

      

      &:not(.slick-disabled)
      {
        cursor: pointer;

        @include transition(border, 0.15s, ease);

        &:hover {
          border-color: $black;

          z-index: 2;
        }
      }

      &.slick-disabled
      {

        img
        {
          opacity: 0.4;
        }

      }

      -webkit-appearance: none;

      &:first-of-type
      {
        margin-bottom: -1px;
      }

      img
      {
        margin: -9px 0 0 1px;
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;
        width: 19px;
        height: 19px;
      }

      &.gallery--next
      {
        right: 0;
      }

      &.gallery--previous
      {
        top: 377px;
        img
        {
          margin: -9px 0 0 -21px;
        }
      }

    }

}

@media ( max-width: 768px ),
       ( max-height: 750px )
{
  .search--area
  {
    &.is-active
    {
      height: 70px;
    }

    input[type="text"]
    {
      height: 70px;
      line-height: 70px;
    }

    form
    {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .search--area--results
  {
    &.is-active
    {
      height: calc(100vh - 115px);
    }
  }
}

@media ( max-width: 1170px )
{
  .search--sidebar
  {
    display: none;
  }
}

@media ( max-width: 1040px ) and ( min-width: 981px )
{
  .search--post--list
  {
    max-width: 460px;
  }
}



@media ( max-width: 980px )
{

  .search--key--words
  {
    max-width: calc(100vw - 30px);
    // overflow: auto;
    // height: 130px;

    .key_words--inner
    {
      height: 40px;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .ui-autocomplete
    {
      .ui-menu-item
      {
        @include display_inline;
        margin-right: 25px;

        color: $white !important;

        font-size: 18px;
      }
    }

    .search--heading
    {
      margin-top: 25px;
      margin-bottom: 0;

      font-size: 12px;
    }

  }

  .search--post--list
  {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    .item--title
    {
      margin-top: -5px;

      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }

    .search--heading
    {
      margin-top: 25px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .ui-autocomplete
    {
      .search--post--item
      {
        min-height: 96px;
      }
      .search--post--thumbnail
      {
        height: 85px;
        width: 142px;
      }

      .search--post--item--content
      {
        width: calc( 100% - 142px );
        padding-left: 20px;
      }

    }

  }

  .button.absolute--after
  {
    bottom: 9px;
    max-width: calc(100vw - 30px);
  }

}

@media ( max-width: 320px )
{
  .post--slider
  {
    .slick-dots
    {
      margin-top: 15px;
    }
  }
}

.top-branding--header,
.top-branding--home
{
  @include transition(opacity,.3s,ease);
}

.top-branding--header
{
  svg
  {
    width: auto !important;
  }
}

.is-search
{

  .top-branding--home
  {
    opacity: 0;
  }

  .site-head
  {
    &:not(.is-scrolled)
    {
      .top-branding--header
      {
        @include opacity(0);
      }
    }
  }

}

