.btn{
	@include font('sans', 14);
	@include transition(all, .3s, ease);
	display: inline-block;
	height: 45px;
	padding: 0 30px;
	line-height: 45px;
	background-color: $gold;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px;
	&.btn--center{
		position: relative;
		left: 50%;
		-sand-transform: translateX(-50%);

		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
						transform: translateX(-50%);
	}
	&:hover{
		background-color: rgba($gold, 0.8);
	}
}