.pc-header__search{
	.search-form{
		max-width: 660px;
		margin: auto;
	}
}

.search-form{
	position: relative;
	input{
		display: block;
		width: 100%;
		height: 50px;
		border: 1px solid $grey_03;
		line-height: 28px;
		padding: 10px 120px 10px 20px;
		text-transform: uppercase;
		font-size: 14px;
		&::-webkit-input-placeholder{
			color: $grey_03;
		}
		&::-moz-input-placeholder{
			color: $grey_03;
		}
		&:-moz-placeholder{
			color: $grey_03;
		}
		&:-ms-input-placeholder{
			color: $grey_03;
		}
	}
	button{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100px;
		background-color: #000;
		border: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		@include transition();
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			-sand-transform: translateX(-50%) translateY(-50%);

			-webkit-transform: translateX(-50%) translateY(-50%);
				 -moz-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
			height: 20px;
			width: auto;
			polygon, path{
				fill: #fff;
			}
		}
		&:hover{
			background-color: $gold;
		}
	}
}