/* ============================================================================

  GLOBAL GENERAL

============================================================================ */

picture
{
  display: block;
}

.jscroll-added
{

  &:not(.loaded)
  {
    opacity: 0;

    // transform: translate3d( 0, 200px, 0 );
  }

}

.loaded
{
  & + .jscroll-added
  {
    opacity: 1;

    -sand-transform: none;

    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
            transform: none;

    // @include transition( all, .5s, ease-in-out, .5s );
  }

}

// body
// {
//   &.home
//   {
//     &:not(.is-scrolled)
//     {
//       .scroll
//       {
//         margin-top: 52px;
//       }
//     }
//   }
// }

.overflow{
  overflow: hidden;
}

.button
{
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: $white;
  color: $black;

  @include font( 'sans-c', 14, 600 );
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  direction: ltr;

  -webkit-appearance: none;

  cursor: pointer;

  @include transition( all, .2s, ease );

  &.absolute--after
  {
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 0;
  }

  &.black
  {
    background-color: $black;
    color: $white;
  }

  &.brand
  {
    background-color: $brand;
    color: $white;

    &:hover
    {
      background-color: $black;
    }

  }

  &:hover
  {
    background-color: $brand;
    color: $white;
  }

  &.inline
  {
    @include display_inline;
    width: auto;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 40px;
  }

  &.border
  {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    &.white
    {
      color: $white;
      border-color: $white;

      &:hover
      {
        background-color: $white;
        color: $black;
      }

    }
  }

  &.inline--image
  {

    img
    {
      @include display_inline( middle );
      width: auto;
      height: 16px;
      margin-top: -4px;

      @include transition(transform, 0.2s, ease);
    }

    &.inline--right
    {
      img
      {
        margin-left: 10px;
      }

      &:hover
      {
        img
        {
          @include translateX(5px);
        }
      }
    }

    &.inline--left
    {
      img
      {
        margin-right: 10px;
      }

      &:hover
      {
        img
        {
          @include translateX(-5px);
        }
      }
    }

  }

  @include bp(smallMobile){
    max-width: 265px;
    margin: 0 auto;
  }

}

a
{
  @include transition(color, 0.2s, ease);
}

.home.paged,
{

  .break--video
  {
    margin-bottom: 0;
  }

  .jscroll-inner
  {

    & > *
    {
      &:first-of-type
      {
        padding-top: 100px;

        .special--container
        {
          &:first-of-type
          {
            display: none;
          }

        }

      }

    }

  }

}

.archive.paged
{
  .archive--header
  {
    & + .get--content,
    & + .child--filter--list + .get--content
    {
      .special--container
      {
        &:first-of-type
        {
          display: none;
        }

      }

    }

  }

  text-decoration: none;
}

body.browser-msie .container
{
  margin-top: -10px!important;
}

.container
{
  @include box();
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0 15px;

  &.container--mid
  {
    max-width: 1260px;
  }

  &.container--mid--increased
  {
    max-width: 1290px;
  }

  &.container--mid--reduced
  {
    max-width: 1140px;
  }

  &.container--full
  {
    padding: 55px 15px;
  }

  &.black--bg
  {
    background-color: $black;
  }

  &.padding--top
  {
    padding-top: 50px;
  }

}

.row{
  overflow: hidden;
}

/*.single-outer {
  @media (max-width: 1439px)  {
    > .container {
      //margin-left: 53px;
      width: auto;
    }
  }

  @include bp('tablet') {
    > .container {
      margin-left: auto;
    }
  }
}*/

.content--column
{
  position: relative;
  @include display_inline;
  width: calc(100% - 360px);

  &.is-page
  {
    padding-top: 70px;
  }

  blockquote
  {
    margin-top: 0;
    margin-bottom: 24px;
    padding: 40px 30px 40px 50px;
    border-left: 4px solid $grey_12;

    @include bp('mobile') {
      padding: 20px 10px;
    }

    p
    {
      @include font('serif',32);
      line-height: 36px;
      font-style:italic;
      color: $primaryBlack;

      @include bp('mobile') {
        font-size: 24px;
        line-height: 30px;
      }

      &:last-of-type
      {
        margin-bottom: 0;
      }
    }
  }

  .post-social-links {
    margin-left: -96px;
    position: absolute;
    top: 0;

    background-color: $white;
    z-index: 2;

    li {
      display: block;
      padding: 0;
      text-align: center;

      a {
        display: block;
        width: 48px;
        height: 48px;

        border: 1px solid rgba($black, 0.08);
        @include transitions(color 0.15s ease, background 0.15s ease, border 0.15s ease);

        font-size: 18px;
        line-height: 46px;

        &:hover {
          background-color: $brand;
          border-color: $brand;
          z-index: 2;

          color: $white;
        }

        &.fa-envelope-o {
          font-size: 16px;
        }
      }

      & + li {
        margin-top: -1px;
      }
    }

    &.post-social-links--bottom {
      display: none;
    }

    @media (max-width: 1439px)  {
      margin-left: -58px;
    }

    @include bp('tablet') {
      clear: both;
      overflow: hidden;
      margin: 0 !important;
      position: relative !important;
      top: 0 !important;
      min-height: 0;

      ul {
        overflow: hidden;
      }

      li {
        float: left;

        & + li {
          margin-top: 0;
          margin-left: -1px;
        }
      }

      &.post-social-links--top {
        margin-bottom: 30px !important;
      }
      &.post-social-links--bottom {
        display: block;
        margin-top: 30px !important;
      }
    }

    @include bp(smallMobile){
      &.post-social-links--bottom, &.post-social-links--top{
        li{
          width: 25%;
          &:nth-child(4){
            display: none;
          }
          a{
            width: 100%;
            height: 60px;
            line-height: 58px;
          }
        }
      }
    }
  }
  f + .post-social-links {
    top: 697px;
  }
  .column--inner
  {
    max-width: 750px;
    // min-height: 235px;
    position: relative;

    clear: both;

    .article--gallery
    {
      &:not(:last-child)
      {
        margin-bottom: 30px;
      }

    }
  }

  iframe
  {
    width: 100%;
    // padding-top: 80px;

    clear: both;
  }

// TEMP
  img
  {
    // width: 100%;
    max-width: 100%;

    // &.alignnone
    // {
    //   float: right;
    //   width: 58vw;
    //   max-width: none;

    //   &:after
    //   {
    //     clear: both;
    //   }

    // }

    &.alignright
    {
      float:right;
      margin-left: 70px;
    }
    &.alignleft
    {
      float:left;
      margin-right: 70px;
    }
    &.aligncenter
    {
      margin-right:auto;
      margin-left: auto;
    }
    // margin-top: 35px;
    // margin-bottom: 70px;

    height: auto;
  }

  .author--image,
  .gallery--item
  {
    img
    {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  p
  {

    a
    {
      padding-bottom: 2px;
      /*border-bottom: 1px solid $black;*/

      @include transitions(color 0.2s ease, border 0.2s ease);

      color: $black !important;
      text-decoration: underline;

      &:hover
      {
        border-color: $brand;

        color: $brand !important;
      }

    }

  }

  @include bp(tablet){
    width: 100%;
    padding-right: 0;
  }

  @include bp(mobile){
  }

}

.featured--area
{
  margin-bottom: 30px;

  &.init
  {
    margin-bottom: 0;
  }

  & + .column--inner
  {
    padding-top: 0 !important;
  }

}

.featured--image
{

  .column--inner
  {
    padding-top: 0 !important;
  }
}

.opaque--mask
{
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba( $black, .9 );

  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include transition;

  &.mask--menu
  {
    z-index: 12;
  }

  &.mask--search
  {
    z-index: 9;
  }

  &.is-active
  {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

}



h1
{
  font-size: 80px;
}

.section--header
{
  margin-bottom: 40px;

  @include font( 'sans', 20, '+' );
  letter-spacing: 0.05em;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &.section--header--light{
    color: #fff;
  }

  @include bp(mobile){
    margin-bottom: 20px;
  }

}

p
{
  @include font( 'body', 21 );
  line-height: 1.6em;

  &:not(:last-of-type)
  {
    margin-bottom: 24px;
  }

  @include bp(mobile){
    font-size: 20px;
  }

}



i,
em
{
  font-style: italic;
}

b,
strong
{
  font-weight: 600;
}

.special--container
{
  margin-bottom: 60px;

  &.strip
  {
    // height: 240px;
    width: 100%;
    height: 250px;
    // padding-top: 30px;
    // padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 35px;
    // background-image: url( '../images/mock-ad-2.jpg' );
    position: relative;

    > div
    {
      position: absolute;
      left: 0;
      right: 0;
      top: 40%;
      transform: translateY(-40%);
      -webkit-transform: translateY(-40%);
    }

    @media ( min-width: 780px )
    {
      //background-color: $grey_01;
    }
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;

    text-align: center;

    img
    {
      @include display_inline;
      height: 100%;
      width: auto;
    }

    @include bp(mobile){
      //height: 180px;
      // padding-top:0;
      // padding-bottom:0;
      
      img
      {
        width: 100%;
        height: auto;
      }
    }

    @include bp(smallMobile){
      // height: 100px;
    }
  }

  &.vert
  {
    @include display_inline;
    position: relative;
    // height: 1050px;
    width: 300px;
    margin-left: 60px;
    margin-bottom: 0;
		-webkit-transform: translateZ(0);

    // background-image: url( '../images/mock-ad.jpg' );
    // background-repeat: no-repeat;
    // background-size: cover;

    img
    {
      display: block;
      width: 100%;
      height: auto;
    }

    @include bp(tablet){
      display: none;
    }

    &.mobile_ads{
      @include bp(tablet){
        display: block;
        margin-left: 0;
        @media (min-width: 400px)  { margin-left: -5px; }
        padding-top: 40px;
        padding-bottom: 50px;
        width: 100%;
        min-height: 340px;

        > div {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

  }

  @include bp(mobile){
    margin-bottom: 0px;
  }

  &.no-js-remove
  {
    display: none !important;
  }

}

.grey-bg{
  background-color: $grey_01;
}

*
{
  outline: none;
}

.svg {
    display: block;

    svg {
        display: block;
        overflow: visible;
        width: 100%;
        height: 100%;
    }

    &.svg-va-gallery-next-white
    {
      @include display_inline(middle);
      height: 14px;
      width: 14px;
      margin-top: -4px;
      margin-left: 6px;
    }
}


.screen-404
{
  position: relative;

  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black;

  .inner-404
  {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 700px;
    @include box;
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    -sand-transform: translate3d( -50%, -50%, 0 );

    -webkit-transform: translate3d( -50%, -50%, 0 );
       -moz-transform: translate3d( -50%, -50%, 0 );
        -ms-transform: translate3d( -50%, -50%, 0 );
            transform: translate3d( -50%, -50%, 0 );
  }

  .inner__sub
  {
    color: $white;

    @include font('sans-c', 14, 500);
    text-transform: uppercase;
  }

  .inner__title
  {
    margin-bottom: 35px;

    color: $white;

    @include font('serif', 30);
    line-height: 1.4em;
  }

}


.ajax-loading
{
  position: relative;

  height: 150px;

  margin-bottom: 35px;

  background-image: url( '../images/V-Loading-Small.gif' );
  background-position: center;
  background-size: 150px;
  background-repeat: no-repeat;
}


.sidebar--column
{
  vertical-align: top;

  position: relative;

  .special--container
  {

    &.vert
    {
      position: relative;
    }

  }

}


.page--title
{
  margin-bottom: 45px;
  @include font('serif', 42, 300);
}


