/* ============================================================================

  GLOBAL RESET

===============================================================================

  - Resets all elements, uses Eric Meyer's HTML5 css reset, for more information visit: http://meyerweb.com/eric/tools/css/reset/

  - PLEASE NOTE: When possible ( should be in all cases ), order properties in reference to main.scss

============================================================================ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
  display: block;
}

html
{
  margin-top: 0 !important;
  overflow-x: hidden;
  width: 100%;

  &.is-fixed
  {
    height: 100vh;
    overflow: hidden;
  }
}

body
{
  position: relative;

  @include font( 'sans', 0 );
  line-height: 1;
  text-shadow: 1px 1px 0 rgba( 0, 0, 0, .004 );

  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;

  padding-top: 46px;

  // @include transition;

  &.is-fixed
  {
    // transform: translateX( 150px );
  }

  &.home{
    padding-top: 0;
  }

}

ol,
ul
{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

blockquote,
q
{
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
  content: '';
  content: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

.clear
{
  clear: both;
}

*
{
  box-sizing: border-box;
  outline: none;
}

// TEMP

#wpadminbar
{
  font-size: 12px;
  // display: none;
  top: 46px !important;
}

button{
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}

img{
  height: auto;
  min-height: auto;
}
