.vogue-men
{
  &.home
  {
    box-shadow: inset 0 100px 0 $primaryBlack;
  }

  .site-head
  {
    background-color: $primaryBlack;

    border-bottom-color: $primaryBlack;

    &.is-scrolled
    {
      border-bottom-color: $primaryBlack;
    }

    .top-branding--header{
      .svg-logo-white
      {
        svg
        {
          *
          {
            fill: $white;
          }
          g
          {
            *
            {
              fill: $white;
            }
          }
        }
      }

    }

    .fa
    {
      color: $white;

      &:hover
      {
        color: $brand;
      }

    }

    .svg
    {
      *
      {
        fill: $white;
      }

      &:hover
      {
        *
        {
          fill: $brand;
        }

      }

      &.svg-va-search
      {
        *
        {
          fill: $grey_03;
        }

        &:hover
        {
          *
          {
            fill: $brand;
          }

        }

      }

    }

    .site-head-language
    {
      a
      {
        color: $white;

        &:hover
        {
          color: $brand;
        }

      }

    }

    .site-head-social__title
    {
      color: $white;

      span
      {
        color: $white;
      }

    }

    .site-head-social
    {
      background-color: $primaryBlack;

      .site-head-social__lines
      {
        &:before,
        &:after
        {
          background: $primaryBlack;
        }

      }

      .button
      {
        background-color: $brand;
      }

    }

    .site-head__toggle
    {
      &:before
      {
        border-color: $grey_07;
      }

    }

  }

  .site-nav__item
  {
    a
    {
      @include font('sans-c',16,600);
      color: $white;

      &:hover
      {
        color: $brand;
      }

    }

  }

  .tag--men
  {
    @include display_inline;
    margin-top: 7px;
    padding-right: 8px;
    padding-left: 8px;

    background-color: $black;
    color: $white;

    @include font('sans-c',14,600);
    line-height: 19px;
    text-transform: uppercase;

    &.in--post
    {
      margin-top:-3px;
      margin-right: 5px;
    }

  }

  .post--item
  {
    &:not(.post--standard)
    {
      .tag--men
      {
        &.men--standard
        {
          display: none;
        }
      }
    }
    &:not(.post--full)
    {
      .tag--men
      {
        &.men--full
        {
          display: none;
        }
      }
    }

    .tag--men
    {

      &.men--full
      {
        position: absolute;
        left: 0;
        margin-top: -3px;

        & + .post--tag
        {
          left: 45px;
        }
      }
    }
  }

  .side-nav__branding{
    svg
    {
      *
      {
        fill: $primaryBlack;
      }
    }
  }

  .break--explore
  {
    background-color: $primaryBlack;
    color: $white;
    .post--title
    {
      a
      {
        color: $white;
        &:hover
        {
          color: $brand;
        }
      }
    }
  }

}