.site-head{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid $grey_02;
	background-color: #fff;
	&.site-head--home{
		@include transition();
		border-color: transparent;
		.site-nav{
			@include transition();
			opacity: 0;
		}
		.top-branding--header{
			z-index: 1;
			img,
			svg{
				@include transition();
				width: auto;
			}
			@include bp(tablet){
				img,
				svg{
					height: 55px;
				}
			}
			@include bpmin(tabletUp){
				img,
				svg{
					opacity: 0;
					-sand-transform: translate3d(-15px,0,0);

					-webkit-transform: translate3d(-15px,0,0);
					   -moz-transform: translate3d(-15px,0,0);
					    -ms-transform: translate3d(-15px,0,0);
									transform: translate3d(-15px,0,0);
				}
			}
		}
		&.is-scrolled{
			border-color: $grey_02;
			.site-nav{
				opacity: 1;
			}
			.top-branding--header{
				z-index: 3;
				@include bp(tablet){
					img,
					svg{
						height: 29px;
					}
				}
				@include bpmin(tabletUp){
					img,
					svg{
						opacity: 1;
						-sand-transform: translate3d(0,0,0);

						-webkit-transform: translate3d(0,0,0);
						 	 -moz-transform: translate3d(0,0,0);
								-ms-transform: translate3d(0,0,0);
										transform: translate3d(0,0,0);
					}
				}
			}
			.site-head__toggle + .site-head__nav + .site-head-social--small{
				@include opacity(0);
				pointer-events: none;
			}
		}
	}
	.site-head-social{
		opacity: 0;
		-sand-transform: translate3d(15px,0,0);

		-webkit-transform: translate3d(15px,0,0);
		   -moz-transform: translate3d(15px,0,0);
				-ms-transform: translate3d(15px,0,0);
						transform: translate3d(15px,0,0);
		z-index: 1;	
	}
	&.is-scrolled{
		.site-head-social{
			opacity: 1;
			-sand-transform: translate3d(0,0,0);

			-webkit-transform: translate3d(0,0,0);
			   -moz-transform: translate3d(0,0,0);
					-ms-transform: translate3d(0,0,0);
							transform: translate3d(0,0,0);
			z-index: 3;		
		}
	}
}

body
{
	&:not(.home)
	{
		.site-head
		{
			.site-head-social
			{
				opacity: 1;
				-sand-transform: translate3d(0,0,0);

				-webkit-transform: translate3d(0,0,0);
				   -moz-transform: translate3d(0,0,0);
				    -ms-transform: translate3d(0,0,0);
								transform: translate3d(0,0,0);
				z-index: 3;		
			}
		}
	}
}
@media ( max-width: 1025px) {
	body.home {
		margin-top: 0px;
	}
}

	.site-head__inner{
		height: 45px;
		position: relative;
	}

.site-nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	ul{
		display: inline-block;
	}
	@media ( max-width: 1150px)
	{
		display: none;
	}
}

	.site-nav__item{
		display: block;
		float: left;
		margin: 0 30px;
		a{
			@include font('sans', 14);
			text-transform: uppercase;
			font-weight: 500;
			display: block;
			line-height: 45px;
			height: 45px;
			&:hover{
				color: $gold;
			}
		}
		@media all and (max-width: 1300px){
			margin: 0 12px;
		}
	}

.site-head__toggle{
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 70px;
	z-index: 3;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	&:before{
		position: absolute;
		left: 0;
		top: 5px;
		bottom: 5px;
		display: block;
		width: 100%;
		content: '';
	}

	.svg {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		-sand-transform: translateY(-50%) translateX(-50%);

		-webkit-transform: translateY(-50%) translateX(-50%);
		   -moz-transform: translateY(-50%) translateX(-50%);
		    -ms-transform: translateY(-50%) translateX(-50%);
						transform: translateY(-50%) translateX(-50%);
		fill: #444;
		@include transition(fill, 0.15s, ease);
	}
	&.site-head__toggle--nav{
		left: 0;
		&:before{
			border-right: 1px solid $grey_02;
		}

		.svg {
			height: 14px;
		}

		@include bp(mobile){
			right: 0;
			left: auto;
		}
	}
	&.site-head__toggle--search{
		right: 0;
		&:before{
			border-left: 1px solid $grey_02;
		}

		.svg {
			height: 23px;
		}

		span{
			&.search-open{
				display: none;
			}
		}

		@include bp(mobile){
			left: 0;
			right: auto;
		}

		&.is-active{
			span{
				&.search-closed{
					display: none;
				}
				&.search-open{
					display: block;
				}
			}
		}
	}
	&.site-head__toggle--close{
		.svg {
			height: 16px;
		}
	}
	@include bp(mobile){
		width: 60px;

		&:before{
			display: none;
		}
	}

	&:hover {
		.svg {
			fill: $brand;
		}
	}
}


/***** SIDE NAV *****/

.side-nav{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 380px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	z-index: 1001;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar{
		display: none;
	}
	@include bp(mobile){
		right: 0;
		left: auto;
	}
	@include bp(smallMobile){
		max-width: 100%;
	}
}

	.site-nav__inner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
	}

		.side-nav__top{
			height: 45px;
			position: relative;
			.site-head__toggle{
				width: 70px;
				&:before{
					display: none;
				}

				&.site-head__toggle--close{
					left: 0;
					right: auto;
					@include bp(mobile){
						right: 0;
						left: auto;				
					}
				}
				&.site-head__toggle--search{
					right: 0;
					left: auto;
					@include bp(mobile){
						left: 0;
						right: auto;						
					}
				}
			}
		}

		.side-nav__branding{
			display: block;
			padding: 15px 0 30px 0;
			img,
			svg{
				display: block;
				width: 100%;
				height: auto;
				max-width: 200px;
				margin: auto;
			}

			svg
			{
				width: auto;
			}
		}

		.side-nav__languages{
			overflow: hidden;
			background-color: #f9f9f9;
			a{
				display: block;
				height: 50px;
				padding: 0 20px;
				color: #000;
				text-align: center;
				@include font('sans-c', 14, bold);
				line-height: 50px;
				@include transition();
        text-transform: uppercase;
			}
		}

		.side-nav__menu{
			li{
				@include transition();
				display: block;
				border-top: 1px solid $grey_01;
				position: relative;
				&.menu-item-has-children{
					> div{
						width: 90px;
						height: 60px;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 2;
						cursor: pointer;
						&:after{
							@include transition();
							position: absolute;
							top: 0;
							right: 30px;
							line-height: 60px;
							height: 100%;
							font-family: 'FontAwesome';
							content: '\f078';
							font-size: 12px;
						}
						&:hover{
							&:after{
								color: $gold;
							}
						}
						&.is-active{
							&:after{
								transform: rotate(180deg);
							}
						}
					}
				}
				&:hover{
					background-color: $grey_01;
				}
			}
			a{
				@include font('serif', 18);
				@include transition();
				display: block;
				height: 60px;
				line-height: 60px;
				padding: 0 30px;
				&:hover{
					background-color: $grey_01;
				}
			}
			.sub-menu{
				overflow: hidden;
				background-color: #fff;
				a{
					@include font('sans', 11);
					text-transform: uppercase;
					font-weight: 500;
					padding: 0 30px 0 50px;
					&:before{
						@include transition();
						position: absolute;
						top: calc(50% - 5px);
						left: 30px;
						height: 8px;
						width: 8px;
						border-radius: 50%;
						border: 1px solid $grey_02;
						content: '';
					}
					&:hover{
						&:before{
							border-color: $gold;
							background-color: $gold;
						}
					}
				}
			}
		}

		.side-nav__footer{
			border-top: 1px solid $grey_03;
			.button{
				max-width: 100%;
				width: 100%;
				text-align: center;
				> span{
					display: inline-block;
					position: relative;
					padding-left: 25px;
					span{
						position: absolute;
						top: calc(50% - 8px);
						left: 0;
						svg{
							height: 14px;
							width: auto;
							path{
								fill: $white;
							}
						}
					}
				}
			}
		}

			.side-nav__social{
				overflow: hidden;
				background-color: $white;
				li{
					display: block;
					float: left;
					width: calc(100% / 3);
					a{
						@include transition();
						display: block;
						height: 60px;
						padding: 0 20px;
						line-height: 60px;
						font-size: 18px;
						text-align: center;
						&:hover{
							color: $gold;
						}
					}
				}
			}

			.side-nav__copyright{
				@include font('sans', 8);
				padding: 15px 30px;
				line-height: 1.2;
				direction: ltr;
			}

.top-branding{
	text-align: center;
	position: relative;
	a{
		display: inline-block;
		overflow: visible;
	}
	img,
	svg{
		display: block;
	}
	svg
	{
		width: auto !important;
	}
	&.top-branding--header{
		position: absolute;
		top: 0;
		left: 90px;
		height: 100%;
		z-index: 3;
	.svg-logo-white
	{
		svg
		{
			width: auto !important;

			*
			{
				fill: $brand;
			}
			g
			{
				*
				{
					fill: $black;
				}
			}
		}
	}
		img{
			width: auto;
			height: 29px;
			margin-top: 8px;
			@include bpmin(tabletUp){
				background-color: $white;
			}
		}
		svg
		{
			height: 29px;
			margin-top: 8px;
		}
		@include bp(tablet){
			left: 50%;
			-sand-transform: translateX(-50%);

			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
							transform: translateX(-50%);
		    width: calc(100% - 120px);
		    max-width: 220px;
		}
	}
	&.top-branding--home{
		text-align: center;
		position: relative;
		width: 60%;
		margin: 15px auto 15px auto;
		z-index: 1000;

		&:not(.no-overlay)
		{
			height: calc(10vw * 0.72);
			max-height: 95px;
			margin: 15px auto 0 auto;
		}

		a{
			display: inline-block;
			overflow: visible;
		}
		img,
		svg{
			width: auto;
			height: 10vw;
			max-height: 135px;
		}
		@include bp(tablet){
			display: none;
		}
	}
}

.opaque-mask{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.8);
	z-index: 1000;

	&.mask-search
	{
		z-index: 9;
		@include transitions(opacity 0.5s ease, visibility 0s linear 0.5s);
	}

	&.is-active
	{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;

		@include transitions(opacity 0.5s ease, visibility 0s linear 0s);
	}
}
.site-head-social {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 69px;

	background: $white;
	z-index: 3;
	@include transitions(opacity 0.2s ease, transform 0.2s ease);

	.site-head-social__lines {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;

		z-index: 1;

		&:before,
		&:after {
			display: block;
			position: absolute;
			top: 0;
			width: 1px;
			height: 100%;

			background: $grey_02;
			content: '';
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}

	&.is-active {
		.site-head-social__lines {
			height: 100%;
		}
		.site-head-social__title {
			span:before {
				content: '\f077';
			}
		}

		.site-head-social__inner {
			display: block;
		}
	}

	@include bp(tablet) {
		display: none;
	}
}

	.site-head-social__title {
		padding: 0 20px;
		position: relative;

		cursor: pointer;
		z-index: 2;

		color: $brand;
		@include font('sans-c', 12, 500);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 45px;

		span{
			display: inline-block;
			margin: -2px 0 0 5px;

			vertical-align: middle;

			color: $black;
			font-family: 'FontAwesome';
			font-size: 12px;
			font-style: normal;

			&:before {
				display: block;
				content: '\f078';
			}
		}
	}

	.site-head-social__inner {
		display: none;
		position: relative;

		z-index: 2;

		ul {
			margin: 6px 0 12px;

			display: table;
			width: 100%;
		}

	    li {
	    	display: table-cell;
	    	padding: 5px 0;

	    	width: 33%;

	    	vertical-align: middle;

	    	text-align: center;

	    	& + li {
	    		border-left: 1px solid $grey_02;
	    	}

		    a {
		      display: block;

		      @include transition(color, 0.15s, ease);

		      font-size: 18px;

		      &:hover {
		      	color: $brand;
		      }
		    }
	    }


	    .button {
	    	font-size: 12px;
	    	letter-spacing: 0.05em;
	    	line-height: 35px;
	    }

	}

.site-head-social--small {
	padding: 0;
	position: absolute;
	top: 0;
	left: 78px;

	z-index: 2;

	@include transition( opacity, .2s, ease );

	li {
		display: inline-block;
	}

    a {
      display: block;
      padding: 0 12px;

      @include transition(color, 0.15s, ease);

      font-size: 16px;
      line-height: 45px;

      &:hover {
      	color: $brand;
      }
    }

    @include bp(mobile){
    	display: none;
    }
}

.site-head-language {
	position: absolute;
	top: 0;
	right: 70px;

	z-index: 2;

	a {
		display: block;
		padding: 0 20px;

		@include font('sans', 14);
		line-height: 45px;
    text-transform: uppercase;

		&:hover {
			color: $brand;
		}
	}

    @include bp(mobile){
    	display: none;
    }
}

[dir=rtl]
{
	.side-nav{
		left: auto;
		right: 0;
	}
}