.va-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: $grey_01;
	z-index: 1001;
}

.va-lightbox-close {
	position: absolute;
	top: 30px;
	right: 30px;
    width: 38px;
    height: 38px;

	background-color: $grey_01;
    border: 1px solid $grey_03;
    cursor: pointer;
    z-index: 3;
    @include transition(background, 0.15s, ease);

    svg {
    	margin: -6px 0 0 -6px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	width: 12px;
    	height: 12px;

    	fill: $black;
    	@include transition(fill, 0.15s, ease);
    }

    &:hover {
    	background-color: $brand;

    	svg {
    		fill: $white;
    	}
    }
}

.va-lightbox-image {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-image: url('../images/V-Loading-Small.gif');
	background-position: center;
	background-size: 150px 150px;
	background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
	z-index: 1;
    text-align: center;

	img {
		display: block;
	    width: auto;
	    height: auto;
	    max-width: 100%;
	    max-height: 100%;
	    margin-right: auto;
	    margin-left: auto;
	}

	@include bp(smallMobile) {
		bottom: 0;
	}
}

/*.va-lightbox-caption {
	padding: 0 80px;
	position: absolute;
	bottom: 38px;
	left: 0;
	width: 100%;

	background-color: $grey_01;
	z-index: 2;

	text-align: center;

	.item--caption {
		@include box;
		color: $grey_06;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.33;

		& + .item--credit {
			margin-top: 10px;
		}
	}

	.item--credit {
		color: $black;
		font-size: 9px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
	}

	@include bp(smallMobile) {
		display: none;
	}
}*/


.va-lightbox-links {
	overflow: hidden;
	position: absolute;
	bottom: 20px;
	right: 30px;

	z-index: 3;

	li {
	  display: block;
	  float: left;
	  padding: 0;
	  text-align: center;

	  a {
	    display: block;
	    position: relative;
	    width: 38px;
	    height: 38px;

		background-color: $grey_01;
	    border: 1px solid $grey_03;
	    @include transitions(color 0.15s ease, background 0.15s ease, border 0.15s ease);

	    font-size: 16px;
	    line-height: 36px;

	    &:hover {
	      background-color: $brand;
	      border-color: $brand;
	      z-index: 2;

	      color: $white;
	    }
	  }

	  & + li {
	    margin-left: -1px;
	  }
	}
}