.swiper-button{
	&.swiper-button--dark{
		&.swiper-button-next{
			background-image: url('../images/va-gallery-next.svg');
		}
		&.swiper-button-prev{
			background-image: url('../images/va-gallery-previous.svg');
		}		
	}
	&.swiper-button--light{
		&.swiper-button-next{
			background-image: url('../images/va-gallery-next-white.svg');
		}
		&.swiper-button-prev{
			background-image: url('../images/va-gallery-previous-white.svg');
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
  top: 98px;
}

.pc-slider{
	position: relative;
	overflow: hidden;
	margin-top: 70px;

	.swiper-container{
		&.s-columns-5{
			.pc-slider-slide{
				a{
					padding-bottom: 125%;
				}
			}
		}
	}

	.swiper-wrapper{
		padding: 20px 0;
	}

	.video--container{
		width: 100%;
		margin: 0;
		@include bp(mobileUp){
			.video--play{
				@include transition(opacity, .3s, ease);
				opacity: 0;
			}
			&:hover{
				.video--play{
					opacity: 1;
				}
			}
		}
	}

	&.pc-slider--auto-width{

		.pc-slider-slide{
			width: auto;
		}

	}

	@include bp(mobile){
		margin-top: 0;
		.pc-slider__inner{
			margin: 0 -15px;
			width: calc(100% + 30px);
		}
	}

}

	.pc-slider__inner{
		position: relative;
		&:before, &:after{
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 2;
			width: 20%;
			content: '';
		}
		&:before{
			left: 0;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
			background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
		}
		&:after{
			right: 0;
  			background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  			background: -webkit-linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
		}

		.swiper-button-wrapper{
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 3;
			&.swiper-button-wrapper--left{
				left: 0;
				.swiper-button{
					left: 0;
				}
			}
			&.swiper-button-wrapper--right{
				right: 0;
				.swiper-button{
					right: 0;
				}
			}
		}

			.swiper-button{
				position: absolute;
				top: 50%;
				-sand-transform: translateY(-50%);

				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%);
			    width: 60px;
			    height: 60px;
			    z-index: 10;
			    margin: 0;
			    border: 1px solid $grey_03;
			    cursor: pointer;
			    background-size: 45% auto;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-color: #fff;
			}

		@include bp(mobile){
			&:before, &:after{
				display: none;
			}
			.swiper-button-wrapper{
				display: none;
			}
		}
	}

	.pc-slider__head{
		position: relative;
		border-bottom: 1px solid $grey_03;
		padding-bottom: 15px;
		@include bp(mobile){
			border-bottom: 0;
			padding-bottom: 10px;
		}
	}

		.pc-slider__link{
			position: absolute;
			top: 50%;
			right: 0;

			-sand-transform: translateY(-50%);

			-webkit-transform: translateY(-50%);
				 -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
							transform: translateY(-50%);

			@include font('sans', 12, bold);
			text-transform: uppercase;
			letter-spacing: 2px;

			padding-right: 25px;

			&:before{
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				background-image: url('../images/va-gallery-next.svg');
				background-size: auto 15px;
				background-position: right center;
				background-repeat: no-repeat;

				@include transition();

				content: '';
			}
			&:hover{
				&:before{
					-sand-transform: translateX(5px);

					-webkit-transform: translateX(5px);
					   -moz-transform: translateX(5px);
							-ms-transform: translateX(5px);
									transform: translateX(5px);
				}
			}

			@include bp(mobile){
				display: none;
			}
		}

		.pc-slider__title{
			@include font('serif', 24);
			text-align: center;
			@include bp(mobile){
				display: none;
			}
		}

	.pc-slider-slide{
		position: relative;
		a{
			display: block
		}
	}

		.pc-slider-slide__img{
			display: block;
			height: 50vh;
			max-height: 500px;
			min-height: 250px;
			width: auto;
		}

		.pc-slider-slide__bg{
			@include bg();
			@include absolute();
		}

	.pc-slider__foot{
		border-bottom: 1px solid $grey_03;
		@include bpmin(mobileUp){
			.btn{
				display: none;
			}
		}
		@include bp(mobile){
			padding-bottom: 10px;
		}
	}
