/* ============================================================================

  PAGE ACCOUNT

============================================================================ */


#account-header {
  position:absolute;
  width:763px;
  height:130px;
  line-height:115px;
  left:50%;
  top:220px;
  text-align: center;
}

#ah-inner {
  position:relative;
  left:-50%;
  background:#fff;
}

#account-header h1 {
  @include font('serif', 42); 
  color:#0c0c0c;
}

#account-details { 
  width:840px;
  margin:60px auto 0 auto;
  @include font('serif'); 
}


#account-details .welcome { 
font-size:20px;
display:block;
height:80px; 
line-height:80px;
}

.acc-hold {
  width:47%;  
  margin-bottom:32px;
  height:70px;
  position: relative;
}

.acc-hold.blank {
}

.acc-clearer {
  clear:both;
}

.acc-hold.left { 
  float:left; 
}

.acc-hold.right { 
  float:right; 
}


.acc-hold label {
  display:block; 
  letter-spacing:1px; 
  text-transform:uppercase; 
  width:100%; 
  @include font('sans'); 
  color:#ccc;
}

.acc-hold .acc-text,
.acc-hold .acc-pass,
.acc-hold .acc-select { 
  background:#fff; 
  @include font('serif'); 
  height:60px; 
  line-height:60px; 
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; 
  border-top:none; 
  border-right:none; 
  border-bottom:1px solid #ccc; 
  border-left:none;  
  width:100%;
}

.acc-select.dob-day,
.acc-select.dob-month 
 {
  width:25%;
//spacing needs to fill 100% of container
}
.acc-select.dob-month {
  margin-left:10px;
}

.acc-select.dob-year {

  width:40%;
  margin-left:10px;
}
.acc-select {
  position: relative;
}
.select-icon:after {
  content: '';
  position: absolute;
  background: url('../images/form-dropdown.png') no-repeat;
  width: 10px;
  height: 5px;
  right: 0;
  top: 42px;
}

#account-details
{
  .container ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}



.acc-hold ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
}

.acc-hold ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.acc-hold ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  font-size:12px;
  color:#CCC;
}

.acc-hold ul li:hover label{
  color: #0c0c0c;
}

.acc-hold ul li .check{
  display: block;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}


.acc-hold ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 98%;
  height: 7px;
  width: 7px;
  top: 8px;
  left: 8px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}


.acc-hold input[type=radio]:checked ~ .check::before{
  background: #0c0c0c;
}

.acc-hold input[type=radio]:checked ~ label{
  color: #0c0c0c;
}

.acc-submit {
  width:840px; 
  height:50px;
  background:#0c0c0c;
  @include font('sans'); 
  text-transform: uppercase;
  font-size:16px;
  color:#fff;
  margin: 0 auto 120px auto;
  display: block;
  @include bp(tablet) {
    width: 100%;
  }
  .acc-arrow {
    position: relative;
    &:after {
      content: '';
      background: url('../images/va-gallery-next-white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px;
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      right: -30px;
      top: -2px;
    }
  }
}

.acc-newsletter-hero {
  @include clearfix;
  background: #f7f7f7;
  margin: 40px 0 120px 0;
  padding: 30px 25px;
  width: 100%;
  display: block;
  position: relative;
}


.acc-newsletter-pref {
  width: 100%; 
  margin-bottom: 20px;
  text-align:center;
}

.acc-newsletter-pref h2 { 
  @include font('serif'); 
  color:#ba964b; 
  font-size:34px;
  margin-bottom: 20px;

}
.acc-newsletter-pref span { 
  @include font('sans'); 
  text-transform: uppercase;
  font-size:16px;
}

.acc-language {
  background: #ba964b;
  padding: 8px 50px;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -sand-transform: translateX(-50%);

  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  @include bp(tablet) {
    width: 100%;
    bottom: -32px;
    text-align: center;
  }
  p, a {
    color: $white;
    @include font(sans, 12);
  }
  a {
    color: $white;
    &:first-of-type {
      margin-left: 20px;
    }
    &.selected {
      color: $primaryBlack;
    }
  }

  input[type="radio"]
  {
    position: absolute;
    visibility: hidden;

    &:checked
    {
      & + label
      {
        color: $black;
      }
    }

  }

}

.acc-newsletter-check {
  ul li .check {
    border-radius: 0;
  }
  .acc-hold {
    width: auto;
    display: inline-block;
    position: relative;
    left: 50%;
    -sand-transform: translateX(-50%);

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 20px;
    @include bp(mobile) {
      display: block;
      margin-bottom: 0;
      ul {
        display: flex;
        justify-content: center;
      }
    }
  }
  .acc-hold ul li label {
    padding-left: 60px;
  }
  .acc-hold ul li input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }
  .acc-hold input[type="checkbox"]:checked ~ .check:before {
    background: url('../images/option-tick.png') no-repeat;
    background-size: cover;
    width: 34px;
    height: 22px;
    top: -4px;
    left: 2px;
  }
  .acc-hold input[type="checkbox"]:checked ~ label {
    color: $primaryBlack;
  }
}
.acc-newsletter-float {
  width: 1200px;
  margin: 0 auto;
  @include bp(tablet) {
    display: none;
  }
  img {
    position: absolute;
    bottom: 0;
  }
}

// Mobile
// ------
@include bp(tablet) {
  #account-details {
    width: 100%;
    padding: 0 15px;
  }
  .acc-hold.left, .acc-hold.right {
    float: none;
  }
  .acc-hold {
    width: 100%;
    display: inline-block;
  }
}















