/* ============================================================================

  PAGE RUNWAY

============================================================================ */


// Hero Banner
// -----------
.hero-banner {
  position: relative;
  > .title {
    text-align: center;
    color: $white;
    font-size: 42px;

    position: absolute;
    top: 50%; left: 0; right: 0;

    -sand-transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    z-index: 1;
  }
  > .background {
    @include bg();
    height: 260px;
  }
}

//header

.show-grid__header{
  padding: 60px 0;
  @include bp(mobile){
    padding: 40px 0;
  }
}
  .show-grid__title-mobile{
    display: none;
    @include bp(mobile){
      display: block;
      margin-bottom: 10px;
      @include font('sans', 16, 500);
      color: $grey_06;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .show-grid__entry-title{
    @include font(serif, 26, 500, normal);
    color: #000;
    text-decoration: capitalize;
    text-align: center;
  }
  .show-grid__entry-date{
    @include font(sans-c, 12, 600, normal);
    color: $grey_06;
    text-transform: uppercase;
    text-align: center;
  }

.show-grid__titles{
  overflow: hidden;
  padding: 0 15px;
  max-width: 1440px;
  margin: auto;
}
  .show-grid__title{
     width: calc(20% - 4px);
     float: left;
     margin-bottom: 15px;
     @include font('sans-c', 14, bold);
     text-transform: uppercase;
     &:first-child{
      margin-right: 16px;
     }
     &:before{
      display: block;
      width: 30px;
      height: 2px;
      background-color: $gold;
      margin-bottom: 7px;
      content: '';
     }
     @include bp(tablet){
      width: 50%;
      &:first-child{
        margin-right: 0;
      }
     }
     @include bp(mobile){
      display: none;
     }
  }

// Show Model Grid
// ---------------

.show-grid{
  max-width: 1440px;
  margin: 0 auto 15px auto;
  padding: 0 10px;
  overflow: hidden;
  &.with-padding{
    padding-bottom: 65px;
  }
  .show-grid-item{
    position: relative;
    margin: 0 auto 10px auto;
    width: 50%;
    float: left;
    @include bp(smallMobile){
      width: 100%;
      float: none;
    }
    @include bpmin(tablet) {
      width: 20%;
      margin-bottom: 10px;
    }
  }
  .show-grid-item__inner{
    padding: 5px;
    position: relative;

    .show-grid-item__bg
    {
      background-color: $grey_01;
    }

    img
    {
      width: 100%;
      height: auto;
    }

    > a{
      display: block;
      overflow: hidden;
    }
    &:hover{
      .show-grid-item__content-inner{
        color: $brand;
      }
    }
  }
  .show-grid-item__content{
    height: 60px;
    position: relative;
    background: white;
  }
    .show-grid-item__content-inner{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 12px 15px;
      display: table-cell;
      vertical-align: middle;
      @include font('serif', 21);
      line-height: 1.1;
      text-align: center;
      -sand-transform: translateY(-50%);

      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      @include transition();
      @include bp(smallMobile){
        @include font('body', 28);
      }
    }
}
.show-grid-item
{
  picture
  {
    width: 100%;
  }
}
.show-grid-item.is-sidebar{
  position: relative;
  margin-top:5px;
  .show-grid-item__inner
  {
    height:100%;
    padding: 0 5px;
  }
  .show-grid-item__sidebar{
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #ccc;
    background: $grey_01;
    padding: 20px;
    &::-webkit-scrollbar{
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $grey_03;
    }
    ul {
      display: block;
      margin-bottom: 10px;
      overflow: hidden;
      li {
        display: block;
        font-size: 14px;
        color: $primaryBlack;
        margin-bottom: 15px;
        &:not(.first) {
          font-weight: 700;
        }
        &.first {
          color: #999;
        }
        a {
          @include font('serif', 14, bold);
          color: #000;
          &:hover {
            color: $gold;
          }
        }
      }
    }
  }
  @include bp(mobile) {
    display: none;
  }
}

// Overlay
// -------

.runway--overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $primaryBlack;
  z-index: 1000;

  &.end--slide
  {
    .mobile-details--bottom
    {
      display: none;
    }
    .mobile-details
    {
      .gallery-details__model
      {
        display: none;
      }

      .gallery-details__count{
        display: none;
      }

      .overlay--thumbtoggle:first-child{
        display: none;
      }
    }
    .gallery-details{
      display: none;
    }
    @include bp(mobile){
      .gallery--main{
        .gallery--container{
          top: 60px;
        }
      }
    }
    @include bpmin(tablet){
      .runway--col1{
        display: block;
        width: 240px;
        .thumbs{
          li{
            width: 50%;
          }
        }
      }
    }
  }

  &:not(.is-active){
    @include opacity(0);
    pointer-events: none;
    visibility: hidden;
  }

  .overlay--inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .overlay--close{
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 50px;
      padding: 15px;
      cursor: pointer;
      z-index: 3;
      span{
        display: block;
        float: left;
        @include font('sans-c', 12);
        text-transform: uppercase;
        color: $grey_06;
        line-height: 15px;
        margin-right: 10px;
      }
      img{
        display: block;
        float: left;
        height: 15px;
        width: auto;
      }
      @include bp(tablet){
        display: none;
      } 
    }
    .runway--logo{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      padding: 15px;
      z-index: 5;
      a{
        display: block;
        img{
          display: block;
          height: 30px;
          width: auto;
        }
      }
      @include bp(tablet){
        display: none;
      }
    }
  }

  .gallery-details{
    padding: 0 15px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 240px;
    z-index: 1;
    @include bp(tablet){
      display: none;
    }
  }

  .gallery-details__content{
    padding: 15px 0;
    border-bottom: 1px solid #333;
    overflow: hidden;
    &:last-child{
      border-bottom: 0;
    }
  }

  .gallery-details__sub-title{
    @include font('sans-c', 11);
    text-transform: uppercase;
    color: $grey_06;
    line-height: 1.3;
  }

  .gallery-details__title{
    @include font('serif', 24);
    color: #fff;
    text-transform: capitalize;
  }

  .gallery-details__count{
    float: left;
    @include font('serif', 22);
    color: $white;  
  }

  .gallery-details__model, .nav--author{
    @include font('sans', 11);
    color: $grey_06;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    text-align: left;
  }

  .gallery-details__social{
    overflow: hidden;
    float: right;
    li{
      display: block;
      float: left;
      margin-left: 15px;
    }
    a{
      display: block;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      @include transition();
      &:hover{
        color: $gold;
      }
    }
  }

  .mobile-details, .mobile-head{
    display: none;
    @include bp(tablet){
      display: block;
    }
  }

  .mobile-head{
    height: 46px;
    position: relative;
    a{
      &:first-child{
        float: left;
        padding: 13px 15px;
        img{
          height: 20px;
          width: auto;
        }
      }
      &:nth-child(2){
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        -sand-transform: translateX(-50%);

        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        padding: 8px 0;
        img{
          height: 30px;
          width: auto;
        }
      }
      &:last-child{
        float: right;
        padding: 15px;
        img{
          height: 16px;
          width: auto;
        }
      }
    }
  }

  .mobile-details{
    padding: 0 15px;
    position: relative;
    &.mobile-details--top{
      height: 50px;
      .gallery-details__count{
        float: left;
        line-height: 50px;
      }
      .gallery-details__model{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        z-index: 1;
      }
      > div{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 2;
        a{
          display: block;
          float: left;
          padding: 15px;
          img{
            height: 20px;
            width: auto;
          }
        }
      }
    }
    &.mobile-details--bottom{
      height: 75px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .gallery-details__titles{
        height: 45px;
        position: absolute;
        left: 15px;
        top: 15px;
        bottom: 15px;
        width: 100%;
        z-index: 1;
        span{
          position: absolute;
          top: 0;
          left: 0;
        }
        h2{
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .gallery-details__social{
        position: absolute;
        top: 0;
        right: 15px;
        height: 100%;
        z-index: 2;
        a{
          height: 75px;
          line-height: 75px;
          font-size: 18px;
        }
      }
    }
  }

  .gallery--main{
    .slick-slide{;
      padding: 0;
      text-align: center;
      overflow: hidden;
      img{
        height: 100vh;
        max-height: 100vh;
        max-width: 100%;
      }
    }
    @include bp(tablet){
      .gallery--container{
        position: absolute;
        left: 0;
        width: 100%;
        top: 96px;
        bottom: 75px;
        overflow: hidden;
      }
      .slick-slide{
        padding: 0;
        width: 100%;
        img{
          height: calc(100vh - 171px);
          max-height: calc(100vh - 171px);
        }
      }
    }
  }
}

.gallery--container
{
  height: 100vh;

  &:not(.init)
  {
    li{
      opacity: 0 !important;
    }
  }

  &::before
  {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/V-loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .2s ease-out 0s;
  }

  &.loading::before
  {
    opacity: 1;
    transition-delay: 1s;
  }
}

body
{
  &:not( .major-4 )
  {
    .gallery--container
    {
      li
      {
        opacity: 0 !important;
      }
    }
  }
}

.runway--col1{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: $primaryBlack;
  z-index: 2;
  .runway--col1__close{
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 50px;
      padding: 15px;
      z-index: 3;
      img{
        display: block;
        float: left;
        height: 15px;
        width: auto;
      }
      @include bp(tablet){
        display: none;
      } 
  }
  .runway--col1__inner{
    position: absolute;
    top: 50px;
    left: 0;
    right: -18px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include bp(tablet){
      top: 0;
      right: 0;
      &::-webkit-scrollbar{
        display: none;
      }
    }
  }
  .thumbs{
    padding: 0 10px;
    li{
      position: relative;
      display: block;
      width: 10%;
      float: left;
      padding: 5px;


      background-image: url('../images/V-loading.gif');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;

      a{
        display: block;
      }
      img{
        display: block;
        width: 100%;
        height: auto;

        &.loaded--img
        {
          position: absolute;
          top: 5px;
          left: 5px;
          bottom: 5px;
          right: 5px;
          width: calc( 100% - 10px );
          height: calc(100% - 10px );
        }
      }
      .overlay{
        position: absolute;
        z-index: 2;
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        background-color: rgba(#000, 0.8);
        opacity: 0;
        @include transition(all, .2s, ease);
        span{
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          -sand-transform: translateY(-50%);

          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          @include font('serif', 16);
          color: #fff;
          text-align: center;
        }
      }
      &.slick-active{
        .overlay{
          opacity: 1;
        }
      }
      &:hover{
        .overlay{
          opacity: 1;
        }
      }
    }
    @include bp(mobile){
      li{
        width: 20%;
      }
    }
    @include bp(smallMobile){
      li{
        width: 50%;
      }
    }
  }
  @include bp(tablet){
    position: absolute;
    top: 96px;
    bottom: 75px;
    left: 0;
    width: 100%;
    background-color: $primaryBlack;
  }
  &.show{
    display: block;
    z-index: 4;
  }
}

.runway-vert{
  position: absolute;
  top: 50px;
  right: 15px;
  display: block;
  z-index: 1;
  width: 300px;
  
  @include bp(tablet){
    display: none;
  }

  .special--container.vert
  {
    top: 50px !important;
    right: 15px !important;
  }

  

}

.runway--col2{
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include bpmin(tablet){
    left: 300px;
    right: 300px;
  }
}

.item--navigation {
  padding: 15px 0;
  margin: 0;
  .nav--list{
    border: 1px solid #333;
    overflow: hidden;
    width: 94px;
    position: relative;
    &:before{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 46px;
      width: 1px;
      background-color: #333;
      content: '';
    }
  }
  .nav--list li {
    display: block;
    float: left;
    overflow: hidden;
    &.slick-disabled {
      pointer-events: none;
      opacity: 0.4;
    }
    a{
      display: block;
      width: 46px;
      height: 46px;
      position: relative;
      @include transition();
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 50% auto;
        background-repeat: no-repeat;
        content: '';
      }
      &.nav-prev{
        margin-right: 1px;
      }
      &:hover{
        background-color: rgba(#333, 0.5);
      }
    }
    .nav--prev:before {
      background-image: url('../images/va-gallery-previous-white.svg');
    }
    .nav--next:before {
      background-image: url('../images/va-gallery-next-white.svg');
    }
  }
}

.toggle-thumbs{
  border: 1px solid #333;
  display: inline-block;
  button{
    position: relative;
    height: 46px;
    line-height: 46px;
    padding: 0 66px 0 20px;
    color: #fff;
    @include font('sans-c', 12);
    text-transform: uppercase;
    cursor: pointer;
    @include transition();
    &:after{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 46px;
      border-left: 1px solid #333;
      content: " ";
      background-image: url('../images/icn-grid.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover{
      background-color: rgba(#333, 0.5);
    }
  }
}

.runway--thumbnail
{
  width: 100%;
  float: left;
  margin-bottom: 20px;
  .post-share-image__links
  {
    display: none !important;
  }
  .item-inner {
    position: relative;
    padding-bottom: 40px;
    .post-share-image
    {
      width: 100%;
    }
    img {
      width: 100%;
      background-color: $grey_01;
    }
    > .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      a{
        position: relative;
        display: block;
        height: 40px;
        text-align: center;
        @include font('sans-c', 14);
        text-transform: uppercase;
        line-height: 40px;
        background-color: $primaryBlack;
        color: $white;
        @include transition();
        &:after{
          position: absolute;
          top: 0;
          right: 15px;
          height: 100%;
          font-family: "FontAwesome";
          content: '\f105';
          line-height: 40px;
          font-size: 18px;
          color: $white;
        }
      }
    }
  }

  @media ( min-width: 520px )
  {
    max-width: 300px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &:hover{
    .item-inner{
       > .content{
        a{
          background-color: $brand;
        }
       }
    }
  }
}


.runway--overlay
{
  &:not(.end--slide)
  {

    .rw-next-slide
    {
      @include opacity(0);
      visibility: hidden;
    }

  }

}

.rw-next-slide
{
  background-color: $primaryBlack;

  &:not( .rw-next-slide__small )
  {
    height: 100vh !important;
  }

}

.rw-next-slide__inner
{
  text-align: center;
  @media all and (min-width: 1200px){
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 700px;

    -sand-transform: translateY( -50% ) translateX( -50% );

    -webkit-transform: translateY( -50% ) translateX( -50% );
       -moz-transform: translateY( -50% ) translateX( -50% );
        -ms-transform: translateY( -50% ) translateX( -50% );
            transform: translateY( -50% ) translateX( -50% );

  }
  @include bp(tablet){
    max-width: 500px;
    margin: auto;
    padding: 0 15px;
  }
}

.rw-next-slide__top{
  @include bp(mobile){
    max-width: 75%;
    margin: auto;
  }
}

.rw-next-slide__actions
{
  margin: 25px 0 60px 0;
  .button
  {
    @include display_inline;
    width: 40%;
    max-width: 180px;
    margin: 0 10px;
    @include font('sans', 11);
    height: 40px;
    line-height: 38px;
    @include bp(mobile){
      display: block;
      width: 100%;
      margin: 10px 0;
      max-width: 100%;
    }
  }
  @include bp(tablet){
    margin: 15px 0 30px 0;
  }

}

.rw-next-slide__heading__main
{
  margin: 50px 0 25px 0;
  color: $white;
  @include font( 'serif', 32 );
  text-transform: capitalize;
  @include bp(tablet){
    margin: 0 0 15px 0;
    font-size: 24px;
  }
}

.rw-next-slide__social{
  overflow: hidden;
  text-align: center;
  ul{
    display: inline-block;
    li{
      display: block;
      float: left;
      a{
        display: block;
        padding: 0 15px;
        color: #fff;
        font-size: 18px;
        @include transition();
        &:hover{
          color: $brand;
        }
      }
    }
  }
}

.rw-next-slide__heading
{
  position: relative;
  display: block;
  width: 100%;
  span
  {
    position: relative;
    @include display_inline;
    padding: 0 15px;
    background-color: $primaryBlack;
    color: $white;
    @include font( 'serif', 24 );
    z-index: 2;
  }
  &:before
  {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $white;
    content: '';
  }
  @include bp(mobile){
    max-width: 75%;
    margin: auto;
  }
}

.rw-next-slide__category
{
  margin: 5px 0 15px 0;
  @include font( 'sans-c', 12, 400 );
  color: $grey_06;
  overflow: hidden;
}

.rw-next-slide__list{
  margin: 0 -5px;
  width: calc(100% + 10px);
}

@media ( max-width: 1200px )
{
  .rw-next-slide__list-wrapper
  {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

}

.rw-next-item{
  position: relative;
  margin: 0 auto 16px auto;
  width: 40%;
  @include display_inline;
  &:last-child
  {
    display: none;
  }
  @include bpmin(tablet) {
    width: 33.333333%;
    margin-bottom: 16px;
    &:last-child
    {
      @include display_inline;
    }
  }

  .rw-next-item__inner{
    padding-bottom: 150%;
    position: relative;
    > a{
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      right: 5px;
      height: 100%;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
    }
    &:hover{
      .rw-next-item__content{
        a{
          background-color: $gold;
          -sand-transform: translateY(-5px);

          -webkit-transform: translateY(-5px);
             -moz-transform: translateY(-5px);
              -ms-transform: translateY(-5px);
                  transform: translateY(-5px);
        }
      }
    }
  }
  .rw-next-item__content{
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    z-index: 2;
    a{
      @include font('sans', 12, 500);
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding: 20px 10px;
      background-color: rgba(#0c0c0c, 0.8);
      color: #fafafa;
      @include transition();
      @include bp(mobile){
        font-size: 10px;
        padding: 15px 5px;
      }
    }
  }
  @include bp(tablet){
    width: 50%;
  }
}

.loaded--img--wrapper{
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  .runway-zoom-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: $white;
    z-index: 2;
    cursor: pointer;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/va-search.svg');
      background-size: 35% auto;
      background-position: center;
      background-repeat: no-repeat;
      content: '';      
    }
    @include bp(tablet){
      display: none;
    }
  }
}

.end--slide
{
  .gallery-details__content
  {
    // &.gallery-details__content--bottom,
    &:nth-child(2)
    {
      @include opacity(0);
      visibility: hidden;
    }
  }

  // .item--navigation
  // {
  //   display: none !important;
  // }
}


