/* ============================================================================

  SECTION HEADER

===============================================================================

  - Main header container

  - Navigation styles in _block_navigation.scss

============================================================================ */

.header--author
{
  position: relative;

  min-height: 360px;
  margin-bottom: 45px;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: $black;

  @media ( max-width: 768px )
  {
    min-height: 0;
    background-image: none;
    background-color:$white;
  }

  .header--inner
  {
    @media ( min-width: 769px )
    {
      position: absolute;
      top: 50%;
      left: 50%;

      text-align: left;

      -sand-transform: translateY( -50% ) translateX( -50% );

      -webkit-transform: translateY( -50% ) translateX( -50% );
         -moz-transform: translateY( -50% ) translateX( -50% );
          -ms-transform: translateY( -50% ) translateX( -50% );
              transform: translateY( -50% ) translateX( -50% );

    }

    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;

    @media ( max-width: 768px )
    {

      .inner--profile
      {
        position: relative;
        max-width: none;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $black;
      }
      .pc-social li a
      {
        color: $white;
      }
      .inner--description
      {
        max-width: none;
        background-color:$white;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom:0;
        min-height: 0;

        &:after
        {
          display:block;
          width:calc(100vw - 30px);
          height:1px;
          margin:30px auto 0;
          background-color: $grey_03;
          content:'';
        }

        .section--heading
        {
          font-size: 26px;
          font-weight: 300;
          line-height: 32px;
          margin-bottom: 10px;

          &.no--description
          {
            position: relative;
            -sand-transform: none;

            -webkit-transform: none;
               -moz-transform: none;
                -ms-transform: none;
                    transform: none;

            &:after
            {
              display: block;
              width: 40px;
              height: 2px;
              margin-top: 13px;
              margin-right:auto;
              margin-left:auto;
              background-color: $grey_03;
              content: '';
            }
          }
        }
        p
        {
          font-size: 20px;
          line-height: 26px;

          color:$black !important;
        }
      }
    }

  }

  .inner--description,
  .inner--profile
  {
    @include display_inline;
    @include box;
    min-height: 180px;
  }

  .inner--profile
  {
    width: 100%;
    max-width: 175px;
    padding-top: 30px;

    text-align: center;

    .profile--image
    {
      @include display_inline;
      width: 90px;
      height: 90px;
      border-radius: 100%;
      box-shadow:inset 0 0 0 2px $grey_06;

      img
      {
        width: 100%;
        height: 100%;
        border-radius: 100%;

        &.default
        {
          margin-top:22px;
          width:48px;
          height:48px;
          border-radius: 0;
        }
      }

      &.no--social
      {
        position: absolute;
        top: 50%;
        -sand-transform: translateY(-50%) translateX(-50%);

        -webkit-transform: translateY(-50%) translateX(-50%);
           -moz-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
      }
    }

  }

  .inner--description
  {
    width: 100%;
    max-width: calc( 100% - 185px );
    padding: 40px 45px;
    border-left: 1px solid rgba( $grey_03, .2 );

    text-transform: none;

    .section--heading
    {
      margin-bottom: 25px;

      color: $brand;

      @include font( 'serif', 42 );

      &.no--description
      {
        position: absolute;
        top: 50%;

        margin-bottom: 0;

        -sand-transform: translateY(-50%);

        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
      }

    }

    p
    {
      font-size: 16px;
      letter-spacing: 0;
    }

    &.archive--colour__white
    {

      p
      {
        color: $white;
      }

    }

    &.archive--colour__black
    {

      p
      {
        color: $black;
      }

    }

  }

}

[dir=rtl]{

  .header--author{
    .inner--description{
      border-left: 0;
      border-right: 1px solid rgba( $grey_03, .2 );
    }
    .profile--image
    {
      &.no--social
      {
        -sand-transform: translateY(-50%) translateX(50%);

        -webkit-transform: translateY(-50%) translateX(50%);
           -moz-transform: translateY(-50%) translateX(50%);
            -ms-transform: translateY(-50%) translateX(50%);
                transform: translateY(-50%) translateX(50%);
      }
    }
  }

}