.nl-signup{
	height: calc(100vh - 46px);
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
}

	.nl-signup__inner{
		position: relative;
	}

.nl-signup__box{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: $white;
	padding: 40px 60px 40px 60px;

	@media all and (min-width: 420px){
		max-width: 360px;
	}
}

	.nl-signup-form__logo{
		padding-bottom: 20px;

		img{
			display: block;
			width: 100%;
			height: auto;
			margin-bottom: 5px;
		}

		figcaption{
			position: relative;
			text-align: center;

			span{
				position: relative;
				display: inline-block;
				background-color: $white;
				@include font('serif', 29);
				font-style: italic;
				color: $grey_06;
				z-index: 2;
				padding: 0 10px;
			}

			&:before{
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				height: 1px;
				background-color: $grey_03;
				z-index: 1;
				content: '';
			}
		}
	}

.nl-signup-form{
	input{
		display: block;
		width: 100%;
		border: 0;
		margin: 0;
	}
}

	.nl-signup-form__input-wrapper{
		border-bottom: 1px solid $grey_03;
		padding-top: 25px;

		label{
			@include font('sans-c', 13, bold);
			color: $grey_06;
			text-transform: uppercase;
		}

		input{
			padding: 8px 0;
			background-color: transparent;
			@include font('body', 18);
			color: $primaryBlack;
			line-height: 1.5;
		}
	}

	.nl-signup-form__foot{
	}

		.nl-signup-form__message
		{
			padding: 23px 0 20px;
			box-sizing: content-box;
			min-height: 18px;
			@include font('sans', 14, 500);
			color: transparent;
			cursor: default;

			&.info 	  { color: $grey_04; }
			&.error   { color: $grey_04; }
			&.glamour { color: $brand; }
		}

		.nl-signup-form__submit{
			
			// Prevent iOS styles
		  	-webkit-appearance: none;
		  	-webkit-border-radius: 0;

			background-color: $primaryBlack;
			padding: 0;
			height: 50px;
			line-height: 50px;
			@include font('sans', 12, 500);
			color: $white;
			text-transform: uppercase;
			cursor: pointer;
			@include transition();
			&:hover{
				background-color: $brand;
			}
		}

