.post-share-image {
  display: inline-block;
  position: relative;

  .post-share-image__links {
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    li {
      display: block;
      padding: 0;
      text-align: center;
      @include opacity(0);
      a, button {
        display: block;
        position: relative;
        width: 48px;
        height: 48px;
        text-decoration: none;

        background-color: $white;
        border: 1px solid $grey_03;
        font-size: 18px;
        line-height: 46px;
        @include bp('smallMobile') {
          width: 40px;
          height: 40px;
          font-size: 16px;
          line-height: 38px;
        }
      }
      & + li {
        margin-top: -1px;
      }
    }

    .post-share-image__toggle {
      @include opacity(1);
      button {
        .open,
        .close {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          fill: $black;
        }
        .open {
          @include opacity(1);
          svg {
            margin: -1px 0 0 -7px;
            width: 14px;
            height: 2px;
          }
        }
        .close {
          @include opacity(0);
          svg {
            margin: -7px 0 0 -7px;
            width: 14px;
            height: 14px;
          }
        }
        &.is-active{
          .open{
            @include opacity(0);
          }
          .close{
            @include opacity(1);
          }
        }
      }
    }
  }
  &.item--image {
    display: block;
  }
}

.no-touchevents{
  .post-share-image{
    .post-share-image__links{
      li{
        @include transitions(opacity 0.15s ease);
        a, button{
          @include transitions(color 0.15s ease, background 0.15s ease, border 0.15s ease);
          &:hover {
            background-color: $brand;
            border-color: $brand;
            z-index: 2;
            color: $white !important;
          }
        }
      }
      &:hover{
        li {
          @include opacity(1);
        }
        .post-share-image__toggle button {
          .open {
            @include opacity(0);
          }
          .close {
            @include opacity(1);
          }
        }
      }
      .post-share-image__toggle {
        &:hover{
          svg{
            fill: $white;
          }
        }
      }
    }
  }
}