/* ============================================================================

  GLOBAL GENERAL

============================================================================ */


[dir=rtl]
{

  .top-branding
  {
    &.top-branding--home{
      svg
      {
        direction: ltr;
      }
    }
  }

  .site-head__toggle
  {
    &.site-head__toggle--nav
    {
      right: 0;
      left: auto;

      &:before
      {
        border-right: none;
        border-left: 1px solid $grey_02;
      }

    }

    &.site-head__toggle--close
    {
      right: 0;
      left: auto;
    }

    &.site-head__toggle--search
    {
      left: 0;
      right: auto;

      &:before
      {
        border-left: none;
        border-right: 1px solid $grey_02;
      }

    }

  }

  .site-head__nav {

    .menu-item a {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .site-head-social__inner
  {
    li
    { 
      & + li
      {
        border-left: none;
        border-right: 1px solid $grey_02;
      }

    }

  }

  .site-head-social--small
  {
    right: 78px;
    left: auto;
  }

  .site-head-language
  {
    right: auto;
    left: 70px;
  }

  .site-head-social
  {
    right: auto;
    left: 70px;
  }

  .site-head-social__title{
    line-height: 44px;
  }

  @media ( min-width: 1026px )
  {
    .site-head
    {

      &:not(.site-head--home)
      {
        .top-branding
        {
          &.top-branding--header
          {
            right: 90px;
            left: auto;
          }

        }

      }

      &.site-head--home
      {
        .top-branding--header
        {
          right: 90px;
          left: auto;
        }

      }

      &.is-scrolled
      {
        .site-head-social--small
        {
          @include opacity(0);
          visibility: hidden;
        }

      }

    }

  }


  .side-nav__menu
  {
    li
    {
      &.menu-item-has-children
      {
        & > div
        {
          right: auto;
          left: 0;
        }
  
      }
  
    }

  }

  .sub-menu
  {
    a
    {
      padding: 0 50px 0 30px;

      &:before
      {
        right: 30px;
        left: auto;
      }

    }

  }

  .video-details-sidebar
  {
    left: 0;
    right: auto;
  }

  .video--time
  {
    direction: rtl;
  }
  @media (min-width: 771px)
  {
    .video-details__date {
      right: auto;
      left: 0;
    }

  }

  .video-details__credits
  {
    float: right;
  }

  .video-details__share
  {
    float: right;
    margin-left: 15px;

    li
    {
      a
      {
        margin-right: auto;
        margin-left: 15px;
      }
    }
  }

  .video--container
  {
    .video--play
    {

      // &.video--play__large
      // {
      //   -webkit-transform: scaleX(-1) translateY(-50%) translateX(50%);
      //      -moz-transform: scaleX(-1) translateY(-50%) translateX(50%);
      //        -o-transform: scaleX(-1) translateY(-50%) translateX(50%);
      //           transform: scaleX(-1) translateY(-50%) translateX(50%);
      // }

      // &.video--play__small
      // {
      //   -webkit-transform: scaleX(-1);
      //      -moz-transform: scaleX(-1);
      //        -o-transform: scaleX(-1);
      //           transform: scaleX(-1);
      // }
      // -ms-filter: "FlipH";
      //     filter: FlipH;
    }

  }

  .break--video
  {
    .post--full
    {
      .post--snippet
      {
        left: auto;
        right: 50%;

        -sand-transform: translateX(50%) translateY(-50%);

        -webkit-transform: translateX(50%) translateY(-50%);
           -moz-transform: translateX(50%) translateY(-50%);
            -ms-transform: translateX(50%) translateY(-50%);
                transform: translateX(50%) translateY(-50%);

        @media (max-width: 770px)
        {
          -sand-transform: translateX(50%);

          -webkit-transform: translateX(50%);
             -moz-transform: translateX(50%);
              -ms-transform: translateX(50%);
                  transform: translateX(50%);
        }

      }

    }

  }

  .vogue--recommends
  {
    .post--item
    {
      &.post--standard
      {
        .post--snippet
        {
          padding-right: 0;
          padding-left: 20px;
        }

      }

    }

  }

  .pc-slider__link
  {
    right: auto;
    left: 0;

    padding-right: 0;
    padding-left: 25px;

    &:before
    {
      right: 82%;
      // left: 0; for some reason it's not accepting this, hence the 82% right.. 
      background-image: url("../images/va-gallery-previous.svg");
    }

  }

  .post--latest
  {

    .post--item
    {
      &.post--standard
      {
        .post--snippet
        {
          padding-right: 50px;
          padding-left: 20px;
        }

        .post--image
        {
          a
          {
            &:before
            {
              right: auto;
              left: -30px;
            }

          }

        }

      }

    }

  }

  .featured--area
  {
    &.left--anchor
    {
      float: left;
    }

  }

  .the--article
  {
    .post--title
    {
      text-align: right;
    }

  }

  .post--meta
  {
    .post--time
    {
      &:before
      {
        margin: -1px 0 0 6px;
      }

    }

  }

  .pc-social
  {
    &.in--post
    {
      text-align: right;
    }

  }

  .post-share-image
  {
    .post-share-image__links
    {
      right: auto;
      left: 20px;
    }

  }

  .post--author
  {
    .author--image
    {
      &:before
      {
        right: auto;
        left: 100%;
      }

    }

    .post--meta
    {
      padding-right: 20px;
      padding-left: auto;
    }

  }


  .article--gallery
  {
    .article--gallery--meta
    {
      right: auto;
      left: 0;
    }

    @media (max-width: 400px)
    {
      &:not(.shoppable)
      {
        .slick-slide
        {
          right: 0 !important;
        }

      }

    }

    &.list--view
    {
      .gallery--item
      {
        &:not(:first-of-type)
        {
          .item--image
          {
            float: left;
          }

        }

        .item--image
        {
          margin-left: 0;
        }

      }

    }

  }

  
  .article--gallery
  {
    &.shoppable
    {

      .article--gallery--inner
      {
        border-left: none;
        border-right: 1px solid $grey_02;
      }

      .gallery--navigation
      {
        .gallery--navigation--button
        {
          &:first-of-type
          {
            margin-right: auto;
            margin-left: -1px;
						/* right: 15px;
						left: auto; */
          }
					&:nth-child(2)
					{
						/* right: auto;
						left: 15px; */
					}

        }

      }

      .gallery--item
      {
				.item--content__pricing
				{
					width: 53%;
				}
        @media ( min-width: 401px )
        {
          .item--content
          {
            right: 100%;
            left: auto;
          }

          .item--content__buy
          {
            .button
            {
              right: auto;
              left: 0;
            }

          }

        }

      }

    }

  }

  .article--gallery
  {
    &:not(.shoppable)
    {

      .gallery--item
      {
        .item--content
        {
          float: left;
        }

        .item--image
        {
          margin-right: auto;
        }

        .item--content__header
        {
          padding: 30px 0 30px 180px;
        }

      }

      &:not(.list--view)
      {

        .gallery--item
        {
          .item--image
          {
            @media ( min-width: 400px)
            {
              margin-left: 90px;
            }
          }
        }

      }

    }
  }

  .gallery--change
  {
    right: auto;
    left: 0;
  }

  .article--gallery--meta__sticky
  {
    margin-left: auto;
    margin-right: -48px;

    @media (max-width: 1439px)
    {
      margin-left: 0;
      margin-right: 0;
    }

    &.has-mask
    {
      &:before
      {
        left: auto;
        right: 48px;
      }

      @media (max-width: 1365px)
      {
        &:before
        {
          right: 0;
          width:100vw;
        }
      }

    }

    

  }

  .article--gallery--grid--view
  {    
    right: 0;
    left: auto;

    width: 100%;
    padding-left: 80px;
    padding-right: 50px;

    border-right: 1px solid $grey_02;

    .grid--item
    {
      float: right;
    }

    &.is-sticky
    {
      right: 48px;
      width: calc( 100vw - ( ( 100vw - 1260px ) / 2 ) - 60px );

      @media (max-width: 1365px)
      {
        right: 0;
      }
    }

  }

  .gallery--navigation
  {
    .gallery--navigation--button
    {
      &.gallery--next,
      &.gallery--previous
      {

        img
        {
          -sand-transform: scaleX(-1);

          -webkit-transform: scaleX(-1);
             -moz-transform: scaleX(-1);
              -ms-transform: scaleX(-1);
               -o-transform: scaleX(-1);
                  transform: scaleX(-1);
          -ms-filter: "FlipH";
              filter: FlipH;
        }

      }
    }

  }

  .special--container
  {

    &.vert
    {
      margin-right: 60px;
      margin-left: auto;
    }

  }

  .content--column
  {

    blockquote
    {
      border-left: none;
      border-right: 2px solid $grey_03;
    }

    .post-social-links
    {
      margin-right: -96px;
      margin-left: auto;

      @media ( max-width: 1439px )
      {
        margin-right: -58px;
        margin-left: auto;
      }

    }

  }

  .post--list
  {
    &.post--explore
    {
      .post--small
      {
        text-align: right;
      }

      .post--image
      {
        float: right;
      }

      .post--snippet
      {
        left: 0;

      @media ( max-width: 769px)
      {
        &:before
        {
          right: -20px;
          left: auto;
        }
      }

      }

      .snippet--inner
      {
        left: 15px;
        right: 30px;

        text-align: right;
      }

      .post--title
      {
        text-align: right;

        & a
        {
          text-align: right;
        }

      }

    }

  }

  @media ( min-width: 770px)
  {
    .post--explore
    {
      .snippet--inner,
      .post--meta,
      .post--title
      {
        text-align: center !important;
        a
        {
          text-align:center !important;
        }
      }
    }
  }

  @media (max-width: 1370px)
  {
    .newsletter--form
    {
      img {
        right: auto;
        left: 100%;
      }
    }
  }

  @media (min-width: 520px)
  {
    .runway--thumbnail {
      margin-right: auto;
      margin-left: 30px;
    }

  }

  .gallery-details{
    left: auto;
    right: 0;
  }

  .runway--thumbnail {
    float: right;
  }

  .runway-vert{
    width: 300px;
    left: 15px;
    right: auto;
    .special--container{
      margin-left: 0;
      margin-right: 0;
      top: 15px;
      left: 0;
      right: auto;
      &.vert{
        top: 0 !important;
        left: 0 !important;
        right: auto !important;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .runway--col1
  {
    right: 0;
    left: auto;

    .runway--col1__inner
    {
      left: -18px;
      right: auto;
      @media (max-width: 1025px)
      {
        right: 0;
      }
    }

    .thumbs
    {
      li
      {
        float: right;
      }
    }
  }

  @media (min-width: 1026px)
  {
    .runway--col2 {
      right: 200px;
      left: 330px;
    }
  }

  .runway--col3
  {
    right: auto;
    left: 0;
  }

  .loaded--img--wrapper
  {
    .runway-zoom-btn
    {
      right: auto;
      left: 0;
    }

  }

  .runway--overlay .gallery-details
  {
    right: 0;
    left: auto;
  }

  .runway-vert .special--container.vert 
  {
    right: auto;
    left: 15px !important;
  }

  .runway--overlay .overlay--inner .runway--logo
  {
    right: 0;
    left: auto;
  }

  .item--navigation .nav--list li .nav--next:before,
  .item--navigation .nav--list li .nav--prev:before
  {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .item--navigation{
    .nav--list{
      li{
        .nav--prev:before {
          background-image: url('../images/va-gallery-next-white.svg');
        }
        .nav--next:before {
          background-image: url('../images/va-gallery-previous-white.svg');
        }
      }
    }
  }

  .runway--overlay .nav--author 
  {
    text-align: right;
  }

  .runway--col1 .runway--col1__close 
  {
    right: auto;
    left: 0;
  }

  .runway--overlay .overlay--inner .overlay--close span 
  {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
  }

  .runway--overlay .overlay--inner .overlay--close img {
    float: right;
   }

  .runway--overlay .overlay--inner .overlay--close
  {
    left: 0;
    right: auto;
  }

  .special--container.vert.mobile_ads 
  {
    margin-right: auto;
    margin-left: auto;
  }

  .zoom__close
  {
    right: auto;
    left: 15px;
  }

  .overlay--close
  {
    float: left;
  }

  .runway--logo
  {
    float: right;
  }

  .runway--overlay
  {
    .gallery-details__count
    {
      float: right;
    }

    .gallery-details__social
    {
      float: left;

      li
      {
        margin-right: 15px;
        margin-left: auto;
      }

    }

    .item--navigation
    {
      float: right;
    }

    .gallery-details__model,
    .nav--author
    {
      text-align: left;
      span
      {
        float:left;
      }
    }

    .mobile-details
    {
      &.mobile-details--top
      {
        & > div
        {
          right: auto;
          left: 0;

          & a
          {
            float: right;
          }

        }

        .gallery-details__model
        {
          left: 50%;
          text-align: left;
          -sand-transform: translateX(-12.5%);

          -webkit-transform: translateX(-12.5%);
             -moz-transform: translateX(-12.5%);
              -ms-transform: translateX(-12.5%);
                  transform: translateX(-12.5%);
        }

        .gallery-details__count
        {
          float: right;
        }

      }

    }

  }

  .related--tags
  {
    float: left;
  }

  .show-grid__title
  {
    float: right;
  }

  .show-grid
  {
    .show-grid-item
    {
      float: right;
    }

  }

  @media ( max-width: 400px )
  {
    .gallery--position
    {
      .current--slide
      {
        right: auto;
        left: 32px;
      }

      .total--slides
      {
        right: 25px;
        left: auto;
      }

    }

  }


  @media ( max-width: 1025px )
  {
    .content--column
    {
      .post-social-links
      {
        li {
          float: right;
        }

      }

    }

  }

  .archive-sort
  {

    li
    {
      & + li
      {
        border-right: 1px solid $grey_02;
        border-left: none;
      }

      &:first-child
      {
        a
        {
          padding-left: 20px;
          padding-right: 0;
        }
      }

      &:last-child
      {
        padding-right: 20px;

        a
        {
          padding-right: 0;
        }
      }

    }
    a
    {
      &:after
      {
        float:right;
      }
    }
  }

  @media (max-width: 770px)
  {
    .filter-block
    {
      .filter-list
      {
        & > li
        {
          &.has-dropdown
          {
            & > a
            {
              :after
              {
                margin-left: auto;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1260px)
  {
    .post--item
    {
      &.post--full
      {
        &.featured
        {
          .post--image
          {
            img {
              right: 50%;
              left: auto;

/*              -sand-transform: translateX(50%);

              -webkit-transform: translateX(50%);
                 -moz-transform: translateX(50%);
                  -ms-transform: translateX(50%);
                      transform: translateX(50%); */
            }
          }
        }
      }
    }
  }

}
