.sb-listings-pagination{
	text-align: center;

	&.is-fixed
	{

		.inner
		{
			position:fixed;
			z-index: 11;
			top:45px;

			background-color: rgba($white,.9);
		}

	}
	ul{
		display: inline-block;
		li{
			position: relative;
			display: block;
			float: left;
			width:20px;
			height:20px;
			line-height:20px;
			text-align:center;

			border-radius: 100%;

			background-color: transparent;

			@include transition(all,.2s,ease);

			&.all{
				width: auto;
			}

			&.not-filterable
			{
				pointer-events: none;

				a{
					color: $grey_03;
				}
			}

			&:not(.all)
			{
				&.filter-active
				{
						background-color: $brand;

					a
					{
						color: $white;
						&:hover
						{
							color: $white !important;
						}
					}
				}
			}

			

			a{
				display: block;
				@include font('sans', 11, bold);
				text-transform: uppercase;
				color: $grey_06;
				padding: 0 4px;
				@include transition();
				&:hover{
					color: $gold;
				}
			}
		}
	}

	@media ( max-width: 630px )
	{
		height: 58px;

	.inner
	{		
		width: 100vw;
		margin-left: -15px;
		text-align: left;
		overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top:1px solid $grey_03;
		border-bottom: 1px solid $grey_03;

		.inner--wrap
		{
			overflow: auto;
		}
	}

		ul
		{
			white-space: nowrap;
			padding-left: 15px;
			padding-right: 15px;

			li
			{
				float: none;
				@include display_inline;
				width: 36px;
				height:36px;
				line-height: 36px;
			}
		}		
	}

}

.sb-listings{
	width: calc(100% - 360px);
	padding-top: 50px;
	float: left;

	@media (max-width: 1024px)
	{
		width: 100%;
	}
}

.sb-gallery{
	overflow: hidden;
	margin: 50px 0;
	position: relative;
	&:not(.sb-gallery--profile-videos):not(.sb-gallery--listings){
		.row{
			&:nth-child(odd){
				.sb-gallery-item{
					&:nth-child(even){
						width: calc(100% / 6);
					}
					&:nth-child(odd){
						width: calc(100% / 3);
					}
				}
			}
			&:nth-child(even){
				.sb-gallery-item{
					&:nth-child(odd){
						width: calc(100% / 6);
					}
					&:nth-child(even){
						width: calc(100% / 3);
					}
				}
			}
			@include bp(mobile){
				&:nth-child(odd){
					.sb-gallery-item{
						&:nth-child(even){
							width: 50%;
						}
						&:nth-child(odd){
							width: 50%;
						}
					}
				}
				&:nth-child(even){
					.sb-gallery-item{
						&:nth-child(odd){
							width: 50%;
						}
						&:nth-child(even){
							width: 50%;
						}
					}
				}			
			}
		}
	}
	&.sb-gallery--profile-gallery{
		.sb-gallery-item__inner{
			@include transition();
			opacity: 0;
		}
		.sb-gallery-item{
			&:hover{
				.sb-gallery-item__inner{
					opacity: 1;
				}				
			}
		}
	}
	&.sb-gallery--listings{
		margin: 30px 0 50px 0;
		.sb-gallery-item{
			width: calc(100% / 3);
			padding-bottom: 35%;
			@include bp(mobile){
				width: 50%;
				padding-bottom: 50%;
				&:nth-child(3n){
					width: 100%;
				}
			}
		}
	}
}

		.sb-gallery__head{
			position: relative;
			margin-bottom: 30px;
			border-bottom: 1px solid $grey_03;
			padding-bottom: 15px;

			&.sb-listings-pagination
			{
				border-bottom: 0;
				padding-bottom: 0;
			}
		}

			.sb-gallery__link{
				position: absolute;
				top: 50%;
				left: 0;

				-sand-transform: translateY(-50%);

				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%);

				@include font('sans', 12, bold);
				text-transform: uppercase;
				letter-spacing: 2px;

				padding-left: 25px;

				&:before{
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-image: url('../images/va-gallery-previous.svg');
					background-size: auto 15px;
					background-position: left center;
					background-repeat: no-repeat;

					@include transition();

					content: '';
				}
				&:hover{
					&:before{
						-sand-transform: translateX(-5px);

						-webkit-transform: translateX(-5px);
						   -moz-transform: translateX(-5px);
						    -ms-transform: translateX(-5px);
										transform: translateX(-5px);				
					}
				}
			}

			.sb-gallery__title{
				@include font('serif', 24);
				text-align: center;
				@include bp(mobile){
					@include font('sans');
				}
			}

		.sb-gallery__inner{
			margin: 0 -8px;
			width: calc(100% + 16px);
		}

			.sb-gallery-video{
				width: calc(50% - 16px);
				float: left;
				margin: 0 8px;
				margin-bottom: 15px;
				.video--container{
					width: 100%;
					margin-bottom: 0;
				}
			}

			.sb-gallery-item{
				float: left;
				padding-bottom: 22.5%;
				position: relative;
				margin-bottom: 15px;

				opacity: 0;

				a{
					display: block;
					position: absolute;
					top: 0;
					left: 8px;
					right: 8px;
					height: 100%;
					&:after{
						@include absolute();
						@include transition(opacity, 0.5s, ease);
						background-color: #000;
						opacity: 0.5;
						z-index: 2;
						content: '';
					}
				}
				@include bp(mobile){
					padding-bottom: 62.5%;
				}
				&:hover{
					a{
						&:after{
							opacity: 0.75;
						}
					}
				}
				&.sb-gallery-item--letter{
					span{
						@include font('serif', 70);
						text-transform: uppercase;
						color: $gold;
					}
					a{
						&:after{
							display: none;
						}
					}
				}
			}

				.sb-gallery-item__bg{
					@include absolute();
					@include bg();
					z-index: 1;
				}

				.sb-gallery-item__inner{
					position: absolute;
					top: 50%;
					width: 100%;
					-sand-transform: translateY(-50%);

					-webkit-transform: translateY(-50%);
					   -moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
									transform: translateY(-50%);
					padding: 0 15px;
					z-index: 3;
					h1, span{
						display: block;
						color: #fff;
						text-align: center;
					}
					h1{
						@include font('serif', 18);
						@media (max-width: 420px)
						{
							 font-size: 15px;
						  line-height: 20px;
						}
					}
					span{
						font-size: 11px;
						text-transform: uppercase;
						margin-top: 5px;
						pointer-events: none;
					}
					img{
						display: block;
						margin: auto;
						// max-height: 50px;
						width: auto;
						max-width: 100%;
						max-height:100%;

						&.plus_logo
						{
							max-width: 100%;
						}
					}
				}

.sb-section--splits
{
	margin-top: 35px;
}
