/* ============================================================================

  SECTION HEADER

===============================================================================

  - Main header container

  - Navigation styles in _block_navigation.scss

============================================================================ */

.header
{
  position: relative;
  z-index: 11;

  height: $header_height - $header_strip_height - 130 + px;
  @include box;

  background-color: $white;

  text-align: center;

  @include transition;

  &.is-small
  {
    position: absolute;
    top: 0;
    left: 0;

    height: 0;
  }

  // &.in-active
  // {
  //   opacity: 0;
  //   visibility: hidden;
  //   pointer-events: none;
  // }

}


/* ============================================================================

  - Header strip containing;
    - Language selection
    - Social profiles
    - Small logo for on scroll

============================================================================ */

.header--strip
{
  position: fixed;
  z-index: 5;
  top: 0;

  width: 100%;
  height: $header_strip_height + px;
  @include box;
  border-bottom: 1px solid $grey_02;

  background-color: $white;

  overflow: hidden;
}

/* ============================================================================

  - Header Branding
    - Large logo, within main header container
    - Small logo, within header strip for scroll events

============================================================================ */

.header--branding
{
  position: relative;

  @include display_inline;

  img
  {
    display: block;
    width: 100%;
    height: auto;
  }

  &.branding--main
  {
    position: relative;

    margin-top: 30px;
    // @include transition;

    -webkit-transition: none;
       -moz-transition: none;
            transition: none;
  }

  &.branding--medium
  {
    display: block;
    width: 80%;
    max-width: 220px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  &.branding--small
  {
    position: absolute;
    z-index: 5;
    left: 100px;
    top: 50%;

    width: auto;
    height: $branding_small_height + px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    -sand-transform: translate3d( 0, -50%, 0 );

    -webkit-transform: translate3d( 0, -50%, 0 );
       -moz-transform: translate3d( 0, -50%, 0 );
        -ms-transform: translate3d( 0, -50%, 0 );
            transform: translate3d( 0, -50%, 0 );

    -webkit-backface-visibility: hidden;

    img
    {
      height: 100%;
      width: auto;
    }

    // &.is-hidden
    // {
    //   -webkit-transform: translate3d( 0, -50%, 0 );
    //      -moz-transform: translate3d( 0, -50%, 0 );
    //           transform: translate3d( 0, -50%, 0 );

    //   @include transition( all, .8s, ease-in-out );
    // }

    &.is-always-visible,
    &.search-active,
    &.is-visible
    {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      @include transition( all, .5s, ease-in-out );

      -sand-transform: translate3d( 20px, -50%, 0 );

      -webkit-transform: translate3d( 20px, -50%, 0 );
         -moz-transform: translate3d( 20px, -50%, 0 );
          -ms-transform: translate3d( 20px, -50%, 0 );
              transform: translate3d( 20px, -50%, 0 );

      // & + .navigation
      // {

      //   .navigation--list
      //   {
      //     opacity: 0;

      //     -webkit-transform: translate3d( 0, -100%, 0 );
      //        -moz-transform: translate3d( 0, -100%, 0 );
      //             transform: translate3d( 0, -100%, 0 );
      //   }

      // }

    }

  }

}
