.video-slider{
	background-color: #121212;
	padding: 50px 0;

// ADDED TO STOP JITTER ON INITAL PAGE LOAD BEFORE SWIPER KICKS IN WITH HEIGHT
	.swiper-container
	{
		max-height: 400px;
		@include opacity(0);

		@include transition( opacity, .3s, ease, .3s );

		&.s-0
		{
			@include opacity(1);
		}

	}

	.swiper-button{
		@include transition(transform, 0.2s, ease);

		&.swiper-button-next{
			right: -50px;

			&:hover {
				@include translateX(5px)
			}
		}
		&.swiper-button-prev{
			left: -50px;

			&:hover {
				@include translateX(-5px)
			}
		}
		@media all and (max-width: 1260px){
			&.swiper-button-next{
				right: 15px;
				top: calc(100% - 4px);
			}
			&.swiper-button-prev{
				left: 15px;
				top: calc(100% - 4px);
			}
		}
	}

	@include bp(mobile){
		padding: 40px 0;
	}

}

	.video-slider__inner{
		position: relative;
		padding-bottom: 30px;
	}

.swiper-slide{
	.video-post{
		width: 100%;
		margin: 0;
		position: relative;

		&:hover {
			.video-post__content h2 {
				color: $brand;
			}

			.video-post__thumb:after {
				@include opacity(0.25);
			}
		}
	}

	.video-post__thumb {
		position: relative;
		padding-bottom: 0;
		img{
			position: static;
			display: block;
			width: 100%;
			height: auto;
			transform: none;
		}
		&:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background: $black;
			content: '';
			@include opacity(0);
			@include transitions(opacity 0.5s ease);
		}
	}

	.video-post__content{
		h2{
			color: #fff;

			@include transition(color, 0.2s, ease);
		}
		@include bp(smallMobile){
			h2{
				text-align: center;
				padding: 0 15px;
			}
			.post--tag{
				display: none;
			}
		}
	}
}

.swiper-pagination{
	bottom: -15px;
}

.swiper-pagination-bullets {
	bottom: 0;
	left: 50%;
	-sand-transform: translateX(-50%);

	-webkit-transform: translateX(-50%);
		 -moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
					transform: translateX(-50%);
	.swiper-pagination-bullet{
		margin: 0 3px;

		background-color: #332c1e;
		@include opacity(1);
      	@include transitions(background 0.15s ease, opacity 0.15s ease);

		&:hover {
			background-color: $brand;
		}

		&.swiper-pagination-bullet-active{
			background-color: #fff;
		}

	}
}