.zoom{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	background-color: #0c0c0c;
	background-image: url('../images/V-loading.gif');
	background-position: center;
	background-position: 400px auto;
	background-repeat: no-repeat;
	z-index: 1001;
}

	.zoom__inner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		img{
			position: relative;
			display: block;
			min-width: 100%;
			min-height: 100%;
			margin: 0 auto;
		}
	}

		.zoom__close{
			position: absolute;
			top: 15px;
			right: 15px;
			height: 50px;
			width: 50px;
			background-color: $white;
			z-index: 2;
			cursor: pointer;
			&:after{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url('../images/va-close.svg');
				background-size: 30% auto;
				background-position: center;
				background-repeat: no-repeat;
				content: '';
			}
		}