.fp-nav{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	@media ( max-width: 770px )
	{
		padding-top: 20px;
	}
}

	.fp-nav__item{
		@include transition(color, .3s, ease);
		display: inline-block;
		font-size: 12px;
		border: 0;
		margin: 0 35px;
		padding: 0;
		text-transform: uppercase;
		background-color: transparent;
		cursor: pointer;
		&:hover{
			color: $gold;
		}
		&.current-menu-item{
			font-weight: bold;
		}
	}

.content-column{
	max-width: 840px;
	margin: auto;
	width: 100%;
	padding: 60px 0;
	@include bp(mobile){
		padding: 40px 0;
	}
}

	.text-content{
		h2,h3,h4,h5{
			@include font('sans', 18);
			line-height: 30px;
		}
		p{
			line-height: 30px;
		}
		a{
			@include transition(color, .3s, ease);
			text-decoration: underline;
			&:hover{
				color: $gold;
			}
		}
		ul{
			display: block;
			overflow: hidden;
			li{
				@include font('serif', 18);
				display: block;
				padding-left: 20px;
				line-height: 30px;
				position: relative;
				&:before{
					position: absolute;
					top: 13px;
					left: 2px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: #000;
					content: '';
				}
			}
		}
		hr{
			border-width: 0;
			height: 1px;
			background-color: #ccc;
		}
		strong{
			font-weight: bold;
		}
		> * {
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.fp-jury{}

		.fp-jury__title{
			@include font('sans', 18);
			line-height: 30px;
		}

		.fp-jury__members{
			margin: 60px -30px 0 -30px;
			width: calc(100% + 60px);
			overflow: hidden;
			@include bp(mobile){
				margin: 40px -15px 0 -15px;
				width: calc(100% + 30px);
			}
		}

			.fp-jury-member{
				width: calc(100% / 3);
				float: left;
				padding: 0 30px;
				margin-bottom: 60px;
				@include bp(mobile){
					width: 50%;
					padding: 0 15px;
					margin-bottom: 40px;
				}
				@include bp(smallMobile){
					width: 100%;
				}
				cursor: pointer;
			}

				.fp-jury-member__portrait{
					@include bg();
					padding-bottom: 100%;
					border-radius: 50%;
					margin-bottom: 10px;
					@include bp(smallMobile){
						width: 75%;
						padding-bottom: 75%;
						margin: 0 auto 10px auto;
					}
					@include transition(all,.3s,ease);
					&:hover
					{
						opacity: 0.75;
					}
				}

				.fp-jury-member__name{
					@include font('serif', 16);
					text-align: center;
				}

				.fp-jury-member__title{
					@include font('sans-c', 12,600);
					line-height: 16px;
					text-align: center;
					text-transform: uppercase;
				}

	.fp-apply{}

		.fp-form{
			margin-top: 60px;
			overflow: hidden;
			@include bp(mobile){
				margin-top: 40px;
			}
		}

			.fp-form__inner{
				overflow: hidden;
				margin: 0 -15px;
				width: calc(100% + 30px);
			}

			.input-wrapper{
				width: 50%;
				float: left;
				padding: 0 15px;
				margin-bottom: 30px;
				input{
					display: block;
					width: 100%;
					font-size: 14px;
					height: 50px;
					padding: 10px;
					line-height: 28px;
					border: 1px solid #ccc;
				}
				.label{
					@include font('sans', 14);
					display: block;
					text-transform: uppercase;
					line-height: 20px;
					@include bp(mobile){
						font-size: 12px;
					}
				}
				&.input-wrapper--submit{
					width: 100%;
					margin-top: 30px;
					margin-bottom: 0;
					button{
						@include font('sans', 14);
						@include transition(background-color, .3s, ease);
						display: block;
						width: 100%;
						border: 0;
						margin: 0;
						text-transform: uppercase;
						height: 50px;
						line-height: 50px;
						padding: 0 15px;
						background-color: #000;
						color: #fff;
						cursor: pointer;
						&:hover{
							background-color: #222;
						}
					}
					@include bp(mobile){
						margin-top: 10px;
					}
				}
				@media all and (max-width: 660px){
					width: 100%;
					float: none;
				}
			}

			.select-wrapper{
				position: relative;
				border: 1px solid #ccc;
				overflow: hidden;
				background-color: #fff;
				select{
					width: 100%;
					height: 48px;
					padding: 10px;
					line-height: 28px;
				    border: none;
				    box-shadow: none;
				    background-color: transparent;
				    background-image: none;
				    -webkit-appearance: none;
				       -moz-appearance: none;
				            appearance: none;
				}
				&:after{
					position: absolute;
					top: 0;
					right: 0;
					width: 50px;
					height: 100%;
					border-left: 1px solid #ccc;
					background-position: center;
					background-image: url('../images/va-arrow-down.svg');
					background-repeat: no-repeat;
					background-size: 12px auto;
					content: '';
				}
			}

.fp-jury-member__description
{
	display: none;
}
.fp-content
{
	&:not(.is-active)
	{
		display: none;
	}
}

.fb--content
{
	position: relative;
}

.fb-judge__information
{
	position: absolute;
	z-index: 2;
	left: 50%;
  
  width: 100%;
  max-width: 1000px;
  min-height: 100%;

  @include box;
  padding-bottom: 80px;

  background-color: #fff;

  @include opacity(0);
  visibility: hidden;
  pointer-events: none;

    -sand-transform: translateX(-50%);

  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
  				transform: translateX(-50%);

  @include transition(all,.3s,ease);

  &.is-active
  {
  	@include opacity(1);
  	visibility: visible;
  	pointer-events: auto;
  }

  .fp-jury__member
  {
  	float:none;
  	@include display_inline;
  	margin-right: 40px;
  }
  .fp-judge__information--content
  {
  	@include display_inline;
  	width: calc(66.666666% - 40px);

  	@media ( max-width: 770px)
  	{
  		width: 100%;
  	}
  }
}

.fp-sponsors
{
	margin-top: 35px;
	border-top: 1px solid $grey_08;
	padding-top: 35px;

	&[data-count='1']
	{
		.fp-sponsor
		{
			width: calc( 100% / 1 );
		}

	}

	&[data-count='2']
	{
		.fp-sponsor
		{
			width: calc( 100% / 2 );
		}

	}

	&[data-count='3']
	{
		.fp-sponsor
		{
			width: calc( 100% / 3 );
		}

	}

	&[data-count='4']
	{
		.fp-sponsor
		{
			width: calc( 100% / 4 );
		}

	}

	&[data-count='5']
	{
		.fp-sponsor
		{
			width: calc( 100% / 5 );
		}

	}

	&[data-count='6']
	{
		.fp-sponsor
		{
			width: calc( 100% / 6 );
		}

	}

	.fp-sponsor
	{
		@include display_inline;
		margin-bottom: 25px;
		@include box;
		padding-right: 20px;

		@media ( max-width: 810px )
		{
			width: 25% !important;
		}

		@media ( max-width: 670px )
		{
			width: 50% !important;
		}

		@media ( max-width: 375px )
		{
			width: 100% !important;
		}

	}

	.fp-sponsor__heading
	{
		@include font('sans',15,600);
	}

}


