.page{
	&.page--videos{
		.video--featured{
			@include bp(mobile){
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}

.hero{
	height: 50vh;
	min-height: 300px;
	max-height: 500px;
	position: relative;
	z-index: -1;

	background-color: $brand;

	@include bp(smallMobile){
		height: 225px;
		min-height: 225px;
		max-height: 225px;
	}
}

	.hero__bg{
		@include absolute();
		@include bg();
		z-index: 1;
	}

.pc{
	hr{
		width: 100%;
		max-width: 1140px;
		height: 1px;
		border: 0;
		background-color: $grey_03;
	}
}

.pc-header{
	font-size: 16px;
	margin-top: -5em;
	@include bp(tablet){
		font-size: 14px;
	}
	@include bp(mobile){
		font-size: 10px;
	}
	.search-form{
		@include bp(mobile){
			display: none;
		}
	}
}

	.pc-header__top{
		padding: 2.5em 15px;
		overflow: hidden;
		background-color: #fff;
		max-width: 760px;
		width: 95%;
		margin: auto;
		span{
			display: block;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			padding: 1em 0 0.5em 0;
		}
		@include bp(mobile){
			padding: 2.5em 15px 0 15px;
			width: 100%;
		}
	}

	.pc-header__title{
		@include font( 'serif' );
		font-size: 2.75em;
		text-align: center;
	}

	.pc-header__partner{
		display: block;
		width: 10em;
		height: auto;
		margin: auto;
		img{
			width: 100%;
			display: block;
		}
	}

.pc-social{
	text-align: center;
	margin-top: 15px;

	&.brand
	{
		a
		{
			color: $brand;
			&:hover
			{
				color: $white;
			}
		}
	}
	li{
		display: inline-block;
		margin: 0 10px;
		a{
			display: block;
			font-size: 18px;

			@include transition();
			img{
				display: block;
				height: 17px;
				width: auto;
			}
			&:hover{
				color: $gold;
			}
		}
	}

	&.in--post
	{
		text-align: left;

		li
		{
			margin: 0 10px 0 0;
			a
			{
				img
				{
					height: 12px;
					@include opacity(.4);
					@include transition(opacity,.2s,ease);
				}
				&:hover
				{
					img
					{
						@include opacity(1);
					}
				}
			}
		}
	}
}
