.sb-info__inner{
	overflow: hidden;
}

	.sb-info__left{
		padding: 50px 40px 50px 15px;
		width: 20%;
		float: left;
		overflow: hidden;
		.sb-info__title{
			display: none;
		}
		p{
			@include font('sans', 14);
			font-weight: bold;
			text-align: right;
			text-transform: uppercase;
			&:not(:last-of-type)
			{
				margin-bottom: 28px;
			}
			span{
				display: block;
				font-weight: normal;
			}
		}
		@include bp(mobile){
			width: 100%;
			padding: 40px 0;
			border-bottom: 1px solid $grey_03;
			p{
				text-align: left;
			}
			.sb-info__title{
				display: block;
			}
		}
	}

	.sb-info__content{
		padding: 50px 10vw 0 0;
		width: 80%;
		float: left;
		overflow: hidden;
		position: relative;
		@include bp(mobile){
			width: 100%;
			padding: 30px 0;
			border-bottom: 1px solid $grey_03;
		}
	}

		.sb-info__title{
			@include font('serif', 28);
			margin-bottom: 40px;
			@include bp(mobileUp){
				position: absolute;
				top: 20px;
				left: 0;
				width: 100%;
				margin-bottom: 0;
			}
		}

		.sb-info__text{
			overflow: hidden;
			margin-bottom: 24px;
		}

		.sb-info__more{
			display: inline-block;
			position: relative;
			left: 50%;

			-sand-transform: translateX(-50%);

			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
							transform: translateX(-50%);

			@include font('sans', 12, bold);
			text-transform: uppercase;

			cursor: pointer;

			i{
				display: block;
				width: 100%;

				text-align: center;
				color: $grey_03;
				font-size: 20px;
			}
		}

.sb-content-section{
	padding: 50px 0;
	overflow: hidden;
	&.sb-content-section--brands{
		.sb-content-section__items{
			margin: 0 -8px;
			width: calc(100% + 16px);
			@include bp(mobile){
				padding: 0 15px;
			}
			h1
			{
				top: 50%;
				-sand-transform: translateY( -50% );

				-webkit-transform: translateY( -50% );
				   -moz-transform: translateY( -50% );
				    -ms-transform: translateY( -50% );
								transform: translateY( -50% );
			}
		}
			.sb-content-section-item{
				width: calc(100% / 6);
				-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   			backface-visibility: hidden;
				a{
					padding-bottom: 125%;
				}
				.sb-content-section-item__bg{
					position: absolute;
					top: 0;
					left: 8px;
					right: 8px;
					height: 100%;
				}
				@include bp(mobile){
					width: calc(100% / 3);
					margin-bottom: 15px;
				}
				@include bp(smallMobile){
					width: 50%;
				}
			}
		@include bp(mobile){
			padding: 50px 0 35px 0;
		}
	}
	&.sb-content-section--people{
		.sb-content-section__items{
			@include bp(mobile){
				background-color: #0c0c0c;
				padding: 50px;
			}
		}
		.sb-content-section-item{
			width: 25%;
			a{
				padding-bottom: 65%;
			}
			.sb-content-section-item__bg{
				@include absolute();
			}
			@include bp(mobile){
				width: 50%;
			}
			@include bp(smallMobile){
				width: 100%;
			}
		}	
	}
	@include bp(mobile){
		margin: 0 -15px;
		width: calc(100% + 30px);
	}
}

	.section-hero{
		@include bg();
		padding-bottom: 40%;
		@include bp(mobile){
			padding-bottom: 60%;
		}
	}

	.sb-content-section__mid{
		padding: 50px 0;
		text-align: center;
		h1{
			@include font('serif', 60);
			text-align: center;
			@include bp(mobile){
				font-size: 42px;
			}
		}
		a{
			@include font('sans', 12);
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			margin-top: 15px;
			padding-right: 23px;
			svg{
				position: absolute;
				top: 50%;
				right: 0;
				width: 18px;
				height: auto;

				-sand-transform: translateY(-50%);

				-webkit-transform: translateY(-50%);
				   -moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%);
				@include transition();
			}
			&:hover{
				svg{
					-sand-transform: translateY(-50%) translateX(5px);

				  -webkit-transform: translateY(-50%) translateX(5px);
				     -moz-transform: translateY(-50%) translateX(5px);
				  		-ms-transform: translateY(-50%) translateX(5px);
				  				transform: translateY(-50%) translateX(5px);					
				}
			}
		}
	}

	.sb-content-section__items{
		overflow: hidden;
	}

		.sb-content-section-item{
			position: relative;
			float: left;
			overflow: hidden;
			a{
				display: block;
			}
			h1{
				@include font('serif', 18);
				position: absolute;
				bottom: 30px;
				left: 0;
				width: 100%;
				color: #fff;
				text-align: center;
				z-index: 2;
			}
			&:hover{
				.sb-content-section-item__bg{
					&:after{
						opacity: 0.75;
					}

				}			
			}
		}

			.sb-content-section-item__bg{
				@include bg();
				z-index: 2;
				&:after{
					@include absolute();
					@include transition(opacity, 0.4s, ease);
					background-color: #000;
					opacity: 0.5;
					z-index: 2;
					content: '';
				}

			}

			.sb-content-section-item__logo{
				position: absolute;
				top: 50%;
				left: 50%;

				-sand-transform: translateX(-50%) translateY(-50%);

				-webkit-transform: translateX(-50%) translateY(-50%);
				   -moz-transform: translateX(-50%) translateY(-50%);
						-ms-transform: translateX(-50%) translateY(-50%);
								transform: translateX(-50%) translateY(-50%);
				z-index: 2;
				max-width: 60%;
				// max-height: 40px;
				width: auto;
			}



.sb-promoted-area,
.sb-content--split
{
	@include display_inline;
}

.sb-content--split
{
		.container
		{
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
}
.sb-promoted-area__inner
{
	position: relative;

	display: block;
}


.sb-promoted-area
{
	width: 100%;
	height: 400px;

	&.area--runway
	{
		max-width: calc( 45% - 100px );
		margin-left: 100px;
	}

	&.area--series
	{
		max-width: calc( 32.5% - 100px );
		margin-right: 100px;

		& + .get--content
		{
			max-width: 67.5%;
		}

		a
		{
			display: block;
			width: 100%;
			height: 100%;

			transition: none !important;

			img
			{
				display: block;
				width: 100%;
			}

			&:hover
			{
				.series--tag__main
				{
					color: $brand;
				}

				.series--tag__count
				{
					color: $black;
				}

				.series--image:before
				{
					@include opacity( .25 );
				}

			}

		}

		.series--tag
		{
			position: relative;

			background-color: $grey_01;
		}

		.series--tag__main,
		.series--image:before
		{
			@include transition( all, .3s, ease );
		}

		.series--image
		{
			position: relative;

			&:before
			{
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				background-color: $white;

				opacity: 0;

				content: '';
			}

		}

		.series--tag__main
		{
			position: absolute;
			top: 50%;
			left: 0;

			display: block;
			width: 100%;

			color: $black;

			@include font( 'serif', 28 );

			text-align: center;

			-sand-transform: translateY( -50% );

			-webkit-transform: translateY( -50% );
			   -moz-transform: translateY( -50% );
			   	-ms-transform: translateY( -50% );
							transform: translateY( -50% );
		}

		.series--tag__count
		{
			position: absolute;
			left: 50%;
			bottom: 100%;

			@include font( 'sans-c', 14 );
			text-transform: uppercase;

			color: $black;

			-sand-transform: translateX( -50% );

			-webkit-transform: translateX( -50% );
			   -moz-transform: translateX( -50% );
			    -ms-transform: translateX( -50% );
							transform: translateX( -50% );
		}

	}

	@media ( max-width: 1025px )
	{
		display: none;
	}

}

.sb-content--split
{
	width: calc( 100% - 50px );
	max-width: 850px;

	@media ( min-width: 1025px )
	{
		.section--header
		{
			&.left--aligned
			{
				width: 100%;
				max-width: 300px;
			}
		}
	}

	&.width--max
	{
		max-width: 55%;
	}

	.post--list
	{
    &.narrow
    {
      width: 100%;
      max-width: 100%;

      .post--item
      {

        .post--image
        {
          max-width: 300px;

          @media all and (max-width: 680px){
          	max-width: 100%;
          }

        }

        .post--title
        {
          font-size: 24px;
        }

      }

      .container{
      	padding: 0;
      }

    }

	}

	@media ( max-width: 1025px )
	{
		width: 100%;
		max-width: 100%;

		&.width--max
		{
			max-width: 100%;
		}

		.post--list
		{
			&.narrow
			{
				max-width: 100%;
			}
		}

	}

	@media ( max-width: 680px )
	{
		.post--list
		{
			&.narrow
			{
				max-width: 100%;

				.post--item
				{
    				.post--image
    				{
    					max-width: 100%;
    				}
				}
			}
		}
	}

}


.area--runway
{

	.sb-promoted-area__inner
	{
		&:hover
		{
			.area--runway__image
			{
				&:before
				{
					@include opacity(.25);
				}
			}
			.area--runway__title
			{
				background-color: $brand;
			}
		}
	}

}


.area--runway__image
{
	position:relative;

	height: calc( 100% - 35px );
	width: 100%;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:before
	{
		position: absolute;
		top: 0;
		left: 0;

		display: block;
		width: 100%;
		height: 100%;

		background-color: $white;

		@include opacity(0);

		content: '';

		@include transition(all,.3s,ease);
	}

}

.area--runway__title
{
	position: absolute;
	bottom: 0;
	left: 30px;
	right: 30px;

	width: calc( 100% - 60px );
	@include box;
	padding: 30px;

	background-color: $black;

	text-align: center;
	text-transform: uppercase;

	@include transition( background-color, .3s, ease );

	.runway--category
	{
		color: $white;

		@include font('sans-c',13);
	}

	.runway--show
	{
		margin-top: 6px;
		display: block;
		color: $white;
		@include font('sans',20,'+');
		letter-spacing: 0.1em;
	}

}


.sb-gallery-item
{
	@include transition(all,.2s,ease);
	&.hide
	{
		@include opacity(0);
	}
	&.hidden
	{
		display: none;
	}
}

.search-form
{
	button
	{
		max-height: 50px;
	}
}

.pc__header
{
	position: relative;
	z-index: 5;
}

.vogue-collection__results
{
	position: absolute;
	left: 0;

	width: 100%;
	max-height: 300px;
  
  overflow: auto;

	background-color: $primaryBlack;

	.ui-autocomplete
	{
		height: auto;
		@include opacity(1);
	}

	.vogue-search-item
	{
		height: 60px;
		line-height: 60px;
		padding-left: 20px;
		padding-right: 20px;

		&.no-results
		{
			background-color: $grey_01;

			@include font('body',16);
			color: $black;
		}

		&:not(:last-of-type)
		{
			border-bottom: 1px solid $grey_04;
		}
		a
		{
			display: block;

			&:hover
			{
				.vogue-seach-item__name
				{
					color: $brand;
				}
			}
		}

		.vogue-seach-item__image,
		.vogue-seach-item__name
		{
			@include display_inline(middle);
		}

		.vogue-seach-item__image
		{
			width: 30px;
			height: 30px;
			border-radius: 100%;

			& + .vogue-seach-item__name
			{
				margin-left: 15px;
			}

		}
		
		.vogue-seach-item__name
		{
			@include font('body',16);
			color: $white;

			@include transition(all,.3s,ease);
		}

	}

}

.sb-gallery--profile-gallery
{
	.sb-gallery-item
	{
		overflow: hidden;

		&:after{
			@include absolute();
			right: 5px;
			left: 5px;
			@include transition(opacity, 0.4s, ease);
			background-color: #000;
			width: calc(100% - 10px );
			opacity: 0;
			z-index: 2;
			content: '';
			pointer-events: none;
		}

		&:hover
		{
			&:after
			{
				opacity: 0.5;
			}
		}
		img
		{
			position: absolute;
			left: 5px;
			width: auto;
			min-width:calc(100% - 10px );
			max-width: calc(100% - 10px );
			min-height: 100%;
			display: block;
		}
	}
}