.video--featured{
    text-align: center;

    padding-top: 15px;
    padding-bottom: 0;

    .post--snippet
    {
      width: 75%;
      margin: 0 auto;
      max-width: 700px;

      background-color: $grey_01;

      -sand-transform: translateY(-50%);

      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);

      padding-top: 6px;
      padding-right: 14px;
      padding-left: 14px;

      @include bp('mobile') {
        padding-right: 20px;
        padding-left: 20px;
      }

      .post--tag, .post--time{
        color: $grey_06;
      }

      @include bp(mobile){
        width: 90%;

      -sand-transform: translateY(-20px);

      -webkit-transform: translateY(-20px);
         -moz-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
              transform: translateY(-20px);

      }
    }
    @media all and (max-width: 1260px){
      margin: 0 -15px;
      width: calc(100% + 30px);
      padding-top: 0;
      padding-bottom: 0;
    }

}

.video-post-feed{
  width:100%;
  padding: 50px 0 100px 0;
  overflow: hidden;
  background-color:$grey_01;
  &.video-post-feed--single{
    background-color: $grey_01;
  }
}

  .video-posts{
    margin: 0 -15px;
    overflow: hidden;
    @include bp(mobile){
      margin: 0 -10px;
    }
  }

    .video-posts__filter{
      overflow: hidden;
      margin-bottom: 40px;
      @include bp(smallMobile){
        display: none;
      }
    }

      .toggle-filter{
        @include font('sans', 12);
        @include transition(all, .3s, ease);
        position: relative;
        line-height: 20px;
        text-transform: uppercase;
        color: #999;
        padding: 0 34px 0 15px;
        font-weight: 500;
        border-right: 1px solid #999;
        &:after{
          @include transition(all, .3s, ease);
          position: absolute;
          top: 50%;
          right: 15px;
          height: 6px;
          width: 6px;
          transform: translateY(-50%);
          border-radius: 50%;
          border: 1px solid #999;
          content: '';
        }
        &.is-active{
          color: #000;
          &:after{
            background-color: #000;
            border-color: #000;
          }
        }
        &:hover{
          color: $gold;
          &:after{
            border-color: $gold;
          }
          &.is-active{
            &:after{
              background-color: $gold;
            }
          }
        }
        &:last-child{
          border-right: 0;
        }
      }

    .video-post{
      width: calc(25% - 30px);
      margin: 0 15px 60px 15px;
      float: left;
      overflow: hidden;

      > a {
        display: block;
        position: relative;
        background: $grey_02;

        &:after
        {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          background: $white;
          content: '';
          @include opacity(0);
          @include transitions(opacity 0.5s ease);
        }

        &:hover
        {
          color: $brand;

          &:after
          {
            @include opacity(0.25);
          }

          & + .video-post__content {
            color: $brand;
          }
        }
      }

      &.video-post--m{
        .video-post__content{
          h2{
            font-size: 16px;
          }
        }
      }
      &.video-post--dark{
        .video-post__content{
          h2{
            color: #fff;
            font-weight: normal;
          }
        }
      }
      @include bp(mobile){
        width: calc(50% - 20px);
        margin: 0 10px 30px 10px;
      }
    }

    .video-post__thumb{
      padding-bottom: 60%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;

      img
      {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .video-post__content{
      a {
        &:hover {
          color: $brand;
        }
      }

      h2{
        @include font('sans', 14,'+');
        line-height: 1.2;
        margin-top: 10px;
      }
      .post--tag,
      span{
        display: block;
        margin-top: 5px;
        @include font( 'sans-c', 12, 600 );
        text-transform: uppercase;
        color: $gold;
      }
      a.post--tag {
        &:hover
        {
          color: $black;
        }
      }
      @include bp(smallMobile){
        span{
          display: none;
        }
      }
    }

/***** Video details *****/

.video-details{
  padding: 80px 0 50px 0;
  overflow: hidden;
  @include bp(mobile){
    padding: 0 0 50px 0;
  }
}

  .video-details__player{
    position: relative;
    @include bp(mobile){
      margin: 0 -15px;
      width: calc(100% + 30px);
    }
  }

    .video-details__video{
      position: relative;
      width: calc(100% - 200px);
      .video--container{
        width: 100%;
        margin-bottom: 0;
      }
      @include bp(mobile){
        width: 100%;
      }
    }

    .video-details-sidebar{
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      overflow: hidden;
      a{
        display: block;
      }
      @include bp(mobile){
        // display: none;
        // position:static;
        // top: calc(100% + 150px);
        width: 100%;
        .video-details-sidebar__inner
        {
          position: static;
          white-space: nowrap;
          overflow: auto;

          &::-webkit-scrollbar {
            height: 0 !important;
          }

          .video-details-sidebar__post
          {
            @include display_inline;
            width: calc(100vw - 106px);
            max-width: 270px;

            // I know it's meant for js only.. :(
            &.js-is-playing
            {
              &:before
              {
                @include opacity(.4);
              }
              &:hover
              {
                &:before
                {
                  @include opacity(0);
                }
              }
            }

            .video-details-sidebar__title
            {
              white-space: normal;
              padding-right: 40px;
            }
          }
        }
      }
    }

      .video-details-sidebar__inner{
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;

          -sand-transform: translate3d(0,0,0);

          -webkit-transform: translate3d(0,0,0);
             -moz-transform: translate3d(0,0,0);
              -ms-transform: translate3d(0,0,0);
                  transform: translate3d(0,0,0);

          &::-webkit-scrollbar {
            width: 5px;
            background-color: $grey_02;
          }
           
          &::-webkit-scrollbar-thumb {
            background-color: $gold;
          }
      }

      .video-details-sidebar__post{
        overflow: hidden;
        position: relative;
          cursor: pointer; 
          webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
          backface-visibility: hidden;
          img{
            display: block;
            width: 100%;
            height: auto;
            position: relative;
          }
          .video--container,
          .video-details-sidebar__text,
          ul,
          .js-get-credits
          {
            display: none;
          }

          .video-details-sidebar__title{
            @include transition();
          }
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.45);
            @include transition();
            content: '';
            z-index: 1;
          }       
          &.is-active{
            .video-details-sidebar__thumb{
              figcaption{
                @include opacity(1);
              }
            }
            .video-details-sidebar__title{
              @include opacity(0);
            }
          }
          &:not(.is-active)
          {
            &:hover{
              &:before{
                opacity: 0;
              }
            }
          }
          &.is-paused{
            .video-details-sidebar__title{
              @include opacity(0);
            } 

            .video-details-sidebar__thumb{
              figcaption
              {
                @include opacity(1);
                &:before
                {
                  display: none;
                }
                &:after
                {
                  content: 'Paused';
                }
              }
            }

          }

        }

        .video-details-sidebar__thumb{
          margin: 0;
          padding: 0;
          position: relative;
          img{
            display: block;
            width: 100%;
            height: auto;
            position: relative;
          }
          figcaption{
            @include opacity(0);
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;             
            @include font('sans-c', 12, 500);
            color: #fff;
            text-align: center;
            text-transform: uppercase;

            -sand-transform: translateY(-50%);

            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            z-index: 2;
            &:before{
              font-family: "FontAwesome";
              margin-right: 10px;
            }
            &:after
            {
              content: 'Playing Now';
            }

          }    
        }

        .video-details-sidebar__title{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px;
          @include font('sans-c', 12, 500);
          color: #fff;
          text-transform: uppercase;
          z-index: 2;
        }

  .video-details-content{
    width: calc(100% - 200px);
    overflow: hidden;
    padding-top: 15px;
    @include bp(tablet){
      width: 100%;
    }


    @include bp(mobile){
      .video-details-content__text
      {
        // margin-top: 190px;
      }
    }

    .video-details-content__title,
    .video-details-content__text
    {
      @include transition(all,.3s,ease);
    }

    &.temp-hide
    {
      .video-details-content__title
      {
        @include opacity(0);
      }

      &.hide-all
      {
        .video-details-content__text
        {
          @include opacity(0);
        }
      }
    }
  }

    .video-details-content__top{
      position: relative;
      overflow: visible;
       span{
        @include font('sans-c', 12, 600);
        text-transform: uppercase;
        display: block;
        color: $gold;
        margin-bottom: 5px;
      }
      @include bp(mobile){
        margin: 10px 0 5px 0;
        overflow: hidden;
        span{
          float: left;
        }
      }
    }

      .video-details__date{
        @include bp(mobile){
          position: relative;
          padding-left: 60px;
          &:before{
            position: absolute;
            top: calc(50% - 1px);
            height: 2px;
            left: 10px;
            width: 40px;
            background: $grey_03;
            content: '';
          }
        }
        @include bpmin(mobileUp){
          position: absolute;
          top: 0;
          right: 0;
        }
      }

    .video-details-content__title{
      @include font('serif', 28);
      @include bp(smallMobile){
        font-size: 26px;
      }
    }

    .video-details-content__text{
      @include font('sans', 14);
      line-height: 22px;
      color: $grey_06;
      margin-top: 20px;
    }

  .video-details__footer{
    padding-top: 40px;
    span{
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 15px;
    }
    @include bp(mobile){
      display: none;
    }
  }

    .video-details__share{
      float: left;
      margin-right: 15px;
      li{
        display: block;
        float: left;
        a{
          @include transition();
          display: block;
          margin-right: 15px;
          color: #000;
          font-size: 18px;
          &:hover{
            color: $gold;
          }
        }
      }
    }

    .video-details__credits{
      float: left;
      p{
        @include font('sans', 14);
        a{
          @include transition();
          text-decoration: underline;
          &:hover{
            color: $gold;
          }
        }
      }
    }
