/* ============================================================================

  COLOURS

===============================================================================

  - Set various global colours, including brand and general colours

===============================================================================

  COLOURS

============================================================================ */

$red: #fe0000;

$gold: #ba954e;

$brand: $gold;


/* ============================================================================

  GREY SCALE

============================================================================ */

$white: #fff;

$grey_01: #f7f7f7;
$grey_02: #ebebeb;
$grey_03: #cccccc;
$grey_04: #2c2c2c;
$grey_05: #231f20;
$grey_06: #999;
$grey_07: #7f7f7f;
$grey_08: #d2d2d2;
$grey_09: #a1a1a1;
$grey_10: #d5d5d5;
$grey_11: #ddd;
$grey_12: #ececec;

$black: #121212;
$primaryBlack: #0c0c0c;
