/* ============================================================================

  HEADER VARIABLES

============================================================================ */

$header_height: 295;

$header_strip_height: 45;

$branding_small_height: 28;
